.ct_buider_img_23 img {
  width: 100%;
}

.ct_close_modal {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  opacity: 1;
  z-index: 888;
}


/* Flip Text */

.ct_gradient_clr {
  background: linear-gradient(90.18deg, #3D40F6 18.49%, #D000FF 33.41%, #FF2929 56.34%, #FABB00 75.95%);

 
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.ct_link_chev_icon{
  width: 30px;
  height: 30px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}

.ct_img_box_img img{
  height: 442px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.ct_img_box_overlay_cnt {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex
;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 12px;
    width: 100%;
}
.ct_img_box_card{
  position: relative;
}

.ct_img_211{
  height: 209px !important;
}






.typewriter-wrapper {
  position: relative;
  width: 10ch; /* adjust as per longest line */
  height: 30px;
  overflow: hidden;
  font-family: monospace;
  font-size: 20px;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  border-right: 2px solid black;
  overflow: hidden;
  width: 0;
  opacity: 0;
}

/* Line 1 Animation */
.line1 {
  animation:
    typewriter 2s steps(7) 0s infinite,
    fadeInOut 6s infinite;
}

/* Line 2 Animation */
.line2 {
  animation:
    typewriter 2s steps(7) 2s infinite,
    fadeInOut 6s infinite;
}

/* Line 3 Animation */
.line3 {
  animation:
    typewriter 2s steps(7) 4s infinite,
    fadeInOut 6s infinite;
}

/* Typing Effect */
@keyframes typewriter {
  0% { width: 0 }
  30% { width: 7ch }
  100% { width: 7ch }
}

/* Fade In-Out Logic */
@keyframes fadeInOut {
  0%, 29% { opacity: 0; }
  30%, 60% { opacity: 1; }
  61%, 100% { opacity: 0; }
}


