.ct_minimise_cnt {
    box-sizing: border-box;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 400px;
    width: auto;
}
.ct_article_img img {
    
    aspect-ratio: 16 / 5 !important;
}
.ct_related_article_card{
    width: calc(100% - 30px);
}