<div class="ct_header_main">
      <app-header />
</div>

<!-- Inner Hero Content S -->
<section class="ct_py_70">
      <div class="container">
            <div class="row align-items-center">
                  <div class="col-lg-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_hero_banner_left_cnt">
                              <span class="ct_blog_badge">App</span>
                              <h1 class="ct_fs_44 ct_fw_700 ct_line_h_70">How to create an app from scratch (in 14
                                    comprehensive
                                    steps)</h1>


                              <div class="ct_aricle_user mt-3">
                                    <img loading="lazy" src="assets/img/blog_user.png" alt="AI app builder for mobile and web" class="ct_img_32">
                                    <div>
                                          <h6 class="ct_fs_16 ct_fw_600 mb-0">Courtney Henry</h6>
                                          <p class="mb-0 ct_fs_14">6 0ct 2023</p>
                                    </div>
                              </div>

                        </div>
                  </div>
                  <div class="col-lg-6 mb-4 mb-lg-0" data-aos="fade-left" data-aos-duration="1000">
                        <div class="ct_hero_right_main">
                              <div class="position-relative">
                                    <img loading="lazy" src="assets/img/blog_banner_right_img.png" alt="AI app builder for mobile and web" style="width: 60%;">
                              </div>

                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- Inner Hero Content E -->
<!-- Blog Section S -->
<section class="ct_py_70 pt-0">
      <div class="container">
            <div class="row" data-aos="fade-down" data-aos-duration="1000">
                  <div class="col-md-6 mx-auto">
                        <div class="position-relative ct_blog_search_input">
                              <input type="text" class="form-control" placeholder="Search the blog...">
                              <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                        <div class="d-flex align-items-center justify-content-center gap-3 ct_mt_34">
                              <div class="form-group">
                                    <select name="" id="" class="form-control ct_select_input ct_max_wdith_219">
                                          <option value="" disabled>Filter by industry</option>
                                          <option value="">All</option>
                                          <option value="">Hospitality</option>
                                          <option value="">Aviation</option>
                                          <option value="">Ecommerce</option>
                                    </select>
                              </div>
                              <div class="form-group">
                                    <select name="" id="" class="form-control ct_select_input ct_max_wdith_219">
                                          <option value="">Asia</option>
                                          <option value="">UK/Europe</option>
                                          <option value="">US</option>
                                          <option value="">Middle East</option>
                                    </select>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="row ct_mt_100">
                  <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down" data-aos-duration="1000">
                        <div class="ct_related_article_card ct_border_1_blue">
                              <figure>
                                    <div class="ct_article_img">
                                          <img loading="lazy" src="assets/img/related_img_1.png" alt="AI app builder for mobile and web">
                                    </div>
                                    <figcaption class="mt-4 px-3">
                                          <span>App</span>
                                          <h4 class="ct_fs_18 ct_fw_700 mt-3">How app ownership helps you achieve
                                                business
                                                independence
                                          </h4>
                                          <p class="mb-0 ct_fs_14">eCommerce websites and online marketplaces are
                                                globally the
                                                two most
                                                popular
                                                options for you to start your online business. With your own app, you’re
                                                in the
                                                driving seat.
                                          </p>

                                          <div class="ct_aricle_user mt-3">
                                                <img loading="lazy" src="assets/img/blog_user.png" alt="AI app builder for mobile and web" class="ct_img_32">
                                                <div>
                                                      <h6 class="ct_fs_16 ct_fw_600 mb-0">Courtney Henry</h6>
                                                      <p class="mb-0 ct_fs_14">6 0ct 2023</p>
                                                </div>
                                          </div>
                                    </figcaption>
                              </figure>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down" data-aos-duration="1000">
                        <div class="ct_related_article_card ct_border_1_blue">
                              <figure>
                                    <div class="ct_article_img">
                                          <img loading="lazy" src="assets/img/related_img_2.png" alt="AI app builder for mobile and web">
                                    </div>
                                    <figcaption class="mt-4 px-3">
                                          <span>App</span>
                                          <h4 class="ct_fs_18 ct_fw_700 mt-3">How app ownership helps you achieve
                                                business
                                                independence
                                          </h4>
                                          <p class="mb-0 ct_fs_14">eCommerce websites and online marketplaces are
                                                globally the
                                                two most
                                                popular
                                                options for you to start your online business. With your own app, you’re
                                                in the
                                                driving seat.
                                          </p>

                                          <div class="ct_aricle_user mt-3">
                                                <img loading="lazy" src="assets/img/blog_user.png" alt="AI app builder for mobile and web" class="ct_img_32">
                                                <div>
                                                      <h6 class="ct_fs_16 ct_fw_600 mb-0">Courtney Henry</h6>
                                                      <p class="mb-0 ct_fs_14">6 0ct 2023</p>
                                                </div>
                                          </div>
                                    </figcaption>
                              </figure>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down" data-aos-duration="1000">
                        <div class="ct_related_article_card ct_border_1_blue">
                              <figure>
                                    <div class="ct_article_img">
                                          <img loading="lazy" src="assets/img/related_img_3.png" alt="AI app builder for mobile and web">
                                    </div>
                                    <figcaption class="mt-4 px-3">
                                          <span>App</span>
                                          <h4 class="ct_fs_18 ct_fw_700 mt-3">How app ownership helps you achieve
                                                business
                                                independence
                                          </h4>
                                          <p class="mb-0 ct_fs_14">eCommerce websites and online marketplaces are
                                                globally the
                                                two most
                                                popular
                                                options for you to start your online business. With your own app, you’re
                                                in the
                                                driving seat.
                                          </p>

                                          <div class="ct_aricle_user mt-3">
                                                <img loading="lazy" src="assets/img/blog_user.png" alt="AI app builder for mobile and web" class="ct_img_32">
                                                <div>
                                                      <h6 class="ct_fs_16 ct_fw_600 mb-0">Courtney Henry</h6>
                                                      <p class="mb-0 ct_fs_14">6 0ct 2023</p>
                                                </div>
                                          </div>
                                    </figcaption>
                              </figure>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down" data-aos-duration="1000">
                        <div class="ct_related_article_card ct_border_1_blue">
                              <figure>
                                    <div class="ct_article_img">
                                          <img loading="lazy" src="assets/img/related_img_1.png" alt="AI app builder for mobile and web">
                                    </div>
                                    <figcaption class="mt-4 px-3">
                                          <span>App</span>
                                          <h4 class="ct_fs_18 ct_fw_700 mt-3">How app ownership helps you achieve
                                                business
                                                independence
                                          </h4>
                                          <p class="mb-0 ct_fs_14">eCommerce websites and online marketplaces are
                                                globally the
                                                two most
                                                popular
                                                options for you to start your online business. With your own app, you’re
                                                in the
                                                driving seat.
                                          </p>

                                          <div class="ct_aricle_user mt-3">
                                                <img loading="lazy" src="assets/img/blog_user.png" alt="AI app builder for mobile and web" class="ct_img_32">
                                                <div>
                                                      <h6 class="ct_fs_16 ct_fw_600 mb-0">Courtney Henry</h6>
                                                      <p class="mb-0 ct_fs_14">6 0ct 2023</p>
                                                </div>
                                          </div>
                                    </figcaption>
                              </figure>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down" data-aos-duration="1000">
                        <div class="ct_related_article_card ct_border_1_blue">
                              <figure>
                                    <div class="ct_article_img">
                                          <img loading="lazy" src="assets/img/related_img_2.png" alt="AI app builder for mobile and web">
                                    </div>
                                    <figcaption class="mt-4 px-3">
                                          <span>App</span>
                                          <h4 class="ct_fs_18 ct_fw_700 mt-3">How app ownership helps you achieve
                                                business
                                                independence
                                          </h4>
                                          <p class="mb-0 ct_fs_14">eCommerce websites and online marketplaces are
                                                globally the
                                                two most
                                                popular
                                                options for you to start your online business. With your own app, you’re
                                                in the
                                                driving seat.
                                          </p>

                                          <div class="ct_aricle_user mt-3">
                                                <img loading="lazy" src="assets/img/blog_user.png" alt="AI app builder for mobile and web" class="ct_img_32">
                                                <div>
                                                      <h6 class="ct_fs_16 ct_fw_600 mb-0">Courtney Henry</h6>
                                                      <p class="mb-0 ct_fs_14">6 0ct 2023</p>
                                                </div>
                                          </div>
                                    </figcaption>
                              </figure>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down" data-aos-duration="1000">
                        <div class="ct_related_article_card ct_border_1_blue">
                              <figure>
                                    <div class="ct_article_img">
                                          <img loading="lazy" src="assets/img/related_img_3.png" alt="AI app builder for mobile and web">
                                    </div>
                                    <figcaption class="mt-4 px-3">
                                          <span>App</span>
                                          <h4 class="ct_fs_18 ct_fw_700 mt-3">How app ownership helps you achieve
                                                business
                                                independence
                                          </h4>
                                          <p class="mb-0 ct_fs_14">eCommerce websites and online marketplaces are
                                                globally the
                                                two most
                                                popular
                                                options for you to start your online business. With your own app, you’re
                                                in the
                                                driving seat.
                                          </p>

                                          <div class="ct_aricle_user mt-3">
                                                <img loading="lazy" src="assets/img/blog_user.png" alt="AI app builder for mobile and web" class="ct_img_32">
                                                <div>
                                                      <h6 class="ct_fs_16 ct_fw_600 mb-0">Courtney Henry</h6>
                                                      <p class="mb-0 ct_fs_14">6 0ct 2023</p>
                                                </div>
                                          </div>
                                    </figcaption>
                              </figure>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down" data-aos-duration="1000">
                        <div class="ct_related_article_card ct_border_1_blue">
                              <figure>
                                    <div class="ct_article_img">
                                          <img loading="lazy" src="assets/img/related_img_1.png" alt="AI app builder for mobile and web">
                                    </div>
                                    <figcaption class="mt-4 px-3">
                                          <span>App</span>
                                          <h4 class="ct_fs_18 ct_fw_700 mt-3">How app ownership helps you achieve
                                                business
                                                independence
                                          </h4>
                                          <p class="mb-0 ct_fs_14">eCommerce websites and online marketplaces are
                                                globally the
                                                two most
                                                popular
                                                options for you to start your online business. With your own app, you’re
                                                in the
                                                driving seat.
                                          </p>

                                          <div class="ct_aricle_user mt-3">
                                                <img loading="lazy" src="assets/img/blog_user.png" alt="AI app builder for mobile and web" class="ct_img_32">
                                                <div>
                                                      <h6 class="ct_fs_16 ct_fw_600 mb-0">Courtney Henry</h6>
                                                      <p class="mb-0 ct_fs_14">6 0ct 2023</p>
                                                </div>
                                          </div>
                                    </figcaption>
                              </figure>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down" data-aos-duration="1000">
                        <div class="ct_related_article_card ct_border_1_blue">
                              <figure>
                                    <div class="ct_article_img">
                                          <img loading="lazy" src="assets/img/related_img_2.png" alt="AI app builder for mobile and web">
                                    </div>
                                    <figcaption class="mt-4 px-3">
                                          <span>App</span>
                                          <h4 class="ct_fs_18 ct_fw_700 mt-3">How app ownership helps you achieve
                                                business
                                                independence
                                          </h4>
                                          <p class="mb-0 ct_fs_14">eCommerce websites and online marketplaces are
                                                globally the
                                                two most
                                                popular
                                                options for you to start your online business. With your own app, you’re
                                                in the
                                                driving seat.
                                          </p>

                                          <div class="ct_aricle_user mt-3">
                                                <img loading="lazy" src="assets/img/blog_user.png" alt="AI app builder for mobile and web" class="ct_img_32">
                                                <div>
                                                      <h6 class="ct_fs_16 ct_fw_600 mb-0">Courtney Henry</h6>
                                                      <p class="mb-0 ct_fs_14">6 0ct 2023</p>
                                                </div>
                                          </div>
                                    </figcaption>
                              </figure>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-down" data-aos-duration="1000">
                        <div class="ct_related_article_card ct_border_1_blue">
                              <figure>
                                    <div class="ct_article_img">
                                          <img loading="lazy" src="assets/img/related_img_3.png" alt="AI app builder for mobile and web">
                                    </div>
                                    <figcaption class="mt-4 px-3">
                                          <span>App</span>
                                          <h4 class="ct_fs_18 ct_fw_700 mt-3">How app ownership helps you achieve
                                                business
                                                independence
                                          </h4>
                                          <p class="mb-0 ct_fs_14">eCommerce websites and online marketplaces are
                                                globally the
                                                two most
                                                popular
                                                options for you to start your online business. With your own app, you’re
                                                in the
                                                driving seat.
                                          </p>

                                          <div class="ct_aricle_user mt-3">
                                                <img loading="lazy" src="assets/img/blog_user.png" alt="AI app builder for mobile and web" class="ct_img_32">
                                                <div>
                                                      <h6 class="ct_fs_16 ct_fw_600 mb-0">Courtney Henry</h6>
                                                      <p class="mb-0 ct_fs_14">6 0ct 2023</p>
                                                </div>
                                          </div>
                                    </figcaption>
                              </figure>
                        </div>
                  </div>
            </div>

            <div class="text-center mt-5">
                  <button class="ct_blue_btn_fill ct_blue_outline_btn">Next</button>
            </div>

      </div>
</section>
<!-- Blog Section E -->

<!-- Got Question Section S -->
<div class="ct_got_question_bg" data-aos="fade-down" data-aos-duration="1000">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h1 class="ct_fs_44 ct_fw_700 mb-2 text-center ct_orange_text">Got Questions?
                        </h1>
                        <p class="mb-0 text-center">Head to our FAQ page for in-depth answers
                        </p>
                        <div class="text-center ct_mt_34">
                              <a routerLink="/FAQs" class="ct_blue_outline_btn">Read FAQs</a>
                        </div>
                  </div>

            </div>

      </div>
</div>
<!-- Got Question Section E -->
<app-footer />