<section class="ct_login_bg">
      <div class="ct_login_left_bg">
            <div class="ct_login_form">
                  @if (!otpVisible) {
                  <div class="mb-4 text-center">
                        <h4 class="ct_fs_35 ct_fw_600 mb-2">Forgot Password</h4>
                        <p class="mb-0 mt-3">Enter your registered email address, and we'll send you a verification code to reset your password.</p>
                  </div>

                  <form [formGroup]="forgotForm" (ngSubmit)="onSendOtp()" class="ct_mt_18">
                        <!-- Email Field -->
                        <div class="form-group mb-3">
                              <label class="ct_fw_400 mb-2 ct_fs_16 ct_fw_600">Email Address <span class="ct_red_text">*</span></label>
                              <div class="position-relative">
                                    <img loading="lazy" src="assets/img/message_icon.svg"
                                          alt="AI app builder for mobile and web" class="ct_left_input_icon">
                                    <input type="email" formControlName="email" class="form-control ct_input px-5"
                                          placeholder="Enter email address" />
                              </div>
                              <div *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.invalid"
                                    class="text-danger ct_fs_14 mt-1 d-block">
                                    <div *ngIf="forgotForm.get('email')?.errors?.['required']">
                                          Email address is required.
                                    </div>
                                    <div *ngIf="forgotForm.get('email')?.errors?.['email']">
                                          Please enter a valid email address.
                                    </div>
                              </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="mt-4">
                              <app-submit-button [text]="'Send OTP'" [isLoading]="isLoading"
                                    [class]="'ct_blue_btn_fill py-3 w-100'"></app-submit-button>
                        </div>

                        <!-- Back to Login Link -->
                        <p class="mb-0 mt-3 text-center">Already have an account?
                              <a routerLink="/login" class="ct_forgot_link d-inline-block">Sign In</a>
                        </p>
                  </form>
                  } @else {
                  <div class="text-center mb-4">
                        <h4 class="ct_fs_35 ct_fw_600 mb-2">Reset Password</h4>
                        <p class="mb-0 ct_text_op_5">Enter the verification code sent to {{ emailValue }} and set your new password.</p>
                  </div>

                  <form [formGroup]="resetForm" (ngSubmit)="onResetPassword()" class="ct_mt_18">
                        <!-- OTP Field -->
                        <div class="form-group mb-3">
                              <label class="ct_fw_400 mb-2 ct_fs_16 ct_fw_600">OTP Verification <span class="ct_red_text">*</span></label>
                              <nz-flex nzVertical class="justify-content-center">
                                    <nz-input-otp [nzLength]="6" [(ngModel)]="otp" [ngModelOptions]="{standalone: true}"
                                          (keypress)="restrictToNumbers($event)"></nz-input-otp>
                              </nz-flex>
                              <div *ngIf="isOtpSubmitted && !otp" class="text-danger ct_fs_14 mt-1 d-block">
                                    OTP is required.
                              </div>
                              <div class="mt-2">
                                    <p class="mb-0 ct_fs_14 ct_fw_500 text-center">
                                          Didn’t receive the code?
                                          <a class="ct_purple_link ct_fs_14" (click)="isResendDisabled ? null : resendOtp()"
                                                [class.disabled]="isResendDisabled">
                                                Resend OTP
                                          </a>
                                          <span *ngIf="isResendDisabled">({{ countdown }}s)</span>
                                    </p>
                              </div>
                        </div>

                        <!-- New Password Field -->
                        <div class="form-group mb-3">
                              <label class="ct_fw_400 mb-2 ct_fs_16 ct_fw_600">New Password <span class="ct_red_text">*</span></label>
                              <div class="position-relative">
                                    <img loading="lazy" src="assets/img/lock_icon.svg"
                                          alt="AI app builder for mobile and web" class="ct_left_input_icon">
                                    <input [type]="showNewPassword ? 'text' : 'password'" formControlName="password"
                                          class="form-control ct_input px-5" placeholder="Enter new password" />
                                    <button type="button"
                                          class="position-absolute end-0 top-50 translate-middle-y border-0 bg-transparent me-3"
                                          (click)="toggleNewPasswordVisibility()">
                                          <i class="fa" [ngClass]="showNewPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                                    </button>
                              </div>
                              <small class="text-danger ct_fs_14 mt-1 d-block"
                                    *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
                                    New password is required.
                              </small>
                        </div>

                        <!-- Confirm Password Field -->
                        <div class="form-group mb-3">
                              <label class="ct_fw_400 mb-2 ct_fs_16 ct_fw_600">Confirm New Password <span class="ct_red_text">*</span></label>
                              <div class="position-relative">
                                    <img loading="lazy" src="assets/img/lock_icon.svg"
                                          alt="AI app builder for mobile and web" class="ct_left_input_icon">
                                    <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
                                          class="form-control ct_input px-5" placeholder="Confirm new password" />
                                    <button type="button"
                                          class="position-absolute end-0 top-50 translate-middle-y border-0 bg-transparent me-3"
                                          (click)="toggleConfirmPasswordVisibility()">
                                          <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                                    </button>
                              </div>
                              <small class="text-danger ct_fs_14 mt-1 d-block"
                                    *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.invalid">
                                    <span *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">Confirm password is required.</span>
                              </small>
                              <small class="text-danger ct_fs_14 mt-1 d-block"
                                    *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.errors?.['passwordMismatch']">
                                    Passwords do not match.
                              </small>
                        </div>

                        <!-- Reset Password Button -->
                        <div class="mt-4">
                              <app-submit-button [text]="'Reset Password'" [isLoading]="isLoading"
                                    [class]="'ct_blue_btn_fill py-3 w-100'"></app-submit-button>
                        </div>

                        <!-- Back to Step 1 Link -->
                        <p class="mb-0 mt-3 text-center">
                              <a class="ct_forgot_link d-inline-block" style="cursor: pointer;" (click)="backToRequestOtp()">Back</a>
                        </p>
                  </form>
                  }
            </div>
      </div>
      <div class="ct_login_right_bg_1">
            <div class="ct_right_inner_bg_1">
                  <div class="ct_logo" routerLink="/">
                        <img loading="lazy" src="assets/img/cti_black_logo1.png" alt="Creative Ai"
                              style="max-width: 225px !important;">
                  </div>
                  <p class="ct_fw_600"><span class=" ct_fw_900">100K</span> Satisfied Clients</p>
            </div>
            <div class="ct_login_right_list">
                  <ul>
                        <li class="d-flex align-items-center gap-2 mb-2">
                              <i class="fa-regular fa-circle-check"></i>
                              <span class="text-white">Trusted by Businesses Worldwide</span>
                        </li>
                        <li class="d-flex align-items-center gap-2 mb-2">
                              <i class="fa-regular fa-circle-check"></i>
                              <span class="text-white">Zero Tech Knowledge Needed – Simple & Fast Setup</span>
                        </li>
                        <li class="d-flex align-items-center gap-2 mb-2">
                              <i class="fa-regular fa-circle-check"></i>
                              <span class="text-white">Creative AI – Your Trusted App Development Partner</span>
                        </li>
                  </ul>
            </div>
      </div>
</section>