.ct_login_right_bg_1 {
    /* background: #0064fff2; */
    background: url("../../../assets/img/Shiny_Overlay.svg");
    height: 100%;
    width: 100%;
    display: flex
;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
}
.ct_login_right_list li {
    background-color: #ffffff5e;
    padding: 15px;
    border-radius: 10px;
}
.ct_login_right_list i{
    color: #fff;
    font-size: 20px;
}
/* .ct_login_bg{
           display: flex;
           align-items: center;
           justify-content: center;

} */
.ct_right_inner_bg_1 {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      
}

.ct_right_inner_bg_1 p {
      color: #fff;
      font-size: 26px;
      margin-bottom: 30px;
}

.ct_login_right_bg_1 ul li {
      color: #282828;
      font-size: 14px;
      margin-block: 10px;
}

.ct_login_right_bg_1 li img {
      width: 20px;
}
.ct_fs_35{
      font-size: 35px;
}

.ct_logo {
      cursor: pointer;
}



