<app-header />
 <!-- Inner Hero Content S -->
      <div class="ct_py_70 ct_inner_hero_bg">
            <div class="container-fluid">
                  <div class="row align-items-center">
                        <div class="col-lg-12" >
                              <div class="ct_hero_banner_left_cnt text-center">
                                    <h1 class="ct_fs_44 ct_fw_700">Putting the AI into Creative
                                    </h1>
                                    <p class="ct_fs_18 ct_fw_500">How Vaanya streamlines your app project

                                    </p>

                                  
                              </div>

                        </div>

                  </div>

            </div>
      </div>
      <!-- Inner Hero Content E -->
       <hr class="ct_break_line">
<section class="ct_pt_50 ct_pb_50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fs_44 ct_fw_700 mb-3 text-center">
          Dream Big, Build Any Mobile App with
          <br />
          <span class="ct_orange_gredient_text">Creative Thoughts AI</span>
        </h2>
        <p class="text-center ct_fs_16">
          Unleash your creativity! With Creative Thoughts AI’s amazing mobile
          app builder, you can turn your vision for any mobile application into
          a reality—fully customized and loaded with features. We blend
          cutting-edge AI technology with expert development to create the app
          you need, and we do it faster and smarter:
        </p>
      </div>
    </div>
    <div class="row mt-5">
         <div class="col-md-6 mb-4">
        <div class="ct_types_app_card">
          <div class="ct_app_types_img">
            <img
              loading="lazy"
              src="assets/img/app_1.png"
              alt="AI-powered app and web development"
            />
          </div>
          <div class="ct_app_types_cnt">
            <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Retail & E-commerce</h3>
            <p class="ct_fs_14">
            Our mobile apps offer a seamless and personalized shopping experience, providing features like tailored product recommendations and easy checkout processes. These solutions help businesses enhance customer engagement, boost sales, and build lasting loyalty by offering a more intuitive, customer-centric approach to e-commerce.
            </p>
            <div class="mt-4">
              <a
                routerLink="/retail-ecommerce"
                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center"
                >Explore Retail & E-commerce App Development</a
              >
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-6 mb-4">
        <div class="ct_types_app_card">
          <div class="ct_app_types_img">
            <img
              loading="lazy"
              src="assets/img/app_1.png"
              alt="AI-powered app and web development"
            />
          </div>
          <div class="ct_app_types_cnt">
            <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">
              Financial-services
            </h3>
            <p class="ct_fs_14">
              Revolutionize banking with AI-powered apps and websites. Our smart
              financial solutions deliver secure, user-friendly platforms that
              streamline workflows, personalize experiences, and ensure
              compliance—making finance fast, easy, and reliable.
            </p>
            <div class="mt-4">
              <a
                routerLink="/financial-services"
                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center"
                >Discover Financial-services App Solutions</a
              >
            </div>
          </div>
        </div>
      </div>
       <div class="col-md-6 mb-4">
        <div class="ct_types_app_card">
          <div class="ct_app_types_img">
            <img
              loading="lazy"
              src="assets/img/app_3.png"
              alt="AI-powered app and web development"
            />
          </div>
          <div class="ct_app_types_cnt">
            <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Healthcare</h3>
            <p class="ct_fs_14">
              Develop innovative mobile healthcare solutions that improve
              patient care, streamline workflows, and enhance access to medical
              services. From appointment scheduling to remote monitoring apps,
              we build impactful tools for the healthcare industry.
            </p>
            <div class="mt-4">
              <a
                routerLink="/health-care"
                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center"
                >Explore Healthcare App Development</a
              >
            </div>
          </div>
        </div>
      </div>
 <div class="col-md-6 mb-4">
        <div class="ct_types_app_card">
          <div class="ct_app_types_img">
            <img
              loading="lazy"
              src="assets/img/app_3.png"
              alt="AI-powered app and web development"
            />
          </div>
          <div class="ct_app_types_cnt">
            <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Manufacturing</h3>
            <p class="ct_fs_14">
             We design mobile apps that streamline manufacturing processes, from real-time equipment monitoring to predictive maintenance and inventory management. These solutions help manufacturers increase operational efficiency, reduce downtime, and make data-driven decisions to stay ahead in a competitive market.
            </p>
            <div class="mt-4">
              <a
                routerLink="/manufacturing"
                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center"
                >Explore Manufacturing App Development</a
              >
            </div>
          </div>
        </div>
      </div>
       <div class="col-md-6 mb-4">
        <div class="ct_types_app_card">
          <div class="ct_app_types_img">
            <img
              loading="lazy"
              src="assets/img/app_2.png"
              alt="AI-powered app and web development"
            />
          </div>
          <div class="ct_app_types_cnt">
            <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Entertainment</h3>
            <p class="ct_fs_14">
              Create captivating and engaging mobile entertainment apps that
              connect users with content, experiences, and communities. From
              streaming platforms to gaming companions, we build immersive
              digital entertainment solutions.
            </p>
            <div class="mt-4">
              <a
                routerLink="/entertainment"
                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center"
                >Discover Entertainment App Solutions</a
              >
            </div>
          </div>
        </div>
      </div>
         <div class="col-md-6 mb-4">
        <div class="ct_types_app_card">
          <div class="ct_app_types_img">
            <img
              loading="lazy"
              src="assets/img/app_1.png"
              alt="AI-powered app and web development"
            />
          </div>
          <div class="ct_app_types_cnt">
            <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Education</h3>
            <p class="ct_fs_14">
              Transform learning experiences with engaging and interactive AI
              educational apps. From smart e-learning platforms to personalized
              skill development tools, our AI mobile app builder creates
              solutions that empower educators and inspire learners to achieve
              more.
            </p>
            <div class="mt-4">
              <a
                routerLink="/education"
                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center"
                >Explore Education App Development</a
              >
            </div>
          </div>
        </div>
      </div>
       <div class="col-md-6 mb-4">
        <div class="ct_types_app_card">
          <div class="ct_app_types_img">
            <img
              loading="lazy"
              src="assets/img/app_3.png"
              alt="AI-powered app and web development"
            />
          </div>
          <div class="ct_app_types_cnt">
            <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Telecom</h3>
            <p class="ct_fs_14">
             Our mobile apps simplify telecom service management, allowing users to easily track data usage, manage accounts, and access customer support. These solutions help telecom businesses enhance customer satisfaction, optimize billing, and improve service delivery, fostering stronger customer relationships and operational efficiency.
            </p>
            <div class="mt-4">
              <a
                routerLink="/telecom"
                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center"
                >Explore Telecom App Development</a
              >
            </div>
          </div>
        </div>
      </div>

 
   
      
      <div class="col-md-6 mb-4">
        <div class="ct_types_app_card">
          <div class="ct_app_types_img">
            <img
              loading="lazy"
              src="assets/img/app_1.png"
              alt="AI-powered app and web development"
            />
          </div>
          <div class="ct_app_types_cnt">
            <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Energy</h3>
            <p class="ct_fs_14">
             We develop mobile solutions for the energy sector that improve resource management, energy consumption tracking, and predictive maintenance. By providing real-time insights and optimizing operations, our apps help energy companies reduce costs, improve sustainability, and ensure reliable service for their customers.
            </p>
            <div class="mt-4">
              <a
                routerLink="/energy"
                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center"
                >Explore Energy App Development</a
              >
            </div>
          </div>
        </div>
      </div>
     

     
    
    </div>
   
  </div>
</section>
<hr class="ct_break_line" />

<!-- free demo Section S -->
<section class="ct_pt_50 ct_pb_50">
  <div class="container">
    <div class="col-md-12">
      <div class="ct_free_demo_bg">
        <h3 class="ct_fs_20 text-white text-center mb-2 ct_fw_6 00">
          Struggling to Choose?
        </h3>
        <h2 class="ct_fs_38 text-center text-white ct_fw_700 mb-2">
          Discover Your Ideal Development Plan in Minutes
        </h2>
        <p class="ct_fs_17 mb-0 text-center text-white">Quick & Easy Assessment</p>
        <div class="text-center mt-4">
          <a routerLink="/free-demo" class="ct_blue_btn_fill ct_white_btn "
            >Find My Perfect Plan</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- free demo Section S -->
<app-footer />