<section class="ct_py_100 pt-0 ct_px_100 ct_inner_banner">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-lg-9 col-md-8">
                        <h1 class="ct_fs_40 ct_fw_400 text-white mb-3">Terms Of Use</h1>
                        <p class="mb-0 ct_text_ccc ct_fs_20">
                              By using ZYNQ, you agree to our terms designed to protect both you and the integrity of
                              our platform. This page outlines your rights, responsibilities, and the conditions that
                              govern your use of our services.
                        </p>
                  </div>

            </div>
      </div>
</section>

<section class="ct_py_100 ct_px_100 ct_privacy_banner">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12 mb-4 ct_border_btm_1 pb-4">
                        <h4 class="ct_fs_20 ct_cyan_text ct_fw_400 ct_ff_maitree d-flex align-items-center gap-2">
                              <img src="img/personal_data_icon.svg" class="ct_icon_24" alt="" />Acceptance of
                              Terms
                        </h4>
                        <p class="mb-0 ct_text_ccc mt-3">Use of ZYNQ services implies acceptance of these terms.</p>
                  </div>
                  <div class="col-md-12 mb-4 ct_border_btm_1 pb-4">
                        <h4 class="ct_fs_20 ct_cyan_text ct_fw_400 ct_ff_maitree d-flex align-items-center gap-2">
                              <img src="img/processing_icon.svg" class="ct_icon_24" alt="" />User
                              Responsibilities
                        </h4>
                        <ul class="ct_policy_list">
                              <li>Provide accurate data</li>
                              <li>Use ZYNQ for lawful purposes only</li>

                        </ul>
                  </div>
                  <div class="col-md-12 mb-4 ct_border_btm_1 pb-4">
                        <h4 class="ct_fs_20 ct_cyan_text ct_fw_400 ct_ff_maitree d-flex align-items-center gap-2">
                              <img src="img/legal_icon.svg" class="ct_icon_24" alt="" />Intellectual Property
                        </h4>
                        <ul class="ct_policy_list">
                              <li>All content and tech belongs to ZYNQ</li>

                        </ul>
                  </div>
                  <div class="col-md-12 mb-4 ct_border_btm_1 pb-4">
                        <h4 class="ct_fs_20 ct_cyan_text ct_fw_400 ct_ff_maitree d-flex align-items-center gap-2">
                              <img src="img/data_retention.svg" class="ct_icon_24" alt="" />Limitations of
                              Liability
                        </h4>
                        <ul class="ct_policy_list">
                              <li>ZYNQ provides indicative analysis, not diagnosis</li>

                        </ul>
                  </div>
                  <div class="col-md-12 mb-4 ct_border_btm_1 pb-4">
                        <h4 class="ct_fs_20 ct_cyan_text ct_fw_400 ct_ff_maitree d-flex align-items-center gap-2">
                              <img src="img/third_party_icon.svg" class="ct_icon_24" alt="" />Termination
                        </h4>
                        <ul class="ct_policy_list">
                              <li>ZYNQ reserves the right to restrict access if terms are broken</li>

                        </ul>
                  </div>
                  <div class="col-md-12 mb-4 ct_border_btm_1 pb-4">
                        <h4 class="ct_fs_20 ct_cyan_text ct_fw_400 ct_ff_maitree d-flex align-items-center gap-2">
                              <img src="img/governing_icon.svg" class="ct_icon_24" alt="" />Governing Law
                        </h4>
                        <ul class="ct_policy_list">
                              <li>Swedish law governs these terms</li>

                        </ul>
                  </div>
                  <div class="col-md-12">
                        <h4 class="ct_fs_20 ct_cyan_text ct_fw_400 ct_ff_maitree d-flex align-items-center gap-2">
                              <img src="img/mail_data_icon.svg" class="ct_icon_24" alt="" />Contact
                        </h4>
                        <p class="mb-0 ct_text_ccc mt-0"><a href="mailto:info@zynq.io"
                                    class="ct_text_ccc">info&#64;zynq.io</a></p>
                  </div>
            </div>
      </div>
</section>