<div class="countdown">{{ countdown }}</div>
<div class="loader-wrapper">
      <div class="loader-c"></div>
      <div class="loader-ring"></div>
</div>
<div class="mt-0">
      <h4 class="ct_fs_24 ct_fw_700 text-center text-light">Payment Successful!</h4>
      <p class="text-center">Thank you for your payment. Your transaction has
            been
            completed.
      </p>
</div>
<h1 class="text-light">Your App is Getting Ready</h1>
<p [@fadeInOut] class="ct_fs_18">{{ loadingMessage }}</p>

<div class="support">
      <p>
            Having trouble?
            <a href="https://calendly.com/creativethoughts/30min" target="_blank">Book a Call</a><br />
            Contact Us:
            <a href="mailto:info@creativethoughtsinfo.com">info&#64;creativethoughtsinfo.com</a>
            <br />
            <a routerLink="/dashboard">Back to Dashboard</a>
      </p>
</div>