<section class="ct_dash_board_main">
      <app-sidebar></app-sidebar>
      <div class="ct_dash_right_content ct_white_bg_page h-auto">
            <div class="ct_dash_toggle_bar">
                  <i class="fa-solid fa-bars"></i>
            </div>
            <div class="container-fluid">
                  <div class="row">
                        <div class="col-md-12 gradient-background">
                              <div class="ct_inner_light_shadow_bg">
                                    <div>
                                          <div class="mx-auto text-center">

                                                <div class="mb-5">
                                                      <img src="assets/img/circle_git_123.gif" width="200px"
                                                            height="200px" style="object-fit: contain;" />

                                                </div>
                                          </div>
                                          <div class="mt-0">
                                                <h4 class="ct_fs_24 ct_fw_700 text-center">Payment Successful!</h4>
                                                <p class="text-center">Thank you for your payment. Your transaction has
                                                      been
                                                      completed.
                                                </p>
                                          </div>

                                    </div>
                                    <!-- <div class="ct_grey_bg ct_py_30 mt-5 ct_border_radius_20">
                                    <div class="container">
                                          <div class="row">
                                                <div class="col-md-12">
                                                      <div
                                                            class="d-flex align-items-center justify-content-between gap-3">
                                                            <p class="mb-0 ct_text_clr_374151">Transaction Amount</p>
                                                            <p class="mb-0 ct_text_clr_374151 ct_fw_600 text-end">
                                                                  $24,870.65</p>
                                                      </div>
                                                      <div
                                                            class="d-flex align-items-center justify-content-between gap-3 mt-2">
                                                            <p class="mb-0 ct_text_clr_374151">Transaction ID</p>
                                                            <p class="mb-0 ct_text_clr_374151 ct_fw_600 text-end">
                                                                  TXN-2024-01-10-8745
                                                            </p>
                                                      </div>
                                                      <div
                                                            class="d-flex align-items-center justify-content-between gap-3 mt-2">
                                                            <p class="mb-0 ct_text_clr_374151">Date & Time</p>
                                                            <p class="mb-0 ct_text_clr_374151 ct_fw_600 text-end">
                                                                  January 10, 2024 11:30
                                                                  AM
                                                            </p>
                                                      </div>

                                                </div>

                                          </div>

                                    </div>
                              </div> -->
                                    <div class="ct_timer_countdown_main countdown mt-5">
                                          <ul>
                                                <li>
                                                      <div class="ct_counter_clock_cnt">
                                                            <h2 id="days" class="mb-0">09</h2>
                                                      </div>
                                                      <h4 class="ct_fs_16 text-center ct_fw_600 mt-3 mb-0">Days</h4>
                                                </li>
                                                <li>
                                                      <div class="ct_counter_clock_cnt">
                                                            <h2 id="hours" class="mb-0">6</h2>
                                                      </div>
                                                      <h4 class="ct_fs_16 text-center ct_fw_600 mt-3 mb-0">Hours</h4>
                                                </li>
                                                <li>
                                                      <div class="ct_counter_clock_cnt">
                                                            <h2 id="minutes" class="mb-0">35</h2>
                                                      </div>
                                                      <h4 class="ct_fs_16 text-center ct_fw_600 mt-3 mb-0">Minutes</h4>
                                                </li>
                                                <li>
                                                      <div class="ct_counter_clock_cnt">
                                                            <h2 id="seconds" class="mb-0">12</h2>
                                                      </div>
                                                      <h4 class="ct_fs_16 text-center ct_fw_600 mt-3 mb-0">Seconds</h4>
                                                </li>

                                          </ul>

                                    </div>


                                    <div class="mt-5">
                                          <h4 class="ct_fs_24 ct_fw_700 text-center ct_red_text">What happens next?</h4>
                                          <ul class="mt-4">
                                                <li>
                                                      <h5 class="ct_fs_16 ct_fw_700 text-center">Team Contact</h5>
                                                      <p class="text-center">Our team will contact you within 24 hours.
                                                      </p>
                                                </li>
                                                <li class="mt-3">
                                                      <h5 class="ct_fs_16 ct_fw_700 text-center">Project Initiation</h5>
                                                      <p class="text-center">We'll discuss your requirements and project
                                                            timeline.</p>
                                                </li>
                                                <li class="mt-3">
                                                      <h5 class="ct_fs_16 ct_fw_700 text-center">Development Starts</h5>
                                                      <p class="text-center">Work begins after requirement confirmation.
                                                      </p>
                                                </li>
                                          </ul>
                                    </div>
                                    <div class="ct_grey_bg ct_py_30 mt-5 ct_border_radius_20"
                                          style="background-color: #f8fafc4d;">
                                          <div class="container">
                                                <div class="row">
                                                      <div class="col-md-12">
                                                            <h4 class="ct_fs_18 text-center">Need assistance?</h4>
                                                            <div class="mt-3">
                                                                  <p class="text-center ct_text_clr_4B5563"><i
                                                                              class="fa-solid fa-envelope"></i>
                                                                        support&#64;studio.creative.ai</p>
                                                                  <p class="text-center ct_text_clr_4B5563"><i
                                                                              class="fa-solid fa-phone"></i>
                                                                        +1 (555) 123-4567
                                                                  </p>
                                                            </div>
                                                      </div>

                                                </div>

                                          </div>
                                    </div>

                                    <div class="mt-5">
                                          <p class="mb-0 text-center ct_text_clr_4B5563"> <i
                                                      class="fa-solid fa-envelope-open-text me-2"></i>A
                                                confirmation email has been sent to
                                                your
                                                registered email address</p>
                                          <div class="text-center mt-5">
                                                <a routerLink="/dashboard" class="ct_blue_btn_fill py-3">Back to
                                                      Dashboard</a>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>

<!-- Mobile page section S -->
<section class="ct_mobile_section_main">
      <div class="ct_mobile_header_main_bg">
            <img loading="lazy" src="assets/img/cti_black_logo.svg" alt="AI app builder for mobile and web">
      </div>
      <div class="container">
            <div class="row">
                  <div class="col-md-12">

                        <div class="mt-4">
                              <h3 class="ct_fs_24 text-center ct_fw_700">Why it's worth heading to a desktop now</h3>
                              <p class="text-center">Our mobile site isn't the best place to order your app…yet.</p>

                              <div class="ct_grey_bg p-4 mt-3">
                                    <h6 class="ct_fs_16 ct_fw_700 mb-4">Go to your desktop now and Vanya, our AI can:
                                    </h6>
                                    <ul class="ct_list_style_dics">
                                          <li>Guide you to find all the app features you need</li>
                                          <li>Help you Start designing - get a feel of what your app could look like
                                          </li>
                                          <li>Give you a guaranteed price and accurate timeline</li>
                                    </ul>
                              </div>
                              <p class="mb-0 mt-3 text-center">Want to give it a try? Grab a bigger screen and let's
                                    bring
                                    your app to
                                    life!</p>

                              <div class="mt-5">
                                    <a href="index.html" class="ct_blue_btn_fill w-100">Return to Creative AI</a>
                              </div>
                        </div>

                  </div>

            </div>

      </div>
</section>
<!-- Mobile page section E -->



<!-- Refrsh page modal S -->

<div class="modal fade modal-lg" id="ct_refresh_page" tabindex="-1" aria-labelledby="ct_refresh_pageLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content  p-4">

                  <div class="modal-body  p-0">
                        <!-- You Need To Import Schedule Form here -->
                        <div class="ct_schedule_call_main12">

                              <h4 class="ct_fs_24 ct_fw_700 text-center mb-2">Are you sure you want to continue with
                                    this
                                    refresh?</h4>
                              <p class="mb-0 text-center">Doing so may result in the loss of your recent interactions
                                    and
                                    changes.
                              </p>

                              <div
                                    class="mt-4 text-center d-flex align-items-center flex-wrap gap-3 justify-content-center">
                                    <button class="ct_blue_outline_btn  justify-content-center"
                                          data-bs-dismiss="modal">Cancel</button>
                                    <button class="ct_blue_btn_fill  justify-content-center" data-bs-dismiss="modal"
                                          routerLink="/main">Proceed</button>
                              </div>



                        </div>
                  </div>

            </div>
      </div>
</div>
<!-- Refrsh page modal E -->