<div class="et_inner_dash_content mt-3">
      <div class="d-flex align-items-center justify-content-between gap-3 et_flex_direction_col_767   ">
            <h4 class="mb-0 ct_fs_24 ct_fw_700">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1262_1548)">
                              <mask id="mask0_1262_1548" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="24" height="24">
                                    <path d="M0 0H24V24H0V0Z" fill="white" />
                              </mask>
                              <g mask="url(#mask0_1262_1548)">
                                    <mask id="mask1_1262_1548" style="mask-type:luminance" maskUnits="userSpaceOnUse"
                                          x="0" y="0" width="24" height="24">
                                          <path d="M0 0H24V24H0V0Z" fill="white" />
                                    </mask>
                                    <g mask="url(#mask1_1262_1548)">
                                          <path d="M0 6C0 4.34314 1.34315 3 3 3H21C22.6569 3 24 4.34314 24 6V18C24 19.6569 22.6569 21 21 21H3C1.34315 21 0 19.6569 0 18V6ZM3 5C2.44772 5 2 5.44771 2 6V18C2 18.5523 2.44772 19 3 19H21C21.5523 19 22 18.5523 22 18V6C22 5.44771 21.5523 5 21 5H3Z"
                                                fill="black" />
                                          <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M0 10C0 10.5523 0.44772 11 1 11H23C23.5523 11 24 10.5523 24 10C24 9.44772 23.5523 9 23 9H1C0.44772 9 0 9.44772 0 10Z"
                                                fill="black" />
                                    </g>
                              </g>
                        </g>
                        <defs>
                              <clipPath id="clip0_1262_1548">
                                    <rect width="24" height="24" fill="white" />
                              </clipPath>
                        </defs>
                  </svg>
                  Buildcard
                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.9375 11C19.9375 13.3704 18.9959 15.6437 17.3198 17.3198C15.6437 18.9959 13.3704 19.9375 11 19.9375C8.62963 19.9375 6.35634 18.9959 4.68023 17.3198C3.00413 15.6437 2.0625 13.3704 2.0625 11C2.0625 8.62963 3.00413 6.35634 4.68023 4.68023C6.35634 3.00413 8.62963 2.0625 11 2.0625C13.3704 2.0625 15.6437 3.00413 17.3198 4.68023C18.9959 6.35634 19.9375 8.62963 19.9375 11Z"
                              stroke="#1B83C1" stroke-width="1.375" />
                        <path d="M15.125 11L8.9375 6.875V15.125L15.125 11Z" stroke="#1B83C1" stroke-width="1.375" />
                  </svg>


            </h4>

      </div>

      <div class="mt-4 pt-2">
            <div class="et_decorated_head">
                  <ul class="et_todo_tab_list px-5 pb-2">
                        <li>
                              <a routerLink="/user/buildcard" class=" mb-0 ct_fs_18  ">Overview</a>
                        </li>
                        <li>
                              <a routerLink="/user/feature-progress" class=" mb-0 ct_fs_18 ">Feature
                                    Progress</a>
                        </li>
                        <li class="active">
                              <a routerLink="/user/marketplace-integrations"
                                    class=" mb-0 ct_fs_18 ct_dark_blue_text ct_fw_700">Marketplace
                                    Integrations</a>
                        </li>
                  </ul>
            </div>



            <section>
                  <div class="mt-4">
                        <h4 class="ct_fs_18 ct_fw_700 mb-0">Marketplace integrations

                        </h4>
                        <p>Here you can manage all the Marketplace integrations you’ve chosen for your app.
                        </p>
                  </div>

                  <div class="row mt-4 pt-3">
                        <div class="col-lg-4 col-md-6 mb-4">
                              <div class="et_market_integration_card">
                                    <h4 class="ct_fs_18 mb-0 ct_fw_700">Azure Cloud Account
                                    </h4>
                                    <p class="ct_fs_14 ct_text_6B7280"><i class="fa-solid fa-calendar me-1"></i>Created
                                          09 Sep 2022
                                    </p>

                                    <ul>
                                          <li>
                                                <p class="mb-0 ct_fs_16 ct_fw_700">USERNAME</p>
                                                <p class="mb-0 ct_fs_18">-</p>
                                          </li>
                                          <li>
                                                <p class="mb-0 ct_fs_16 ct_fw_700">PASSWORD</p>
                                                <p class="mb-0 ct_fs_18">-</p>
                                          </li>
                                    </ul>
                                    <div class="mt-4 d-flex align-items-center gap-3">
                                          <a class="et_outline_blue_btn mt-0 et_border_radius_5" data-bs-toggle="modal"
                                                data-bs-target="#view_detail">View Detail</a>
                                          <a class="ct_blue_btn_fill">Go to account</a>
                                    </div>

                              </div>

                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                              <div class="et_market_integration_card">
                                    <h4 class="ct_fs_18 mb-0 ct_fw_700">Azure Cloud Account
                                    </h4>
                                    <p class="ct_fs_14 ct_text_6B7280"><i class="fa-solid fa-calendar me-1"></i>Created
                                          09 Sep 2022
                                    </p>

                                    <ul>
                                          <li>
                                                <p class="mb-0 ct_fs_16 ct_fw_700">USERNAME</p>
                                                <p class="mb-0 ct_fs_18">-</p>
                                          </li>
                                          <li>
                                                <p class="mb-0 ct_fs_16 ct_fw_700">PASSWORD</p>
                                                <p class="mb-0 ct_fs_18">-</p>
                                          </li>
                                    </ul>

                                    <div class="mt-4 d-flex align-items-center gap-3">
                                          <a class="et_outline_blue_btn mt-0 et_border_radius_5" data-bs-toggle="modal"
                                                data-bs-target="#view_detail">View Detail</a>
                                          <a class="ct_blue_btn_fill">Go to account</a>
                                    </div>

                              </div>

                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                              <div class="et_market_integration_card">
                                    <h4 class="ct_fs_18 mb-0 ct_fw_700">Azure Cloud Account
                                    </h4>
                                    <p class="ct_fs_14 ct_text_6B7280"><i class="fa-solid fa-calendar me-1"></i>Created
                                          09 Sep 2022
                                    </p>

                                    <ul>
                                          <li>
                                                <p class="mb-0 ct_fs_16 ct_fw_700">USERNAME</p>
                                                <p class="mb-0 ct_fs_18">-</p>
                                          </li>
                                          <li>
                                                <p class="mb-0 ct_fs_16 ct_fw_700">PASSWORD</p>
                                                <p class="mb-0 ct_fs_18">-</p>
                                          </li>
                                    </ul>

                                    <div class="mt-4 d-flex align-items-center gap-3">
                                          <a class="et_outline_blue_btn mt-0 et_border_radius_5" data-bs-toggle="modal"
                                                data-bs-target="#view_detail">View Detail</a>
                                          <a class="ct_blue_btn_fill">Go to account</a>
                                    </div>
                              </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                              <div class="et_market_integration_card">
                                    <h4 class="ct_fs_18 mb-0 ct_fw_700">Azure Cloud Account
                                    </h4>
                                    <p class="ct_fs_14 ct_text_6B7280"><i class="fa-solid fa-calendar me-1"></i>Created
                                          09 Sep 2022
                                    </p>
                                    <ul>
                                          <li>
                                                <p class="mb-0 ct_fs_16 ct_fw_700">USERNAME</p>
                                                <p class="mb-0 ct_fs_18">-</p>
                                          </li>
                                          <li>
                                                <p class="mb-0 ct_fs_16 ct_fw_700">PASSWORD</p>
                                                <p class="mb-0 ct_fs_18">-</p>
                                          </li>
                                    </ul>


                                    <div class="mt-4 d-flex align-items-center gap-3">
                                          <a class="et_outline_blue_btn mt-0 et_border_radius_5" data-bs-toggle="modal"
                                                data-bs-target="#view_detail">View Detail</a>
                                          <a class="ct_blue_btn_fill">Go to account</a>
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>
      </div>
</div>


<!-- View Detail S -->
<div class="modal fade" id="view_detail" tabindex="-1" aria-labelledby="view_detailLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                  <div class="modal-header border-0">
                        <h5 class="modal-title ct_fs_18 ct_fw_700" id="view_detailLabel">Azure Cloud Account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body pt-0">
                        <div>
                              <div>
                                    <h6 class="mb-3 ct_fw_700 ct_fs_18">Credentials:</h6>
                                    <p class="mb-2">nikhiljain&#64;ekobon.com</p>
                                    <p class="mb-0">ekobon123</p>
                              </div>
                        </div>
                  </div>
                  <div class="modal-footer border-0">
                        <button type="button" class="et_outline_blue_btn w-100" data-bs-dismiss="modal">Close</button>
                  </div>
            </div>
      </div>
</div>
<!-- View Detail E -->