<div class="owl-carousel owl-theme ct_related_article ct_dot_nav_hover">
  @for (item of blogData; track $index) {
  <div class="item">
    <div class="ct_related_article_card">
      <figure>
        <div class="ct_article_img" [routerLink]="'/blog-detail/' + item.slug">
          <img [src]="imageUrl + item.banner_image" alt="AI app builder for mobile and web"
            style="object-fit: contain;" />
        </div>
        <figcaption class="mt-4 px-3">
          <div>
            <p class="mb-0 ct_fs_14 ct_fw_600">{{item.post_date}}</p>

            <h4 class="ct_fs_18 ct_fw_700">
              {{item.title}}

            </h4>
            <p class="mb-0 ct_fs_14">
              {{item.description }}
            </p>
          </div>
          <div class="mt-auto">
            <button class="ct_blue_btn_fill w-100 mt-4" [routerLink]="'/blog-detail/' + item.slug">Learn More</button>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
  }
</div>