<!-- Header Section S -->
<div class="ct_header_main">
      <header class="container">
            <div class="ct_logo">
                  <a routerLink="/"><img loading="eager" src="assets/img/cti_black_logo.svg"
                              alt="AI-powered app and web development"></a>

            </div>
            <div class="ct_middle_navbar">
                  <nav>
                        <ul class="mb-0">
                              <li class="ct_close_bar">
                                    <i class="fa-solid fa-xmark"></i>
                              </li>
                        </ul>
                  </nav>
            </div>
            <div class="ct_right_menu">
                  <ul>
                        <li>
                              <a routerLink="/login">Sign In</a>
                        </li>
                        <li>
                              <a routerLink="/contact" class="ct_blue_outline_btn">Contact Us</a>
                        </li>
                        <li>
                              <div class="ct_hamburger" id="hamburger-12">
                                    <i class="fa-solid fa-bars"></i>
                              </div>
                        </li>
                  </ul>
            </div>
      </header>
</div>
<!-- Header Section E -->


<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border: 3px solid #1b83c1;background-color: #f5f5f5;">
                  <div class="modal-header modal-header pb-0 border-0">
                        <button type="button" class="btn-close ct_close_modal" data-bs-dismiss="modal"
                              aria-label="Close" #closeModal2></button>
                  </div>
                  <div class="modal-body px-5 mt-2">
                        <h2 class="mb-3 ct_fs_28 ct_fw_700 text-center" style="line-height: 30px;">
                              Thank you for your interest.
                        </h2>
                        <h4 class="mb-2 ct_fs_20  text-center" style="line-height: 30px;">
                              Due to an overwhelming number of inquiries, we have temporarily paused new client
                              onboarding. To schedule a call or express your interest,
                        </h4>

                        <h4 class="mb-0 ct_fs_20  text-center" style="line-height: 30px;"> Please complete the Contact
                              Us form our creative team will get back to you at the earliest opportunity.</h4>

                  </div>
                  <div class="modal-footer border-0 justify-content-center pb-5">
                        <button type="button" class="ct_blue_btn_fill" (click)="closeModal21()">Connect Now</button>
                  </div>
            </div>
      </div>
</div>