<div class="ct_header_main">
  <app-header />
</div>
<!-- Inner Hero Content S -->
<!-- Inner Hero Content S -->
<section class="pt-5 pb-0 ct_inner_hero_bg">
  <div class="container">
    <div class="row">
      <div
        class="col-md-8 mx-auto"
        
      >
        <div class="ct_inner_banner_w_bg">
          <h1 class="ct_fs_44 ct_fw_700 mb-2 text-center">
            About
            <span class="ct_orange_gredient_text">Creative.ai</span>
          </h1>
          <h2 class="ct_fs_18 mb-0 text-center">
            We believe the power of software can unlock every human’s potential
          </h2>
       
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner Hero Content E -->

<!-- Inner Hero Content E -->
<!-- Why are we here Section S -->
<section class="ct_py_70 pt-0" id="failure">
  <div class="container">
    <div class="row align-items-center ct_py_70 pb-0">
      <div class="col-md-10 mx-auto mb-md-0">
        <div class="ct_ceo_single_img">
          <img
            loading="lazy"
            src="assets/img/amitabout.jpg"
            alt="AI app builder for mobile and web"
            style="border-radius: 20px"
          />
          <div>
            <h4 class="ct_fs_28 mb-0 ct_fw_600">Amit Holkar</h4>
            <p class="mb-0">Founder & CEO</p>
          </div>
        </div>
        <div class="mt-4">
          <!-- <h5 class="ct_fs_20">
            <span class="ct_orange_gredient_text"
              >From Frustration to Innovation</span
            >
          </h5> -->
          <p>
           After nearly a decade in App and Product building, I and Aishwarya learned how broken the traditional development process could be—missed deadlines, communication gaps, and projects drifting away from the client’s vision. The frustration wasn’t just ours; our clients felt it too : <span class="ct_orange_gredient_text ct_fw_600">"behind every successful business, there isn’t just a great product or great people." — it’s the exceptional blend of both.</span>
          </p>

        
          <p>
           That’s when the spark hit: <span class="ct_orange_gredient_text ct_fw_600">What if building software could be as easy as ordering pizza? No delays, no miscommunication</span>—just a simple, transparent process that brings ideas to life effortlessly.
          </p>
          <p>
            Today, that spark has become <span class="ct_orange_gredient_text ct_fw_600">CreativeThoughts.ai</span>—an <span class="ct_orange_gredient_text ct_fw_600">AI-powered</span> platform that empowers anyone, from entrepreneurs to enterprises, to build software without the usual headaches. We’ve turned a decade of hard lessons into a mission: to simplify, democratize, and accelerate software creation for the world.
          </p>

          <p>
          We set out to help businesses—whether <span class="ct_orange_gredient_text ct_fw_600">small businesses, startups, or enterprises—turn ideas into reality.</span> We’ve seen firsthand the impact that streamlining the development process can have in creating high-performing, scalable, and reliable products.
          </p>
          <p>
            Since our launch, we’ve empowered over 500+ entrepreneurs and enterprises to build software using our AI-powered app builder—a perfect balance of 50% AI innovation and 50% human expertise, working together to deliver world-class results.
          </p>
          <p>At <span class="ct_orange_gredient_text ct_fw_600">CreativeThoughts.ai,</span> we’re not just building apps or products—we’re building possibilities and lasting relationships. For us, it’s never just about delivering software; it’s about creating real value.</p>
          <p>We created <span class="ct_orange_gredient_text ct_fw_600">Creative.ai</span> with one mission: to make building software as easy as ordering pizza—fast, simple, and hassle-free. And we can’t wait to see what you build next.</p>
          <p>Let’s build something world-class together.</p>
          <div class="ct_signature_png">
            <img
              loading="lazy"
              src="assets/img/amit_sir_signature.png"
              alt="amit_sir_signature"
            />

          </div>
          <p class="ct_fs_16 ct_fw_700">Amit Holkar <span class="d-block">Co-founder &amp; CEO, Creative.ai</span> </p>
        </div>
      </div>
      <!-- <div class="col-md-7 mb-5 mb-md-0 offset-md-1" >
            <div class="ct_flexible_serivce_cnt">
                  <h4 class="ct_fs_26 ct_fw_700 mb-3 ct_line_h_25">What's our purpose?
            
                  </h4>
                  <p class="mb-3 ct_fs_16  ct_line_h_25">Our founder, Amit, started this company with a
                        clear vision: to bring every business online at an affordable cost. But it was his
                        own frustrations—navigating the complex and often overwhelming process of turning
                        digital ideas into reality—that sparked a deeper insight.
            
                  </p>
                  <p class="mb-0 ct_fs_16  ct_line_h_25">
                        If seasoned tech professionals like him struggled to build software efficiently, how
                        could entrepreneurs with brilliant ideas and limited technical know-how stand a
                        chance?
                        This realization became the foundation of our mission: to simplify the software
                        development journey and make building digital solutions as easy and accessible as
                        ordering a pizza.
            
                  </p>
            </div>
            
            </div> -->
    </div>
  </div>
</section>
<hr class="ct_break_line" />
<!-- Why are we here Section E -->
<!-- Failure Leads Section S -->
<!-- <div class="ct_mb_80" >
   <div class="container">
         <div class="row">
               <div class="col-md-12">
                     <div class="d-flex align-items-start ct_failure_leads_tabs_12">
                           <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist"
                                 aria-orientation="vertical">
                                 <button class="nav-link active" id="v-pills-2016-tab" data-bs-toggle="pill"
                                       data-bs-target="#v-pills-2016" type="button" role="tab"
                                       aria-controls="v-pills-2016" aria-selected="true">
                                       <h4 class="ct_fs_20 ct_fw_700 ct_orange_gredient_text">2015</h4>
                                       <p class="mb-0">From Frustration to Innovation</p>
                                 </button>
                                 <button class="nav-link" id="v-pills-2017-tab" data-bs-toggle="pill"
                                       data-bs-target="#v-pills-2017" type="button" role="tab"
                                       aria-controls="v-pills-2017" aria-selected="false">
                                       <h4 class="ct_fs_20 ct_fw_700 ct_orange_gredient_text">2017</h4>
                                       <p class="mb-0">Creative Studio goes live</p>
                                 </button>
                                 <button class="nav-link" id="v-pills-2018-tab" data-bs-toggle="pill"
                                       data-bs-target="#v-pills-2018" type="button" role="tab"
                                       aria-controls="v-pills-2018" aria-selected="false">
                                       <h4 class="ct_fs_20 ct_fw_700 ct_orange_gredient_text">2019</h4>
                                       <p class="mb-0">Creative Now launches</p>
                                 </button>
   
                                 <button class="nav-link" id="v-pills-2020-tab" data-bs-toggle="pill"
                                       data-bs-target="#v-pills-2020" type="button" role="tab"
                                       aria-controls="v-pills-2020" aria-selected="false">
                                       <h4 class="ct_fs_20 ct_fw_700 ct_orange_gredient_text">2021</h4>
                                       <p class="mb-0">Recognised as ‘Visionary’
                                       </p>
                                 </button>
   
                                 <button class="nav-link" id="v-pills-2022-tab" data-bs-toggle="pill"
                                       data-bs-target="#v-pills-2022" type="button" role="tab"
                                       aria-controls="v-pills-2022" aria-selected="false">
                                       <h4 class="ct_fs_20 ct_fw_700 ct_orange_gredient_text">2023</h4>
                                       <p class="mb-0">World’s Most Innovative Companies
                                       </p>
                                 </button>
                                 <button class="nav-link" id="v-pills-2023-tab" data-bs-toggle="pill"
                                       data-bs-target="#v-pills-2023" type="button" role="tab"
                                       aria-controls="v-pills-2023" aria-selected="false">
                                       <h4 class="ct_fs_20 ct_fw_700 ct_orange_gredient_text">2025</h4>
                                       <p class="mb-0">We are rasing funds
                                       </p>
                                 </button>
   
                           </div>
                           <div class="tab-content ct_failure_leads_bg" id="v-pills-tabContent"
                                 data-sticky-class="is-sticky" data-sticky-wrap>
                                 <div class="tab-pane fade show active" id="v-pills-2016" role="tabpanel"
                                       aria-labelledby="v-pills-2016-tab">
                                       <div>
                                             <h4 class="ct_fs_26 ct_fw_700 text-white">From Frustration to Innovation
                                             </h4>
                                             <p class="ct_line_h_30 text-white">When Amit set out to build a simple
                                                   business website, he didn’t expect the biggest hurdle would be the
                                                   developers themselves. Missed deadlines, unclear communication,
                                                   and unreliable execution turned his idea into a frustrating
                                                   experience..</p>
   
                                             <p class="ct_line_h_30 text-white">
                                                   But instead of giving up, Amit had a brainwave: What if building
                                                   software didn’t have to be this hard?
                                             </p>
   
                                             <p class="ct_line_h_30 text-white">
                                                   That moment of failure became the foundation for a bigger mission
                                                   — to simplify and democratize software development for everyone,
                                                   not just tech experts. What began as one idea has since evolved
                                                   into a platform that helps anyone bring their digital vision to
                                                   life — without the usual complexity.
                                             </p>
   
                                             <ul class="mt-5">
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/code_box_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">App development
                                                               is broken</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/speaker_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Start a
                                                               revolution!</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/make_app_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Make apps
                                                               simple</p>
                                                   </li>
                                             </ul>
                                       </div>
                                 </div>
                                 <div class="tab-pane fade" id="v-pills-2017" role="tabpanel"
                                       aria-labelledby="v-pills-2017-tab">
                                       <div>
                                             <h4 class="ct_fs_26 ct_fw_700 text-white">Launch the First Version of
                                                   Creative
                                                   Studio
                                             </h4>
                                             <p class="ct_line_h_30 text-white">Easily choose the features you want
                                                   for your app,
                                                   with transparent estimates for cost and development time.</p>
   
                                             <ul class="mt-5">
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/light_brain_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Bring Ideas to
                                                               Life</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/transport_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Transparent
                                                               Costs</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/clock_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Precise
                                                               Deadlines</p>
                                                   </li>
                                             </ul>
                                       </div>
                                 </div>
                                 <div class="tab-pane fade" id="v-pills-2018" role="tabpanel"
                                       aria-labelledby="v-pills-2018-tab">
                                       <div>
                                             <h4 class="ct_fs_26 ct_fw_700 text-white">Empowering Possibilities with
                                                   Innovation
                                             </h4>
                                             <p class="ct_line_h_30 text-white">We’ve reached a milestone with
                                                   incredible support
                                                   to
                                                   advance our AI-driven journey, unlocking new horizons for
                                                   innovation.</p>
   
                                             <ul class="mt-5">
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/eos-icons_ai_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">AI Advancements
                                                         </p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/stash_target_icon.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Ambitious
                                                               Achievements</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/Streamlined_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Streamlined
                                                               Development</p>
                                                   </li>
                                             </ul>
                                       </div>
                                 </div>
                                 <div class="tab-pane fade" id="v-pills-2019" role="tabpanel"
                                       aria-labelledby="v-pills-2019-tab">
                                       <div>
                                             <h4 class="ct_fs_26 ct_fw_700 text-white">Leading Innovation for
                                                   Pandemic Recovery
                                             </h4>
                                             <p class="ct_line_h_30 text-white">Awarded for pioneering solutions to
                                                   support small
                                                   businesses during Covid-19. Our pre-built apps brought businesses
                                                   online
                                                   swiftly,
                                                   earning accolades like ‘Top AI Innovator.</p>
   
                                             <ul class="mt-5">
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/iconoir_trophy.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Recognized
                                                               Innovator</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/rocket_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Recognized
                                                               Innovator</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/eos-icons_ai_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">AI Excellence
                                                         </p>
                                                   </li>
                                             </ul>
                                       </div>
                                 </div>
                                 <div class="tab-pane fade" id="v-pills-2020" role="tabpanel"
                                       aria-labelledby="v-pills-2020-tab">
                                       <div>
                                             <h4 class="ct_fs_26 ct_fw_700 text-white">Acknowledged as a Pioneer</h4>
                                             <p class="ct_line_h_30 text-white">Creative Thoughts’ groundbreaking
                                                   approach to
                                                   building software has been honored as a ‘Pioneer’ in the industry
                                                   by a leading
                                                   global authority..</p>
   
                                             <ul class="mt-5">
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/hugeicons_ai-innovation-02.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Trailblazing
                                                               Platform</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/recognized_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Recognized
                                                               Globally</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/token_future.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Shaping the
                                                               Future</p>
                                                   </li>
                                             </ul>
                                       </div>
                                 </div>
                                 <div class="tab-pane fade" id="v-pills-2021" role="tabpanel"
                                       aria-labelledby="v-pills-2021-tab">
                                       <div>
                                             <h4 class="ct_fs_26 ct_fw_700 text-white">Accelerating Growth with $100M
                                                   Funding
                                             </h4>
                                             <p class="ct_line_h_30 text-white">With our Series C funding, we’re
                                                   advancing AI,
                                                   reaching new markets, and empowering more creators to bring their
                                                   ideas to life.
                                                   Proud winners of ‘Scaleup of the Year’ at The Europas.</p>
   
                                             <ul class="mt-5">
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/circum_medal_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Award-Winning
                                                               Growth Platform
                                                         </p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/emojione-monotone_world-map.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Global
                                                               Expansion</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/Inspiring_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Inspiring
                                                               Innovation</p>
                                                   </li>
                                             </ul>
                                       </div>
                                 </div>
                                 <div class="tab-pane fade" id="v-pills-2022" role="tabpanel"
                                       aria-labelledby="v-pills-2022-tab">
                                       <div>
                                             <h4 class="ct_fs_26 ct_fw_700 text-white">Democratizing Mobile App
                                                   Development
                                             </h4>
                                             <p class="ct_line_h_30 text-white">Recognized as one of the top 3 ‘Most
                                                   Innovative
                                                   Companies’ in AI by Fast Company, joining ranks with OpenAI and
                                                   DeepMind for
                                                   making
                                                   app development accessible to all.</p>
   
                                             <ul class="mt-5">
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/trophy_22_1.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Prestigious
                                                               Recognition</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/right_hexa_ixcon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Accessible
                                                               Development</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/hugeicons_ai-brain-03.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">AI Innovation
                                                               Leader</p>
                                                   </li>
                                             </ul>
                                       </div>
                                 </div>
                                 <div class="tab-pane fade" id="v-pills-2023" role="tabpanel"
                                       aria-labelledby="v-pills-2023-tab">
                                       <div>
                                             <h4 class="ct_fs_26 ct_fw_700 text-white">Unleashing Potential Through
                                                   Innovation
                                             </h4>
                                             <p class="ct_line_h_30 text-white">We’re excited to announce that
                                                   CreativeThoughts.ai is now raising funds to scale our next-gen
                                                   AI-powered software development platform. <br>
                                                   Our mission is to make building software as simple as sharing an
                                                   idea. With proven traction, a growing client base, and a vision to
                                                   empower businesses through AI-driven automation, we’re looking to
                                                   partner with forward-thinking investors who want to be part of the
                                                   future of no-code/low-code innovation.
                                                   If you're interested in exploring this opportunity and learning
                                                   more about our roadmap, we’d be glad to connect.</p>
   
                                             <ul class="mt-5">
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/Breakthroughs_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">AI
                                                               Breakthroughs</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/Ambitious_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white  text-center mt-2">Ambitious
                                                               Innovations</p>
                                                   </li>
                                                   <li>
                                                         <div class="ct_failure_icon_23">
                                                               <img loading="lazy" src="assets/img/Optimized_Development_icon_22.svg"
                                                                     alt="AI app builder for mobile and web">
                                                         </div>
                                                         <p class="mb-0 text-white text-center mt-2">Optimized
                                                               Development</p>
                                                   </li>
                                             </ul>
                                       </div>
                                 </div>
   
                           </div>
                     </div>
               </div>
         </div>
   
   </div>
   
   
   </div> -->
<!-- Failure Leads Section E -->
<!-- Where to next Section S -->
<!-- <section class="ct_dark_grey_bg ">
   <div class="ct_where_next_sec" >
         <video width="100%" height="617px" style="object-fit: cover;" loop autoplay muted>
               <source src="assets/itttt.mp4" type="video/mp4">
         </video>
         <div class="ct_where_next_overlay">
               <h3 class="ct_fs_44 ct_fw_700 text-center text-white">Want to launch your app like a rocket?</h3>
               <p class="mb-0 ct_fs_28 text-center text-white">Let CreativeThoughts.ai turn your idea into a fully functional app – fast, affordable, and code-free!
               </p>
   
             
         </div>
   </div>
   <div class="ct_btn_group justify-content-center ct_py_70" >
         <a routerLink="/free-demo" class="ct_blue_btn_fill">Connect with us</a>
         <a routerLink="/how-we-compare" class="ct_link_green ct_link_blue">Learn what makes us different</a>
   </div>
   </section> -->
<!-- Where to next Section E -->

<section class="ct_pt_50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fs_44 ct_fw_700 mb-5 text-center">
          What Drives Us -
          <span class="ct_orange_gredient_text">Our Core Values</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="ct_value_card">
          <figure>
            <div class="ct_value_card_icon">
              <img
                src="https://supersourcing.com/v4/img/icons/contract_hiring.webp"
                alt=""
              />
            </div>
            <figcaption>
              <h4 class="ct_fw_600 ct_fs_24 mb-2">
                Excellence in Talent - Building the Future with Top Performers
              </h4>
              <p class="mb-0">
                Exceptional talent powers innovation. At Supersourcing, we
                deliver the top 1% of developers who transform ideas into
                solutions. With AI-powered matching and a focus on innovation,
                we:
              </p>
              <ul class="mt-3">
                <li>
                  <i class="fa-solid fa-star-of-david"></i>Vet and onboard only
                  the best talent.
                </li>
                <li>
                  <i class="fa-solid fa-star-of-david"></i>Ensure the right fit
                  through AI-driven processes.
                </li>
                <li>
                  <i class="fa-solid fa-star-of-david"></i>Empower developers
                  and businesses to achieve their full potential.
                </li>
              </ul>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="ct_value_card">
          <figure>
            <div class="ct_value_card_icon">
              <img
                src="https://supersourcing.com/v4/img/icons/contract_hiring.webp"
                alt=""
              />
            </div>
            <figcaption>
              <h4 class="ct_fw_600 ct_fs_24 mb-2">
                Excellence in Talent - Building the Future with Top Performers
              </h4>
              <p class="mb-0">
                Exceptional talent powers innovation. At Supersourcing, we
                deliver the top 1% of developers who transform ideas into
                solutions. With AI-powered matching and a focus on innovation,
                we:
              </p>
              <ul class="mt-3">
                <li>
                  <i class="fa-solid fa-star-of-david"></i>Vet and onboard only
                  the best talent.
                </li>
                <li>
                  <i class="fa-solid fa-star-of-david"></i>Ensure the right fit
                  through AI-driven processes.
                </li>
                <li>
                  <i class="fa-solid fa-star-of-david"></i>Empower developers
                  and businesses to achieve their full potential.
                </li>
              </ul>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="ct_value_card">
          <figure>
            <div class="ct_value_card_icon">
              <img
                src="https://supersourcing.com/v4/img/icons/contract_hiring.webp"
                alt=""
              />
            </div>
            <figcaption>
              <h4 class="ct_fw_600 ct_fs_24 mb-2">
                Excellence in Talent - Building the Future with Top Performers
              </h4>
              <p class="mb-0">
                Exceptional talent powers innovation. At Supersourcing, we
                deliver the top 1% of developers who transform ideas into
                solutions. With AI-powered matching and a focus on innovation,
                we:
              </p>
              <ul class="mt-3">
                <li>
                  <i class="fa-solid fa-star-of-david"></i>Vet and onboard only
                  the best talent.
                </li>
                <li>
                  <i class="fa-solid fa-star-of-david"></i>Ensure the right fit
                  through AI-driven processes.
                </li>
                <li>
                  <i class="fa-solid fa-star-of-david"></i>Empower developers
                  and businesses to achieve their full potential.
                </li>
              </ul>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="ct_value_card">
          <figure>
            <div class="ct_value_card_icon">
              <img
                src="https://supersourcing.com/v4/img/icons/contract_hiring.webp"
                alt=""
              />
            </div>
            <figcaption>
              <h4 class="ct_fw_600 ct_fs_24 mb-2">
                Excellence in Talent - Building the Future with Top Performers
              </h4>
              <p class="mb-0">
                Exceptional talent powers innovation. At Supersourcing, we
                deliver the top 1% of developers who transform ideas into
                solutions. With AI-powered matching and a focus on innovation,
                we:
              </p>
              <ul class="mt-3">
                <li>
                  <i class="fa-solid fa-star-of-david"></i>Vet and onboard only
                  the best talent.
                </li>
                <li>
                  <i class="fa-solid fa-star-of-david"></i>Ensure the right fit
                  through AI-driven processes.
                </li>
                <li>
                  <i class="fa-solid fa-star-of-david"></i>Empower developers
                  and businesses to achieve their full potential.
                </li>
              </ul>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Say hello section S -->
<section class="ct_pt_50 ct_pb_50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fs_44 ct_fw_700 text-center">
          Meet <span class="ct_orange_gredient_text">Our Leaders</span>
        </h2>
      </div>
    </div>
    <div class="row pt-4 pb-0">
      <div class="col-lg-3 col-md-6 ct_mb_80 mb-lg-0">
        <div class="ct_say_hello_card">
          <div class="ct_say_hello_inner_grey">
            <div class="ct_say_hello_blue_bg">
             
              <img
                loading="lazy"
                src="assets/img/aishwarya.png"
                alt="AI app builder for mobile and web"
              />
              <a href="#">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </div>
            <div class="ct_say_hello_cnt">
              <h4 class="ct_fs_18 ct_fw_700 text-center mb-0">
               Aishwary Holkar
              </h4>
              <p class="ct_grey_text mb-0">Co-founder & CTO</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 ct_mb_80 mb-lg-0">
        <div class="ct_say_hello_card">
          <div class="ct_say_hello_inner_grey">
            <div class="ct_say_hello_blue_bg">
             
              <img
                loading="lazy"
                src="assets/img/gaurav.png"
                alt="AI app builder for mobile and web"
              />
              <a href="#">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </div>
            <div class="ct_say_hello_cnt">
              <h4 class="ct_fs_18 ct_fw_700 text-center mb-0">Gaurav Sharma</h4>
              <p class="ct_grey_text mb-0">Co-founder & CSO</p>
              <div class="ct_team_description_overlay"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 ct_mb_80 mb-lg-0">
        <div class="ct_say_hello_card">
          <div class="ct_say_hello_inner_grey">
            <div class="ct_say_hello_blue_bg">
             
              <img
                loading="lazy"
                src="assets/img/hr.png"
                alt="AI app builder for mobile and web"
              />
              <a href="#">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </div>
            <div class="ct_say_hello_cnt">
              <h4 class="ct_fs_18 ct_fw_700 text-center mb-0">Jyoti Dhanvai</h4>
              <p class="ct_grey_text mb-0">Chief Human Resources Officer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 ct_mb_80 mb-lg-0">
        <div class="ct_say_hello_card">
          <div class="ct_say_hello_inner_grey">
            <div class="ct_say_hello_blue_bg">
            
              <img
                loading="lazy"
                src="assets/img/madhus.png"
                alt="AI app builder for mobile and web"
              />
              <a href="#">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </div>
            <div class="ct_say_hello_cnt">
              <h4 class="ct_fs_18 ct_fw_700 text-center mb-0">
               Madhusudan Bairagi
              </h4>
              <p class="ct_grey_text mb-0">Chief Sales Officer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Say hello section E -->
<hr class="ct_break_line" />

<!-- Expert Team Section S -->
<section class="ct_pt_50 ct_pb_50">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ">
        <h2 class="ct_fs_44 ct_fw_700 text-center">
          Become part of the
          <span class="ct_orange_gredient_text">#InnovationMovement</span>
        </h2>
        <p class="text-center ct_fs_18">
          We are expanding rapidly and seeking talented individuals, just like
          you, to join our team.
        </p>
        <div class="text-center">
          <a routerLink="/careers" class="ct_link_green ct_link_blue"
            >Explore career opportunities</a
          >
        </div>
      </div>
    </div>
    <div class="pt-5">
      <div class="owl-carousel owl-theme ct_team_slider_1">
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo1.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo2.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo3.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo4.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        
         <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo17.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo18.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo19.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo20.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
         
         <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo7.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
          <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo8.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo27.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
         <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo28.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
      </div>
      <div class="owl-carousel owl-theme ct_team_slider_1">
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo9.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo10.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
         <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo21.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
          <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo22.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        
          <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo24.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo25.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo11.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
        <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo12.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
         <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo13.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
          <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo14.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
         <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo15.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
          <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo16.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
         <div class="item">
          <div class="ct_team_card">
            <img
              loading="lazy"
              src="assets/img/photo26.jpg"
              alt="AI app builder for mobile and web"
            />
          </div>
        </div>
      </div>
      
     
    </div>
  </div>
</section>
<!-- Expert Team Section E -->

<section  class=" ct_pb_50">
  <div  class="container">
    <div  class="col-md-12">
      <div  class="ct_free_demo_bg">
        <h3
          
          class="ct_fs_20 text-center text-white mb-2 ct_fw_600"
        >
          Need help to decide?
        </h3>
        <h2
          
          class="ct_fs_38 text-center ct_fw_600 text-white mb-2"
        >
          Find out which plan is right for you
        </h2>
        <p
          
          class="ct_fs_17 mb-0 text-center text-white"
        >
          In less than 60 seconds
        </p>
        <div  class="text-center mt-4">
          <a
            
            routerlink="/free-demo"
            class="ct_blue_btn_fill ct_white_btn"
            ng-reflect-router-link="/free-demo"
            href="/free-demo"
            >Get a free demo</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- As Feature In Section S -->
<section class="pt-0 ct_pb_50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="ct_fs_44 ct_fw_700 text-center">As featured in</h5>
        <div class="row pt-4">
          <div class="col-md-12">
            <div class="owl-carousel owl-theme ct_featured_slider ">
              <div class="item">
                <div class="ct_trusted_brand_logo">
                  <img
                    loading="lazy"
                    src="assets/img/brand_logo_1.png"
                    alt="AI app builder for mobile and web"
                  />
                </div>
              </div>
              <div class="item">
                <div class="ct_trusted_brand_logo">
                  <img
                    loading="lazy"
                    src="assets/img/brand_logo_2.png"
                    alt="AI app builder for mobile and web"
                  />
                </div>
              </div>
              <div class="item">
                <div class="ct_trusted_brand_logo">
                  <img
                    loading="lazy"
                    src="assets/img/brand_logo_6.png"
                    alt="AI app builder for mobile and web"
                  />
                </div>
              </div>
              <div class="item">
                <div class="ct_trusted_brand_logo">
                  <img
                    loading="lazy"
                    src="assets/img/brand_logo_5.png"
                    alt="AI app builder for mobile and web"
                  />
                </div>
              </div>
              <div class="item">
                <div class="ct_trusted_brand_logo">
                  <img
                    loading="lazy"
                    src="assets/img/brand_logo_4.png"
                    alt="AI app builder for mobile and web"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- As Feature In Section E -->
<app-footer />
