#mylogo{
  object-fit: contain;
}
.ct_mobile_w_screen {
    width: 144px !important;
    height: 304px;
    object-fit: cover;
    border-radius: 10px;
}

.ct_fw_600 {
    font-size: large;
}

.SubfeatursCount {
    height: 1rem;
    width: 1rem;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 11px;
}

section.ct_create_verticle_h_scroll_new {
    height: calc(100vh - 326px);
    overflow-y: auto;
}

.ct_help_user_table th {
    vertical-align: middle;
    position: sticky;
    top: 0px;
}

.ct_grid_60_auto_auto {
    /* display: grid;
    grid-template-columns: 50% auto auto auto auto; */
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
}

.ct_white_nowrap{
    white-space: nowrap;
}

.ct_help_user_table th {
    vertical-align: middle;
    background-color: #d3e1f5;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
}

a.ct_delete_icon {
    width: 30px;
    height: 30px;
    /* background-color: #e6e6e6; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #ff0000 !important;
}

.ct_help_user_table thead th {
    border: 0px;
}

.ct_help_user_table thead th:first-child {
    border-radius: 10px 0px 0px 10px;
}

.ct_help_user_table thead th:last-child {
    border-radius: 0px 10px 10px 0px;
}

table.table.ct_help_user_table {
    border-spacing: 0px 4px;
    border-collapse: separate;
}
.ct_table_column_change1{
    display: flex;
    align-items: start;
}
.ct_table_column_change1 tr {
    flex-direction: column;
    display: flex;
    flex: 1;
}
.ct_table_column_change1 ul li{
    padding: 10px .5rem;
}


.ct_table_column_change1 p {
    vertical-align: middle;
    background-color: #d3e1f5;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    padding: .5rem .5rem;
}
.ct_table_column_change1 td{
    padding: 0px;
}
@keyframes highlightGreen {
    0% {
        background-color: #17b400;
    }

    100% {
        background-color: transparent;
    }
}

.flash-added {
    animation: highlightGreen 2s ease-out;
}
