<!-- <app-discount-modal *ngIf="!isLoading"></app-discount-modal> -->
<app-bd-loader *ngIf="isLoading" [loadingText]="'Customizing Features'"></app-bd-loader>
<section class="ct_dash_board_main" [ngClass]="{'ct_show_sidebar' : showSidebar }" *ngIf="!isLoading">
   <app-sidebar></app-sidebar>
   <div class="ct_dash_right_content p-0 ct_white_bg_page">
      <div class="ct_dash_toggle_bar" (click)="showSidebar = !showSidebar">
         <i class="fa-solid fa-bars"></i>
      </div>
      <div class="d-flex ">
         <div class="ct_middile_sidebar">
            <div class="ct_cti_chat_box">

               <!-- code feature list S -->
               <div class="mt-4 mb-3">
                  <h4 class="ct_fs_22 ct_fw_600 d-flex align-items-center justify-content-between mb-0">
                     <span>All Features</span>
                  </h4>
                  <div class="ct_search_input" style="max-width: 350px;">
                     <input type="text" class="form-control" name="search2" (input)="searchCoreFeatures($event)"
                        placeholder="Search feature" autocomplete="off">
                     <i class="fa-solid fa-magnifying-glass"></i>
                  </div>
               </div>
               <div class="ct_code_features_list ct_mt_4">
                  <div class=" ct_feature_card_scroll">
                     @if (commongFeaturs.length > 0) {
                     @for (item of commongFeaturs; track trackByFeature($index, item)) {
                     <div class="ct_dragable_card_main_bg mt-0" [id]="'todoList'">
                        <h2 class="ct_fs_18 ct_fw_700 mb-0 d-flex align-items-center justify-content-between">
                           {{ item.featureName }}
                           @if (item.selected) {
                           <span class="btn btn-primary btn-sm float-right ms-auto  opacity-50">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                           </span>
                           } @else {
                           <span class="btn btn-primary btn-sm float-right ms-auto" (click)="selectFeature(item)">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                           </span>
                           }
                        </h2>
                        @for (items of item.subFeaturesList; track trackBySubFeature($index, items)) {
                        <div class="ct_feature_card_12 mt-2 position-relative"
                           [ngClass]="{'opacity-50' : items.selected}">
                           <div class="d-flex justify-content-between gap-3 w-100">
                              <h4 class="ct_fs_14 mb-0">
                                 {{ items.subFeatureName }}
                              </h4>
                              <span class="mb-0 ct_fs_14">{{ items.subFeaturedPrice | currency :
                                 'INR' }}</span>
                           </div>
                           <div class="ct_drag_icon12">
                              @if (items.selected) {
                              <i class="fa fa-plus" aria-hidden="true"></i>
                              }@else{
                              <i class="fa fa-plus" aria-hidden="true" style="cursor: pointer;"
                                 (click)="selectSubFeature(item,items)"></i>
                              }
                           </div>
                        </div>
                        }
                     </div>
                     }
                     }@else{
                     <p class="mb-0">No feature found</p>
                     }
                  </div>
               </div>
               <!-- code feature list E -->
            </div>
         </div>
         <div class="ct_middle_right_content flex-1">
            <div class="container mt-5">

               <div class="d-grid">
                  <div class="ct_step-container d-flex justify-content-between">
                     <div class=" ct_step-circle cursor-pointer" [routerLink]="['/main']">
                        <!-- <p class=" mb-0">1</p> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                           <path fill="#17b400" fill-rule="evenodd"
                              d="M12 21a9 9 0 1 0 0-18a9 9 0 0 0 0 18m-.232-5.36l5-6l-1.536-1.28l-4.3 5.159l-2.225-2.226l-1.414 1.414l3 3l.774.774z"
                              clip-rule="evenodd" />
                        </svg>
                        <p class="mb-0 ct_fs_14 ct_fw_600">Choose Base</p>
                     </div>
                     <div class=" ct_step-circle cursor-pointer" [routerLink]="['/make-it-mine/'+id]">
                        <!-- <p class=" mb-0">2</p> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                           <path fill="#17b400" fill-rule="evenodd"
                              d="M12 21a9 9 0 1 0 0-18a9 9 0 0 0 0 18m-.232-5.36l5-6l-1.536-1.28l-4.3 5.159l-2.225-2.226l-1.414 1.414l3 3l.774.774z"
                              clip-rule="evenodd" />
                        </svg>
                        <p class="mb-0 ct_fs_14 ct_fw_600">Make it Mine</p>
                     </div>
                     <div class=" ct_step-circle">
                        <p class=" mb-0">3</p>
                        <p class="mb-0 ct_fs_14 ct_fw_600">Refine Idea</p>
                     </div>
                     <div class=" ct_step-circle opacity-50">
                        <p class=" mb-0">4</p>
                        <p class="mb-0 ct_fs_14 ct_fw_600">Preview</p>
                     </div>
                     <!-- <div class=" ct_step-circle opacity-50">
                        <p class=" mb-0">5</p>
                        <p class="mb-0 ct_fs_14 ct_fw_600">Review Buildcard</p>
                     </div>
                     <div class=" ct_step-circle opacity-50">
                        <p class=" mb-0">6</p>
                        <p class="mb-0 ct_fs_14 ct_fw_600">Billing Details</p>
                     </div> -->
                  </div>
               </div>
               <div class="pt-0 pb-0">
                  <div class="ct_step">
                     <div class="pt-0">

                        <div class="tab-content " id="pills-tabContent">
                           <div class="tab-pane fade show active" id="pills-mob" role="tabpanel"
                              aria-labelledby="pills-mob-tab">
                              <!-- Step 2 form fields here -->
                              <div class="ct_make_it_mine_section_main position-relative">
                                 <div class="d-flex align-items-center d-none">
                                    <div class="position-relative ct_w_fit_content"
                                       style="max-width: 328px;width: 100%;">
                                       <img
                                          [src]="projectsData.projectLogo ? projectsData.projectLogo : 'assets/img/Frame1437253511.png'"
                                          alt="AI app builder for mobile and web"
                                          style="max-width: 328px;width: 100%; height: 203px; object-fit: cover; border-radius: 10px;">
                                       <div class="ct_mob_overlay_top_cnt_12">
                                          <div class="ct_add_logo_by_ai">
                                             <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="5.6658" cy="5.82644" r="5.13414" stroke="white"
                                                   stroke-width="0.789868" />
                                                <path d="M5.83104 3.45752V8.52584M3.29688 5.99168H8.3652" stroke="white"
                                                   stroke-width="0.724046" stroke-linecap="round"
                                                   stroke-linejoin="round" />
                                             </svg>
                                          </div>
                                          <h6 class="text-white ct_fs_14">
                                             {{projectsData.projectName}}
                                          </h6>
                                       </div>
                                    </div>
                                    <div class="ct_connecting_shape_res">
                                       <svg width="93" height="329" viewBox="0 0 93 329" fill="none"
                                          xmlns="http://www.w3.org/2000/svg">
                                          <path d="M4 164L73.8267 167.21C83.4362 167.652 91 175.572 91 185.191V328.5"
                                             stroke="#0F6697" stroke-width="4" />
                                          <path d="M1 164.5L70.8267 161.29C80.4362 160.848 88 152.928 88 143.309V0"
                                             stroke="#0F6697" stroke-width="4" />
                                       </svg>
                                    </div>
                                    <div class="ct_project_detail_point_list_2">
                                       @if(projectsFeaturs &&
                                       projectsFeaturs.length > 0){
                                       <ul>
                                          @for (item of
                                          projectsFeaturs.slice(0,3); track
                                          $index) {
                                          <li>{{item.featureName}}</li>
                                          }
                                       </ul>
                                       <ul>
                                          @for (item of
                                          projectsFeaturs.slice(3,6); track
                                          $index) {
                                          <li>{{item.featureName}}</li>
                                          }
                                       </ul>
                                       }
                                    </div>
                                 </div>
                                 <div class="ct_white_bottom_bg mt-5 pb-5 d-none ">
                                    <div class="d-flex align-items-center justify-content-between">
                                       <div class="d-flex align-items-center gap-5">
                                          <div>
                                             <span class="ct_text_clr_7F8188  ct_fs_14">MY
                                                APP</span>
                                             <p class="mb-0 mt-1 ct_fw_700">
                                                {{projectsData.projectName}}
                                             </p>
                                          </div>
                                          <div>
                                             <span class="ct_text_clr_7F8188 ct_fs_14">ESTIMATED
                                                DURATION</span>
                                             <p class="mb-0 mt-1 ct_fw_700">
                                                {{durations}}
                                                WEEKS
                                             </p>
                                          </div>
                                       </div>
                                       <div>
                                          <span class="ct_text_clr_7F8188 ct_fs_14">GRAND
                                             TOTAL
                                          </span>
                                          <p class="mb-0 mt-1 ct_fw_700">
                                             {{totalFeatureCost | currency
                                             :'INR'}}
                                          </p>
                                       </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between gap-3 mt-3">
                                       <button type="button" (click)="location.back()"
                                          class="ct_blue_outline_btn w-100 prev-step">Cancel</button>
                                       <a (click)="Navigate()" type="button"
                                          class="ct_blue_btn_fill next-step w-100">Save
                                          & Continue</a>
                                    </div>
                                 </div>
                                 <!-- overlay section S -->
                                 <div class="ct_project_show_section ct_my_creative_project_overlay_main">
                                    <section class="ct_create_verticle_h_scroll_new" style="overflow: auto;">
                                       <div class="container">
                                          <div class="row">
                                             <div class="col-md-12 px-0">
                                                <div class="mt-0">
                                                   <div class="bg-white">
                                                      <!-- <h6 class="ct_fs_16 ct_fw_700">Help users sign
                                                         up & login
                                                         </h6> -->

                                                      <div class="ct_search_input mb-3 ms-auto me-3"
                                                         style="max-width: 350px;">
                                                         <input type="text" class="form-control" name="search"
                                                            (input)="search($event)"
                                                            placeholder="Search project feature">
                                                         <i class="fa-solid fa-magnifying-glass"></i>
                                                      </div>
                                                      <div class="table-responsive" style="overflow-x: inherit;">
                                                         <table class="table ct_help_user_table ">
                                                            <!-- <thead> -->
                                                            <!-- <tr>
                                                                  <th class="pb-2 ">
                                                                   MVP Features
                                                                  </th>
                                                                
                                                                  <th class="">
                                                                     Additional Features
                                                                  </th>
                                                                  <th></th>
                                                               
                                                               </tr> -->
                                                            <!-- </thead> -->
                                                            <tbody class="ct_table_column_change1">

                                                               <tr>
                                                                  <td>
                                                                     <p>MVP Features</p>

                                                                     @if( projectsFeaturs && projectsFeaturs.length >
                                                                     0){
                                                                     @for (item of projectsFeaturs;
                                                                     track
                                                                     $index)
                                                                     {
                                                                     <div>
                                                                        <div class="d-flex align-items-center gap-2">
                                                                           <span class="SubfeatursCount">
                                                                              {{$index+1}}</span>
                                                                           <span
                                                                              class="ct_fs_18 ct_fw_700 mb-0 ct_white_nowrap">{{item.featureName}}</span>
                                                                        </div>
                                                                        <ul>
                                                                           @for
                                                                           (item2
                                                                           of
                                                                           item.subFeatures;
                                                                           track
                                                                           $index)
                                                                           {
                                                                           <li class="ct_fs_14">{{item2.subFeatureName}}
                                                                           </li>
                                                                           }
                                                                        </ul>
                                                                     </div>
                                                                     }
                                                                     }@else {
                                                               <tr>
                                                                  <td colspan="6" class="text-center">
                                                                     No
                                                                     data
                                                                     found
                                                                  </td>
                                                               </tr>
                                                               }
                                                               </td>
                                                               </tr>
                                                               <tr>
                                                                  <td>
                                                                     <p>Additional Features</p>
                                                                     @if( addtionalFeatures && addtionalFeatures.length
                                                                     > 0){
                                                                     @for (item of addtionalFeatures;
                                                                     track
                                                                     $index)
                                                                     {
                                                                     <div>
                                                                        <div [attr.data-feature-id]="item.id"
                                                                           [ngClass]="item.flashClass"
                                                                           class="d-flex align-items-center gap-2">
                                                                           <span class="SubfeatursCount">
                                                                              {{$index+1}}</span>
                                                                           <span
                                                                              class="ct_fs_18 ct_fw_700 mb-0 ct_white_nowrap">{{item.featureName}}</span>
                                                                        </div>
                                                                        <ul>
                                                                           @for
                                                                           (item2
                                                                           of
                                                                           item.subFeatures;
                                                                           track
                                                                           $index)
                                                                           {
                                                                           <li class="ct_fs_14">
                                                                              <div
                                                                                 class="d-flex align-items-center justify-content-between gap-2"
                                                                                 [attr.data-subfeature-id]="item2.id"
                                                                                 [ngClass]="item2.flashClass">
                                                                                 {{item2.subFeatureName}}
                                                                                 <i (click)="removeSubFeture(item, item2)"
                                                                                    class="fa-solid fa-trash-can text-danger"></i>
                                                                              </div>
                                                                           </li>
                                                                           }
                                                                        </ul>
                                                                     </div>
                                                                     }
                                                                     }@else {
                                                               <tr>
                                                                  <td colspan="6" class="text-start ct_fs_16 ct_fw_500">
                                                                     You haven’t added any additional features.<br>
                                                                     Explore the right side to enhance your app.
                                                                  </td>
                                                               </tr>
                                                               }

                                                               </td>

                                                               </tr>
                                                               <!-- <tr>
                                                                  <td>
                                                                     <div>
                                                                         <h4>User autejtoca</h4>
                                                                        
                                                                        <ul>
                                                                           <li>Login </li>
                                                                           <li>Signup </li>
                                                                        </ul>
                                                                     </div>
                                                                     <div>
                                                                         <h4>User autejtoca</h4>
                                                                        
                                                                        <ul>
                                                                           <li>Login </li>
                                                                           <li>Signup </li>
                                                                        </ul>
                                                                     </div>
                                                                     <div>
                                                                         <h4>User autejtoca</h4>
                                                                        
                                                                        <ul>
                                                                           <li>Login </li>
                                                                           <li>Signup </li>
                                                                        </ul>
                                                                     </div>
                                                                  </td>
                                                               </tr> -->


                                                               <!-- @if(
                                                               projectsFeaturs
                                                               &&
                                                               projectsFeaturs.length
                                                               >
                                                               0){
                                                               @for
                                                               (item
                                                               of
                                                               projectsFeaturs;
                                                               track
                                                               $index)
                                                               {
                                                               <tr [attr.data-feature-id]="item.id"
                                                                  [ngClass]="item.flashClass">
                                                                  <td>
                                                                     <div class="d-flex align-items-center gap-2">
                                                                        <span class="SubfeatursCount">
                                                                           {{$index+1}}
                                                                        </span>
                                                                        <span
                                                                           class="ct_fs_18 ct_fw_700 mb-0 ct_white_nowrap">{{item.featureName}}</span>
                                                                     </div>
                                                                  </td>
                                                                
                                                                  <td>
                                                                     <a class="ct_delete_icon"
                                                                        (click)="removeFeture(item)"><i
                                                                           class="fa-solid fa-trash-can"></i></a>
                                                                  </td>
                                                               </tr>
                                                               @for
                                                               (item2
                                                               of
                                                               item.subFeatures;
                                                               track
                                                               $index)
                                                               {
                                                               <tr [attr.data-subfeature-id]="item2.id"
                                                                  [ngClass]="item2.flashClass">
                                                                  <td>
                                                                     <span
                                                                        class="ct_fs_14">{{item2.subFeatureName}}</span>
                                                                  </td>

                                                                 
                                                          
                                                                  <td>
                                                                     <a class="ct_delete_icon"
                                                                        (click)="removeSubFeture(item,item2)"><i
                                                                           class="fa-solid fa-trash-can"></i></a>
                                                                  </td>
                                                               </tr>
                                                               }
                                                               }
                                                               }
                                                               @else
                                                               {
                                                               <tr>
                                                                  <td colspan="6" class="text-center">
                                                                     No
                                                                     data
                                                                     found
                                                                  </td>
                                                               </tr>
                                                               } -->
                                                            </tbody>

                                                         </table>
                                                      </div>
                                                   </div>

                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </section>
                                    <div style="border-top: 1px solid #e6e6e6;
                                       padding-top: 15px;
                                       margin-top: 15px;">
                                       <div class="ct_grid_60_auto_auto">
                                          <div class="d-flex align-items-center gap-5">
                                             <div>
                                                <span class="ct_text_clr_7F8188 ct_white_nowrap  ct_fs_14">MY
                                                   APP</span>
                                                <p class="mb-0 mt-1 ct_fw_700 ct_white_nowrap">
                                                   {{projectsData.projectName}}
                                                </p>
                                             </div>
                                             <div>
                                                <span class="ct_text_clr_7F8188 ct_fs_14 ct_white_nowrap">Total Project
                                                   Features</span>
                                                <p class="mb-0 mt-1 ct_fw_700 ct_white_nowrap">
                                                   {{noOfFeaturs}}
                                                </p>
                                             </div>
                                          </div>
                                          <!-- <div>
                                             <span class="ct_text_clr_7F8188  ct_fs_14 ct_white_nowrap">Total
                                                Cost
                                             </span>
                                             <p class="mb-0 mt-1 ct_fw_700 ct_white_nowrap">
                                                {{ (totalFeatureCost | convertCurrency:rate) || 0 }}
                                             </p>
                                          </div> -->

                                          <!-- <div class="">
                                             <span class="ct_text_clr_7F8188  ct_fs_14 ct_white_nowrap">Total
                                                Weeks
                                             </span>
                                             <p class="mb-0 mt-1 ct_fw_700 ct_white_nowrap">
                                                {{ durations }}
                                             </p>
                                          </div> -->
                                       </div>
                                       <div
                                          class="d-flex align-items-center justify-content-between gap-3 mt-3 ct_flex_col_575">
                                          <button type="button" (click)="location.back()"
                                             class="ct_blue_outline_btn w-100 prev-step">Cancel</button>

                                          <app-submit-button class="w-100" [isLoading]="isLoading2"
                                             [text]="'Save & Continue'" [class]="'ct_blue_btn_fill next-step w-100'"
                                             (click)="Navigate()"></app-submit-button>


                                       </div>
                                    </div>
                                 </div>
                                 <!-- overlay section E-->
                              </div>
                           </div>
                           <div class="tab-pane fade" id="pillsdesk" role="tabpanel" aria-labelledby="pillsdesk-tab">
                              <!-- Step 2 form fields here -->
                              <div class="ct_make_it_mine_section_main position-relative">
                                 <div class="d-flex justify-content-center">
                                    <div class="position-relative ct_w_fit_content">
                                       <img
                                          [src]=" projectsData.projectLogo ? projectsData.projectLogo:'assets/img/iPhone_14 Plus_.png'"
                                          alt="AI app builder for mobile and web" class="ct_mobile_w_screen">
                                       <div class="ct_mob_overlay_top_cnt_12">
                                          <div class="ct_add_logo_by_ai">
                                             <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="5.6658" cy="5.82644" r="5.13414" stroke="white"
                                                   stroke-width="0.789868" />
                                                <path d="M5.83104 3.45752V8.52584M3.29688 5.99168H8.3652" stroke="white"
                                                   stroke-width="0.724046" stroke-linecap="round"
                                                   stroke-linejoin="round" />
                                             </svg>
                                          </div>
                                          <h6 class="text-white ct_fs_14">
                                             {{projectsData.projectName}}
                                          </h6>
                                       </div>
                                    </div>
                                    <div class="ct_connecting_shape_res">
                                       <svg width="93" height="329" viewBox="0 0 93 329" fill="none"
                                          xmlns="http://www.w3.org/2000/svg">
                                          <path d="M4 164L73.8267 167.21C83.4362 167.652 91 175.572 91 185.191V328.5"
                                             stroke="#0F6697" stroke-width="4" />
                                          <path d="M1 164.5L70.8267 161.29C80.4362 160.848 88 152.928 88 143.309V0"
                                             stroke="#0F6697" stroke-width="4" />
                                       </svg>
                                    </div>
                                    <div class="ct_project_detail_point_list_2">
                                       @if (projectsFeaturs &&
                                       projectsFeaturs.length > 0) {
                                       <ul>
                                          @for (item of
                                          projectsFeaturs.slice(0,3); track
                                          $index) {
                                          <li>{{item.featureName}}</li>
                                          }
                                       </ul>
                                       <ul>
                                          @for (item of
                                          projectsFeaturs.slice(3,6); track
                                          $index) {
                                          <li>{{item.featureName}}</li>
                                          }
                                       </ul>
                                       }
                                    </div>
                                 </div>
                                 <div class="ct_white_bottom_bg mt-5 pb-5 ">
                                    <div class="ct_overlay_detail_icon_top">
                                       <i class="fa-solid fa-chevron-up"></i>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                       <div class="d-flex align-items-center gap-5">
                                          <div>
                                             <span class="ct_text_clr_7F8188  ct_fs_14">MY
                                                APP</span>
                                             <p class="mb-0 mt-1 ct_fw_700">
                                                {{projectsData | json}}
                                                {{projectsData.projectName}}
                                             </p>
                                          </div>
                                          <div>
                                             <span class="ct_text_clr_7F8188 ct_fs_14">ESTIMATED
                                                DURATION</span>
                                             <p class="mb-0 mt-1 ct_fw_700">
                                                17
                                                WEEKS
                                             </p>
                                          </div>
                                       </div>
                                       <div>
                                          <span class="ct_text_clr_7F8188 ct_fs_14">TOTAL
                                          </span>
                                          <p class="mb-0 mt-1 ct_fw_700">
                                             {{totalFeatureCost}}
                                          </p>
                                       </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between gap-3 mt-3">
                                       <button type="button" class="ct_blue_outline_btn w-100 prev-step">Cancel</button>
                                       <a (click)="Navigate()" type="button"
                                          class="ct_blue_btn_fill next-step w-100">Save
                                          &
                                          Continue</a>
                                    </div>
                                 </div>
                                 <!-- overlay section S -->
                                 <section class="ct_my_creative_project_overlay_main">
                                    <div class="ct_overlay_detail_icon_down">
                                       <i class="fa-solid fa-chevron-down"></i>
                                    </div>
                                    <div class="container">
                                       <div class="row">
                                          <div class="col-md-12">
                                             <!-- <div
                                                class="d-flex align-items-center justify-content-between gap-3 mt-5">
                                                <div class="ct_search_input">
                                                    <input type="text" class="form-control"
                                                        placeholder="Search feature">
                                                    <i class="fa-solid fa-magnifying-glass"></i>
                                                
                                                </div>
                                                <div>
                                                
                                                </div>
                                                </div> -->
                                             <div class="mt-5">
                                                <div>
                                                   <!-- <h6 class="ct_fs_16 ct_fw_700">Help users sign
                                                      up & login
                                                      </h6> -->
                                                   <table class="table ct_help_user_table">
                                                      <thead>
                                                         <tr>
                                                            <th class="pb-4">
                                                               <div class="ct_search_input ct_width_fit">
                                                                  <input type="text" class="form-control"
                                                                     placeholder="Search project feature">
                                                                  <i class="fa-solid fa-magnifying-glass"></i>
                                                               </div>
                                                            </th>
                                                            <th class="ct_fw_400 pb-4">
                                                               FEATURES
                                                            </th>
                                                            <th class="ct_fw_400 pb-4">
                                                               CUSTOMISATION
                                                            </th>
                                                            <th class="ct_fw_400 pb-4">
                                                               TOTAL
                                                               COST
                                                            </th>
                                                            <th class="ct_fw_400 pb-4">
                                                               QTY
                                                            </th>
                                                            <th>
                                                            </th>
                                                            <th>
                                                            </th>
                                                         </tr>
                                                      </thead>
                                                      <tbody>
                                                         @if(projectsFeaturs && projectsFeaturs.length > 0){
                                                         @for
                                                         (item
                                                         of
                                                         projectsFeaturs;
                                                         track
                                                         $index)
                                                         {
                                                         <tr>
                                                            <td>
                                                               <span class="ct_fw_600">{{item.featureName}}</span>
                                                            </td>
                                                            <td><span class="ct_fw_600">₹1,26,844.69</span>
                                                            </td>
                                                            <td><span class="ct_fw_600">₹1,26,844.69</span>
                                                            </td>
                                                            <td><span class="ct_fw_600">₹1,26,844.69</span>
                                                            </td>
                                                            <td><span class="ct_fw_600">₹1,26,844.69</span>
                                                            </td>
                                                            <td><span class="ct_fw_600">5
                                                                  HRS</span>
                                                            </td>
                                                            <td>
                                                               <div class="dropdown ct_table_action_drop">
                                                                  <i class="fa-solid fa-ellipsis-vertical"
                                                                     id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                                     aria-expanded="false"></i>
                                                                  <ul class="dropdown-menu"
                                                                     aria-labelledby="dropdownMenuButton1">
                                                                     <li><a class="dropdown-item">Delete</a>
                                                                     </li>
                                                                  </ul>
                                                               </div>
                                                            </td>
                                                         </tr>
                                                         }
                                                         }
                                                      </tbody>
                                                   </table>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </section>
                                 <!-- overlay section E-->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Mobile page section S -->
<section class="ct_mobile_section_main">
   <div class="ct_mobile_header_main_bg">
      <img loading="lazy" src="assets/img/cti_black_logo.svg" alt="AI app builder for mobile and web">
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="mt-4">
               <h3 class="ct_fs_24 text-center ct_fw_700">Why it's worth heading to a desktop now</h3>
               <p class="text-center">Our mobile site isn't the best place to order your app…yet.</p>
               <div class="ct_grey_bg p-4 mt-3">
                  <h6 class="ct_fs_16 ct_fw_700 mb-4">Go to your desktop now and Vanya, our AI can:
                  </h6>
                  <ul class="ct_list_style_dics">
                     <li>Guide you to find all the app features you need</li>
                     <li>Help you Start designing - get a feel of what your app could look like
                     </li>
                     <li>Give you a guaranteed price and accurate timeline</li>
                  </ul>
               </div>
               <p class="mb-0 mt-3 text-center">Want to give it a try? Grab a bigger screen and let's
                  bring
                  your app to
                  life!
               </p>
               <div class="mt-5">
                  <a href="index.html" class="ct_blue_btn_fill w-100">Return to Creative AI</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Mobile page section E -->
<!-- Refrsh page modal S -->
<div class="modal fade modal-lg" id="ct_refresh_page" tabindex="-1" aria-labelledby="ct_refresh_pageLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content  p-4">
         <div class="modal-body  p-0">
            <!-- You Need To Import Schedule Form here -->
            <div class="ct_schedule_call_main12">
               <h4 class="ct_fs_24 ct_fw_700 text-center mb-2">Are you sure you want to continue with
                  this
                  refresh?
               </h4>
               <p class="mb-0 text-center">Doing so may result in the loss of your recent interactions
                  and
                  changes.
               </p>
               <div class="mt-4 text-center d-flex align-items-center flex-wrap gap-3 justify-content-center">
                  <button class="ct_blue_outline_btn  justify-content-center" data-bs-dismiss="modal">Cancel</button>
                  <button class="ct_blue_btn_fill  justify-content-center" data-bs-dismiss="modal"
                     routerLink="/main">Proceed</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- loader page section S -->
<section class="ct_loader_page_section d-none">
   <div>
      <ul class="floatingBoxes">
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
      </ul>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-8 mx-auto">
            <h2 class="ct_fs_80 ct_fw_700 text-center">Here comes the fun bit!</h2>
            <p class="text-center mt-3">I’ve found <span class="ct_feature_icon_234">-</span> features
               that’ll
               bring
               your idea to life
            </p>
            <div class="row mt-5">
               <div class="col-md-4">
                  <div class="ct_cti_chat_animate_round text-end ct_width_fit_content m-sm-auto mx-auto">
                     <img loading="lazy" src="assets/img/circle_git_123.gif" alt="AI app builder for mobile and web"
                        style="max-width: 200px;">
                     <span pan class="ct_fs_14" style="left: 0px;right: auto;">IN TRAINING</span>
                  </div>
               </div>
               <div class="col-md-8">
                  <div class="ct_fun_progress_list">
                     <ul>
                        <li>Planning your app</li>
                        <li>Creating your user journeys</li>
                        <li>Adding your colours and logo</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>