.preview-image {
    height: 103px;
    border-radius: 10px;
}

.ct_mobile_w_screen {
    width: 144px !important;
    height: 304px;
    object-fit: cover;
    border-radius: 10px;
}

.colorPickdr {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
}

.ct_add_logo_by_ai {
    resize: both;
    overflow: auto;
}