.preview-image {
  height: 103px;
  border-radius: 10px;
  object-fit: contain;
}

#mylogo {
  object-fit: contain !important;
}

.ct_mobile_w_screen {
  width: 144px !important;
  height: 304px;
  object-fit: cover;
  border-radius: 10px;
}

.colorPickdr {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
}

.ct_add_logo_by_ai {
  resize: both;
  overflow: auto;
}

.ct_flex_shrink_0 {
  flex-shrink: 0;
}

.ct_mobile_app_builder {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.laptop-wrap {
  width: 80%;
  /* responsive width */
  max-width: 800px;
  /* control max size */
  margin: 0px auto;
  text-align: center;
}

/* .laptop-wrap img{
    width: 100%;
  height: auto;
  display: block;
} */
#laptop_screen {
  position: relative;
  background: #111;
  border: 12px solid #222;
  border-radius: 26px 26px 0 0;
  overflow: hidden;
  aspect-ratio: 16 / 10;
  width: calc(100% - 50px);
  height: 100%;
  left: 0px;
  right: 0px;
  margin-inline: auto;
  top: 0px;
}

#ct_iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  border-radius: 4px;
}

.laptop-wrap .base {
  width: 100%;
  height: 14px;
  background: #222;
  border-radius: 0 0 8px 8px;
  margin: 0 auto;
}

.laptop-wrap .shadow {
  width: 60%;
  height: 6px;
  background: rgba(0, 0, 0, 0.3);
  margin: 8px auto 0;
  border-radius: 50%;
  filter: blur(2px);
}

.ct_moc_clip_mask_main234 {
  position: relative;
  width: 275px;
  height: 500px;
  border-radius: 40px;
  background: #1e1e1e;
  padding: 10px;
  box-shadow: 0 0 0 4px #2e5eff, 0 8px 20px rgba(0, 0, 0, 0.6);
}

.ct_moc_clip_mask_main234:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background: #fff;
  /* border-bottom-left-radius: 20px; */
  /* border-bottom-right-radius: 100px; */
  z-index: 5;
  border-radius: 100px;
  border: 6px solid #000;
}

.ct_mob_overlay_top_cnt_new_12344 {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  background: #000;
}

.ct_mob_overlay_top_cnt_new_12344 iframe {
  /* width: 100%;
  height: 100%;
  border: none;
  transform: scale(1);          
  transform-origin: top left;  */
  width: 420px;
  height: 750px;
  border: none;
  transform: scale(0.65);
  transform-origin: top left;
}

/* .ct_screens_black_bg_12 {
  background-color: #aaa !important;
} */

@media screen and (max-width:1400px) {
  .ct_mobile_app_builder {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}

.et_logo_cener_5677 {

  /* background-color: #fff; */


  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
}

.et_logo_cener_5677 h2 {
  font-size: 24px;
  margin-top: 10px;
  font-weight: 700;
  white-space: nowrap;
}

.et_logo_cener_5677 img {
  width: 80px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  padding: 0px;
}

.ct_screens_black_bg_12 {
  background-color: #f5f5f5;
}

/* .ct_mob_overlay_top_cnt_new_12344 h2 {
  position: absolute;
  top: 43%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-weight: 800;
  font-size: 28px;
  white-space: nowrap;
} */

/* .ct_mob_overlay_top_cnt_12 h2 {
  position: absolute;
  top: 44%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-weight: 800;
  font-size: 28px;
  white-space: nowrap;
} */

.ct_img_close_icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  border-radius: 100px;
  color: #000;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 12px;
  cursor: pointer;
  z-index: 1;
}


.ct_custom_chev_icons {
  position: absolute;
  top: 50%;
  left: 0;
  width: calc(100% - 50px);
  z-index: 9;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
}

.ct_custom_chev_icons button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  font-size: 14px;
  outline: none;
  border: 0px;
  font-weight: 600;
  transition: 0.4s ease all;
}

.ct_custom_chev_icons button:hover {
  background-color: var(--dark_blue);
  color: #fff;
}

.ct_custom_chev_icons button:disabled {
  background-color: #e6e6e6;
  color: #000;
  cursor: not-allowed;
}

.ct_custom_chev_icons .ct_custom_chev_left {
  left: 0px;
  position: relative;
}

.ct_custom_chev_icons .ct_custom_chev_right {
  right: 0px;
  position: relative;
}

.ct_custom_chev_icons i {
  font-weight: 700 !important;
}

@media screen and (max-width: 991px) {
  #laptop_screen {
    height: 340px;
    aspect-ratio: auto;
  }
}