<div class="ai-code-wrapper">
  <div class="code-header" style="background-color: #414040 !important;">
    <div class="dropdown ct_dropdown_device_preview123">
      <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false" [disabled]="!filesReady">{{activeFile}}
        <i class="fa-solid fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu mb-0" aria-labelledby="dropdownMenuButton1">
        @for (item of generatedFiles; track $index) {
        <li>
          <a class="dropdown-item" href="javascript:void(0)" (click)="fileChange(item)">/{{item.name}} </a>
        </li>
        }
      </ul>
    </div>
  </div>
  <nu-monaco-editor class="monaco-editor" [model]="model" [options]="options" (event)="onEditorEvent($event)">
  </nu-monaco-editor>
</div>