<div class="ai-code-wrapper">
  <div class="code-header" style="background-color: #414040 !important;">
    <nz-select class="form-control  ct_currency_input ct_currency_input_select_22"
    [(ngModel)]="selectFile"
    nzPlaceHolder="Select Currency" 
    [nzDropdownMatchSelectWidth]="false"
    [ngModelOptions]="{standalone: true}">

    @for (item of languages; track $index) {
    <nz-option [nzValue]="item.value"
          [nzLabel]="item.value"></nz-option>
    }
</nz-select>

  </div>
  <div class="code-header">
    <span class="file-name">src/{{language == 'javascript' ? 'pages' : 'css'}}/{{ fileName | lowercase }}</span>
  </div>

  <nu-monaco-editor
    class="monaco-editor"
    [options]="options"
    (event)="onEditorEvent($event)">
  </nu-monaco-editor>

</div>
