<div class="ct_header_main">
  <app-header />
</div>

<!-- Inner Hero Content S -->
<section class="ct_py_70 ct_inner_hero_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="ct_inner_banner_w_bg">
          <h1 class="ct_fs_44 ct_fw_700 mb-4 text-center">
            Experience your app
            <span class="ct_orange_gredient_text">before you build it</span>
          </h1>
          <h2 class="ct_fs_18 mb-0 text-center mb-3">
            Transform your ideas into reality in no time by personalizing your
            app prototype. We provide a diverse array of custom software
            solutions designed for various industries, making it easy for you to
            turn your vision into a tangible product.
          </h2>
          <div class="ct_btn_group justify-content-center">
            <a
              routerlink="/free-demo"
              class="ct_blue_btn_fill"
              ng-reflect-router-link="/free-demo"
              href="/free-demo"
              >Get a free demo</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner Hero Content E -->

<hr class="ct_break_line" />

<section class="ct_pt_50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 mb-4">
        <div class="ct_our_project_card">
          <figure>
            <img src="assets/img/project_mock_1.png" alt="" />
            <figcaption>
              <h4 class="ct_fs_24 ct_fw_600 mb-1">Cabty Mobile App</h4>
              <p class="mb-0">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptatibus quis eligendi maxime quae,
              </p>
              <div class="text-center">
                <a href="assets/img/Cabty_Taxi.pdf" target="_blank" class="ct_blue_btn_fill mx-auto mt-4">View More</a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 mb-4">
        <div class="ct_our_project_card">
          <figure>
            <img src="assets/img/project_mock_2.png" alt="" />
            <figcaption>
              <h4 class="ct_fs_24 ct_fw_600 mb-1">EasyQS</h4>
              <p class="mb-0">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptatibus quis eligendi maxime quae,
              </p>
              <div class="text-center">
                <a href="assets/img/EasyQs.pdf" target="_blank"  class="ct_blue_btn_fill mx-auto mt-4">View More</a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 mb-4">
        <div class="ct_our_project_card">
          <figure>
            <img src="assets/img/project_mock_3.png" alt="" />
            <figcaption>
              <h4 class="ct_fs_24 ct_fw_600 mb-1">Frenly Mobile App</h4>
              <p class="mb-0">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptatibus quis eligendi maxime quae,
              </p>
              <div class="text-center">
                <a href="assets/img/Frenly.pdf" target="_blank"  class="ct_blue_btn_fill mx-auto mt-4">View More</a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 mb-4">
        <div class="ct_our_project_card">
          <figure>
            <img src="assets/img/project_mock_5.png" alt="" />
            <figcaption>
              <h4 class="ct_fs_24 ct_fw_600 mb-1">Life's Moments Admin</h4>
              <p class="mb-0">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptatibus quis eligendi maxime quae,
              </p>
              <div class="text-center">
                <a href="assets/img/LifeMoments.pdf" target="_blank"  class="ct_blue_btn_fill mx-auto mt-4">View More</a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 mb-4">
        <div class="ct_our_project_card">
          <figure>
            <img src="assets/img/project_mock_4.png" alt="" />
            <figcaption>
              <h4 class="ct_fs_24 ct_fw_600 mb-1">GPS-Tracking Mobile App</h4>
              <p class="mb-0">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptatibus quis eligendi maxime quae,
              </p>
              <div class="text-center">
                <a href="assets/img/GPS_Tracking.pdf" target="_blank"  class="ct_blue_btn_fill mx-auto mt-4">View More</a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
       <div class="col-lg-6 col-md-6 mb-4">
        <div class="ct_our_project_card">
          <figure>
            <img src="assets/img/project_mock_7.png" alt="" />
            <figcaption>
              <h4 class="ct_fs_24 ct_fw_600 mb-1">For Real Mobile App</h4>
              <p class="mb-0">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptatibus quis eligendi maxime quae,
              </p>
              <div class="text-center">
                <a href="assets/img/Real_Dating.pdf" target="_blank"  class="ct_blue_btn_fill mx-auto mt-4">View More</a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
      
        <div class="col-lg-6 col-md-6 mb-4">
        <div class="ct_our_project_card">
          <figure>
            <img src="assets/img/project_mock_6.png" alt="" />
            <figcaption>
              <h4 class="ct_fs_24 ct_fw_600 mb-1">Loyalty Club Mobile App</h4>
              <p class="mb-0">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptatibus quis eligendi maxime quae,
              </p>
              <div class="text-center">
                <a href="assets/img/Loyalty_Club.pdf" target="_blank"  class="ct_blue_btn_fill mx-auto mt-4">View More</a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>

       <div class="col-lg-6 col-md-6 mb-4">
        <div class="ct_our_project_card">
          <figure>
            <img src="assets/img/project_mock_8.png" alt="" />
            <figcaption>
              <h4 class="ct_fs_24 ct_fw_600 mb-1">Ren-tie Mobile App</h4>
              <p class="mb-0">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Voluptatibus quis eligendi maxime quae,
              </p>
              <div class="text-center">
                <a href="assets/img/Rentie.pdf" target="_blank"  class="ct_blue_btn_fill mx-auto mt-4">View More</a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer />
