<div>
  <app-header />
  <!-- Inner Hero Content S -->
  <section class="ct_py_70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="ct_hero_banner_left_cnt">
            <h1 class="ct_fs_44 ct_fw_700">
              Your Ideas, Our Creative Studio: Design, Build, Launch
            </h1>
            <h3 class="ct_fs_24 ct_fw_500">
              Not fluent in tech? Let our creative studio transform your app
              concept into a powerful reality.
            </h3>
            <ul>
              <li class="justify-content-start">
                <i class="bi bi-check2-circle"></i>From simple solutions to
                complex platforms, we handle any level of app development.
              </li>
              <li class="justify-content-start">
                <i class="bi bi-check2-circle"></i>Enjoy transparent, guaranteed
                pricing and clearly defined project timelines.
              </li>
              <li class="justify-content-start">
                <i class="bi bi-check2-circle"></i>Our ongoing support ensures
                your software remains current, secure, and error-free.
              </li>
            </ul>
            <div class="ct_btn_group">
              <a routerLink="/free-demo" class="ct_blue_btn_fill"
                >Request a Free Demo</a
              >
              <a routerLink="/creative-store" class="ct_blue_outline_btn"
                >Explore Our Creative Store</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="ct_hero_right_main">
            <div class="position-relative">
              <img
                loading="lazy"
                src="assets/img/creative_studio_banner_right.png"
                alt="AI app builder"
                class="ct_img_w_80"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Inner Hero Content E -->
</div>

<hr class="ct_break_line" />

<!-- Hers How Work Section S -->
<section class=" ct_pt_50 ct_pb_50 ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fs_44 ct_fw_700 text-center">
          Our Streamlined App Development Process.
        </h2>

        <div>
          <nav class="pt-4 ct_testimonial_tabs ct_steps_tabs_nav">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button
                class="nav-link active"
                id="nav-Entrepreneur-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-Entrepreneur"
                type="button"
                role="tab"
                aria-controls="nav-Entrepreneur"
                aria-selected="true"
              >
               Step 1
              </button>
              <button
                class="nav-link"
                id="nav-Small-business-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-Small-business"
                type="button"
                role="tab"
                aria-controls="nav-Small-business"
                aria-selected="false"
              >
                Step 2
              </button>
              <button
                class="nav-link"
                id="nav-Enterprise-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-Enterprise"
                type="button"
                role="tab"
                aria-controls="nav-Enterprise"
                aria-selected="false"
              >
                   Step 3
              </button>
              <button
                class="nav-link"
                id="nav-Vision-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-Vision"
                type="button"
                role="tab"
                aria-controls="nav-Vision"
                aria-selected="false"
              >
                 Step 4
              </button>

            
            </div>
          </nav>
          <div class="tab-content mt-5" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-Entrepreneur"
              role="tabpanel"
              aria-labelledby="nav-Entrepreneur-tab"
            >
              <div class="ct_tab_gradient_bg mt-5">
          <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0">
              <div class="">
                <span class="ct_fs-16 ct_step_badge_gradient ct_fw_600 d-flex align-items-center gap-3">
                  STEP 1
                </span>
                <h2 class="ct_fs_26 ct_fw_600 mt-4 mb-0">Share Your Vision.</h2>
                <p class="mt-2">
                  Ready to kick off your project? Just share your app idea with
                  the top-notch AI app builder! Whether you prefer chatting with
                  our smart AI assistant, Vaanya, typing out your thoughts in
                  our chat, or uploading a detailed document, we make it super
                  simple to get started. Just a quick reminder: always stick to
                  the specified language and avoid using any others.
                </p>

                <div class="mt-3">
                  <span class="ct_blog_badge">5 min</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <div class="ct_how_works_12_w">
                <img
                  loading="lazy"
                  src="assets/img/how_works_img_31.png"
                  alt="AI app builder"
                 
                />
              </div>
            </div>
          </div>
        </div>
      </div>
            <div
              class="tab-pane fade"
              id="nav-Small-business"
              role="tabpanel"
              aria-labelledby="nav-Small-business-tab"
            >
             <div class="ct_tab_gradient_bg mt-5">
          <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0">
              <div class="">
                <span class="ct_fs-16 ct_step_badge_gradient ct_fw_600 d-flex align-items-center gap-3">
                  STEP 2
                </span>
                <h2 class="ct_fs_26 ct_fw_600 mt-4 mb-0">
                  Let Vaanya Guide You to the Perfect App Features.
                </h2>
                <p class="mt-2">
                  Our AI assistant, Vaanya, makes the feature selection process
                  a breeze by grasping the purpose of your app and organizing
                  the relevant functionalities.Easily explore and customize
                  these features to build your ideal app, ensuring every element
                  aligns with your vision.
                </p>

                <div class="mt-3">
                  <span class="ct_blog_badge">5 min</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <div class="ct_how_works_12_w">
                <img
                  loading="lazy"
                  src="assets/img/how_works_img_32.png"
                  alt="AI app builder"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
            <div
              class="tab-pane fade"
              id="nav-Enterprise"
              role="tabpanel"
              aria-labelledby="nav-Enterprise-tab"
            >
             <div class="ct_tab_gradient_bg mt-5">
          <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0">
              <div class="">
                <span class="ct_fs-16 ct_step_badge_gradient ct_fw_600 d-flex align-items-center gap-3">
                  STEP 3
                </span>
                <h2 class="ct_fs_26 ct_fw_600 mt-4 mb-0">
                  Review Your Project Details & Connect with Our Experts.
                </h2>
                <p class="mt-2">
                  Based on the features you choose and your timeline, our AI
                  assistant, Vaanya, will give you clear pricing and an
                  estimated delivery date. Take a look at the detailed
                  information and feel free to schedule a call with our team to
                  dive deeper into your project and nail down the next steps.
                </p>

                <div class="mt-3">
                  <span class="ct_blog_badge">5 min</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <div class="ct_how_works_12_w">
                <img
                  loading="lazy"
                  src="assets/img/how_works_img_33.png"
                  alt="AI app builder"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
            <div
              class="tab-pane fade"
              id="nav-Vision"
              role="tabpanel"
              aria-labelledby="nav-Vision-tab"
            >
            <div class="ct_tab_gradient_bg mt-5">
          <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0">
              <div class="">
                <span class="ct_fs-16 ct_step_badge_gradient ct_fw_600 d-flex align-items-center gap-3">
                  STEP 4
                </span>
                <h2 class="ct_fs_26 ct_fw_600 mt-4 mb-0">
                  Support & Transparent Progress
                </h2>
                <p class="mt-2">
                  Our commitment to you doesn’t stop at launch. You’ll enjoy
                  weekly meetings with your dedicated expert, real-time updates
                  on your project dashboard, and provocative insights from our
                  AI assistant, Vaanya. She’ll help keep your project on track
                  and aligned with your goals.
                </p>

                <div class="mt-3">
                  <span class="ct_blog_badge">ongoing</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <div class="ct_how_works_12_w">
                <img
                  loading="lazy"
                  src="assets/img/how_works_img_34.png"
                  alt="AI app builder"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
           
          </div>
        </div>

      
       
       
        
      </div>
    </div>
    <div class="ct_btn_group justify-content-center mt-5">
      <a routerLink="/free-demo" class="ct_blue_btn_fill ct_white_btn"
        >Try creative.ai for free</a
      >
      <a routerLink="/pricing" class="ct_blue_btn_fill"
        >How our pricing works</a
      >
    </div>
  </div>
</section>
<!-- Hers How Work Section E -->
 <hr class="ct_break_line" />
<!-- Types Of Mobile App Section S -->
<section class="ct_pt_50 ct_pb_50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fs_44 ct_fw_700 mb-3 text-center">
          Dream Big, Build Any Mobile App with

          <br />
          <span class="ct_orange_gredient_text">Creative AI</span>
        </h2>
        <p class="text-center ct_fs_16">
          Unleash your creativity! With Creative AI’s amazing mobile
          app builder, you can turn your vision for any mobile application into
          a reality—fully customized and loaded with features. We blend
          cutting-edge AI technology with expert development to create the app
          you need, and we do it faster and smarter:
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 mb-4">
        <div class="ct_types_app_card">
          <div class="ct_app_types_img">
            <img
              loading="lazy"
              src="assets/img/app_1.png"
              alt="AI-powered app and web development"
            />
          </div>
          <div class="ct_app_types_cnt">
            <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Education</h3>
            <p class="ct_fs_14">
              Transform learning experiences with engaging and interactive AI
              educational apps. From smart e-learning platforms to personalized
              skill development tools, our AI mobile app builder creates
              solutions that empower educators and inspire learners to achieve
              more.
            </p>
            <div class="mt-4">
              <a
                routerLink="/education"
                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center"
                >Explore Education App Development</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="ct_types_app_card">
          <div class="ct_app_types_img">
            <img
              loading="lazy"
              src="assets/img/app_2.png"
              alt="AI-powered app and web development"
            />
          </div>
          <div class="ct_app_types_cnt">
            <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Entertainment</h3>
            <p class="ct_fs_14">
              Create captivating and engaging mobile entertainment apps that
              connect users with content, experiences, and communities. From
              streaming platforms to gaming companions, we build immersive
              digital entertainment solutions.
            </p>
            <div class="mt-4">
              <a
                routerLink="/entertainment"
                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center"
                >Discover Entertainment App Solutions</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="ct_types_app_card">
          <div class="ct_app_types_img">
            <img
              loading="lazy"
              src="assets/img/app_3.png"
              alt="AI-powered app and web development"
            />
          </div>
          <div class="ct_app_types_cnt">
            <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Healthcare</h3>
            <p class="ct_fs_14">
              Develop innovative mobile healthcare solutions that improve
              patient care, streamline workflows, and enhance access to medical
              services. From appointment scheduling to remote monitoring apps,
              we build impactful tools for the healthcare industry.
            </p>
            <div class="mt-4">
              <a
                routerLink="/health-care"
                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center"
                >Explore Healthcare App Development</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="ct_types_app_card">
          <div class="ct_app_types_img">
            <img
              loading="lazy"
              src="assets/img/app_1.png"
              alt="AI-powered app and web development"
            />
          </div>
          <div class="ct_app_types_cnt">
            <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">
              Financial-services
            </h3>
            <p class="ct_fs_14">
              Revolutionize banking with AI-powered apps and websites. Our smart
              financial solutions deliver secure, user-friendly platforms that
              streamline workflows, personalize experiences, and ensure
              compliance—making finance fast, easy, and reliable.
            </p>
            <div class="mt-4">
              <a
                routerLink="/financial-services"
                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center"
                >Discover Financial-services App Solutions</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ct_btn_group ct_pt_50 pb-0 justify-content-center">
      <a routerLink="/how-we-compare" class="ct_blue_btn_fill"
        >Learn how we compare</a
      >
      <a routerLink="/all-industries" class="ct_link_green ct_link_blue ct_fs_16 ct_fw_400"
        >View More industries</a
      >
    </div>
  </div>
</section>
<!-- Types Of Mobile App Section E -->

<!-- Launch App Section S -->
<section class="ct_pb_50">
  <div class="ct_free_demo_bg rounded-0 py-5 ct_px_80">
      <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 mb-4 mb-md-0">
        <div class="ct_launch_left_cnt">
          <h2 class="ct_fs_44 ct_fw_600 text-white mb-3 text-center">
            Ready to Launch Your App to New Heights
          </h2>
          <div class="ct_perks_job_list_ul mt-4">
            <ul class="d-flex justify-content-center gap-3 flex-wrap">
              <li class="text-white">
                <i class="bi bi-check2-circle text-white"></i> Transparent and
                Value-Driven Pricing
              </li>
              <li class="text-white">
                <i class="bi bi-check2-circle text-white"></i>Streamlined App
                Development Powered by AI
              </li>
              <li class="text-white">
                <i class="bi bi-check2-circle text-white"></i>Reliable Timelines
                to Meet Your Goals
              </li>
            </ul>
          </div>
          <div class="ct_btn_group mt-5 justify-content-center">
            <a
              routerLink="/why-we-use-ai"
              class="ct_blue_outline_btn ct_white_btn"
              >Get Your 6-Step Launch Guide</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<hr class="ct_break_line" />
<!-- Launch App Section E -->

<section class="ct_pt_50 ct_pb_50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fw_700 ct_fs_44 text-center">
          Discover the Creative
          <span class="ct_orange_gredient_text"> Studio Advantage.</span>
        </h2>
      </div>
    </div>
    <div class="row align-items-center ct_py_70 pt-4 pb-0 ct_row_reverse_767">
      <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate">
        <div class="ct_flexible_serivce_cnt">
          <h3 class="ct_fs_26 ct_fw_700 mb-3 ct_line_h_25">
            Your app dreams, turned into reality
          </h3>
          <p class="mb-0 ct_fs_16 ct_fw_400 ct_line_h_25">
            At Creative AI, we’ve designed our AI app builder to use
            smart, modular components that help you create your app quickly and
            efficiently, saving you both time and resources. Our dedicated team
            takes the time to customize every detail, ensuring that your app
            reflects your unique vision. Enjoy a smooth process where your ideas
            shine, all without the headaches of traditional development.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-5 mb-md-0 offset-md-1 aos-init aos-animate">
        <div class="ct_creative_single_img">
          <img
            loading="lazy"
            src="assets/img/creative_studio_41.png"
            alt="AI app builder"
          />
        </div>
      </div>
    </div>
    <div class="row align-items-center ct_py_70 pb-0">
      <div class="col-md-4 mb-5 mb-md-0 aos-init aos-animate">
        <div class="ct_creative_single_img">
          <img
            loading="lazy"
            src="assets/img/creative_studio_42.png"
            alt="AI app builder"
          />
        </div>
      </div>
      <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate offset-md-1">
        <div class="ct_flexible_serivce_cnt">
          <h3 class="ct_fs_26 ct_fw_700 mb-3 ct_line_h_25">
            Honest Pricing. Predictable Timelines. No Last-Minute Shocks
          </h3>
          <p class="mb-0 ct_fs_16 ct_fw_400 ct_line_h_25">
            We believe in keeping communication clear and simple. Our pricing is
            based on each feature, and we lay everything out in a detailed Build
            Card before we start development. This way, you’ll have a clear
            understanding right from the beginning. Plus, with our accurate
            timeline estimates, you can plan with confidence, knowing your
            project will stay on track and within budget.
          </p>
          <div class="mt-4">
            <p class="mb-3">
              <a class="ct_link_green ct_link_blue" routerLink="/pricing">
                Explore Our Pricing Structure
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center ct_py_70 pb-0 ct_row_reverse_767">
      <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate">
        <div class="ct_flexible_serivce_cnt">
          <h3 class="ct_fs_26 ct_fw_700 mb-3 ct_line_h_25">
            Your Success is Our Mission — Beyond Launch and Growth
          </h3>
          <p class="mb-0 ct_fs_16 ct_fw_400 ct_line_h_25">
            Our collaboration doesn’t just stop when your app launches. With our
            AI app builder and a dedicated Customer Success team by your side,
            you’ll receive ongoing, personalized support to help you unlock the
            full potential of your digital solution. And don’t forget about our
            all-inclusive aftercare service, Studio One, which ensures your
            software remains secure, up-to-date, and running smoothly as you
            continue to grow.
          </p>
          <div class="mt-4">
            <p class="mb-3">
              <a class="ct_link_green ct_link_blue" routerLink="/dedicated-customers">
                Explore Our Post-Launch Support</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5 mb-md-0 offset-md-1 aos-init aos-animate">
        <div class="ct_creative_single_img">
          <img
            loading="lazy"
            src="assets/img/creative_studio_43.png"
            alt="AI app builder"
          />
        </div>
      </div>
    </div>
    <div class="row align-items-center ct_py_70 pb-0">
      <div class="col-md-4 mb-5 mb-md-0 aos-init aos-animate">
        <div class="ct_creative_single_img">
          <img
            loading="lazy"
            src="assets/img/creative_studio_44.png"
            alt="AI app builder"
          />
        </div>
      </div>
      <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate offset-md-1">
        <div class="ct_flexible_serivce_cnt">
          <h3 class="ct_fs_26 ct_fw_700 mb-3 ct_line_h_25">
            Own Your Innovation: You Retain Full Code Ownership.
          </h3>
          <p class="mb-0 ct_fs_16 ct_fw_400 ct_line_h_25">
            Unlike many platforms, we believe in empowering you. You own the
            complete source code of your application. We provide comprehensive
            app maintenance for the first year as part of your development
            package, and beyond that, you have the complete freedom to scale and
            evolve your app on your terms, with no vendor lock-in.
          </p>
        </div>
      </div>
    </div>

    <div class="row align-items-center ct_py_70 pb-0 ct_row_reverse_767">
      <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate">
        <div class="ct_flexible_serivce_cnt">
          <h3 class="ct_fs_26 ct_fw_700 mb-3 ct_line_h_25">
            Visualize Your Vision with a Free App Prototype.
          </h3>
          <p class="mb-0 ct_fs_16 ct_fw_400 ct_line_h_25">
            Are you excited to turn your app idea into reality? As the Best AI
            app builder, we provide a free, interactive prototype that lets you
            visualize your concept, gather feedback from your team, and wow
            potential investors with a captivating presentation—all at no cost
            to you!
          </p>
          <div class="mt-4">
            <p class="mb-3">
              <a class="ct_link_green ct_link_blue" routerLink="/creative-now"
                >Our Free Prototype Offer</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5 mb-md-0 offset-md-1 aos-init aos-animate">
        <div class="ct_creative_single_img">
          <img
            loading="lazy"
            src="assets/img/creative_studio_45.png"
            alt="AI app builder"
          />
        </div>
      </div>
    </div>
    <div class="ct_btn_group ct_mt_85 justify-content-center">
      <a routerLink="/free-demo" class="ct_blue_btn_fill">Speak to an expert</a>
      <a routerLink="/how-we-compare" class="ct_link_green ct_link_blue"
        >Learn how we compare</a
      >
    </div>
  </div>
</section>

<hr class="ct_break_line" />

<!-- Recent Best Work S -->
<section class="ct_grey_bg ct_py_70 ct_olw_nav_show_main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div
          class="d-flex align-items-center justify-content-between flex-wrap gap-3"
        >
          <div class="text-center">
            <h4 class="ct_fs_34 ct_fw_700 mb-2">
              See How We've Transformed Ideas into
              <span class="ct_orange_gredient_text">Digital Success Stories</span>
            </h4>
            <p class="ct_fs_18 ct_fs_600">
              Discover how we've helped businesses like yours achieve their
              goals through innovative and customized app and web development.
              Our recent projects showcase our commitment to delivering
              exceptional solutions that address unique challenges and drive
              tangible results.
            </p>
          </div>
         
        </div>


        <div class="owl-carousel owl-theme ct_testimonial_slider mt-4">
          <div class="item">
            <div class="ct_testimonial_main">
              <div>
                <img src="https://www.creativethoughtsinfo.com/interfriendsApp/assets/icons/i_white.jfif" alt="">
                <p>
                  Working with Creative AI has been a game changer for us. Their AI-powered platform helped us design
                  and launch our app in record timewithout the usual hassle of long development cycles. What impressed
                  us most was the ease of use, flexibility, and the professional support provided by the team. Within
                  days, we had a functional prototype ready to test with our users, and the final product exceeded
                  expectations. Creative AI not only saved us time and costs but also gave us the confidence to scale
                  quickly. Highly recommended for startups and enterprises looking to build apps smarter and faster.
                </p>
              </div>

              <div class="mt-auto">
                <div class="ct_testimonial_user_img">
                  <img src="assets/img/sam.jpg" alt="">
                </div>
                <div class="text-center mt-2">
                  <h5 class="ct_fs_20 ct_fw_600 mb-0">Sam Buah</h5>
                  <p class="mb-0">Our Happy Client</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ct_testimonial_main">
              <div>
                <img src="assets/img/jameslogo.jpg" alt="">
                <p>
                  Creative AI helped us build a robust financial and insurance platform faster than we imagined. Their
                  AI-powered system made the entire process seamless from prototyping to deployment. We were able to
                  integrate secure payment options, compliance-ready features, and track progress at every stage. What
                  really stood out was how intuitive the platform was, saving us both time and cost while ensuring
                  enterprise-level quality.
                </p>
              </div>

              <div class="mt-auto">
                <div class="ct_testimonial_user_img">
                  <img src="assets/img/james.jpg" alt="">
                </div>
                <div class="text-center mt-2">
                  <h5 class="ct_fs_20 ct_fw_600 mb-0">James Pollard</h5>
                  <p class="mb-0">Our Happy Client</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ct_testimonial_main">
              <div>
                <img src="assets/img/paullogo.svg" alt="">
                <p>
                  Creative AI makes app building so simple! The platform is super easy to use, even for someone with no
                  coding background. I could design, make payments, and track progress all in one place without any
                  hassle. The transparency and smooth workflow really set it apart from other tools I’ve tried.
                </p>
              </div>

              <div class="mt-auto">
                <div class="ct_testimonial_user_img">
                  <img src="assets/img/paul.jpg" alt="">
                </div>
                <div class="text-center mt-2">
                  <h5 class="ct_fs_20 ct_fw_600 mb-0">Paul Calleja</h5>
                  <p class="mb-0">Our Happy Client</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ct_testimonial_main">
              <div>
                <img src="assets/img/nirdeshlogo.png" alt="">
                <p>
                  We initially partnered with Builder.ai to create our sustainability solution platform but were left
                  midway through the project. Creative AI stepped in at a critical moment and exceeded our expectations.
                  Their team not only salvaged the project but also brought in fresh ideas and an AI-powered approach
                  that streamlined the entire development process. The level of professionalism, transparency, and
                  continuous support we received was outstanding. Thanks to Creative AI, we were able to launch a
                  robust, scalable platform on time, and with greater confidence in our technology partner. Their
                  dedication to client success truly sets them apart.
                </p>
              </div>

              <div class="mt-auto">
                <div class="ct_testimonial_user_img">
                  <img src="assets/img/nirdesh.jpg" alt="">
                </div>
                <div class="text-center mt-2">
                  <h5 class="ct_fs_20 ct_fw_600 mb-0">Nirdesh Badjatiya</h5>
                  <p class="mb-0">Our Happy Client</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ct_testimonial_main">
              <div>
                <img src="assets/img/clinet_logo-1.png" alt="">
                <p>
                  Very nice people! they become like family for me. They helped me with my website and they delivered
                  good work. The communication is great. You always get a fast responds. I definitely recommend them.
                </p>
              </div>

              <div class="mt-auto">
                <div class="ct_testimonial_user_img">
                  <img src="assets/img/client_2.jpg" alt="">
                </div>
                <div class="text-center mt-2">
                  <h5 class="ct_fs_20 ct_fw_600 mb-0">Justine Pogroske</h5>
                  <p class="mb-0">Our Happy Client</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ct_testimonial_main">
              <div>
                <img src="assets/img/clinet_logo-2.png" alt="">
                <p>
                  They did an amazing work on a very large and challenging project. We do appreciate the great effort
                  and creativity their team put in creating the base for our social marketplace. CTIS is an amazing and
                  very professional fellow. Keep up the great work folks!
                </p>
              </div>

              <div class="mt-auto">
                <div class="ct_testimonial_user_img">
                  <img src="assets/img/client_1.png" alt="">
                </div>
                <div class="text-center mt-2">
                  <h5 class="ct_fs_20 ct_fw_600 mb-0">Ady Bui </h5>
                  <p class="mb-0">Our Happy Client</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ct_testimonial_main">
              <div>
                <img src="assets/img/clinet_logo-3.svg" alt="">
                <p>
                  I would recommend this company for any upcoming projects and I will use them in the future. They were
                  very much in contact during the whole process and kept me up to date with the progress of work. This
                  was my first time using this platform and I'd say I'm pleased with the work in general.
                </p>
              </div>

              <div class="mt-auto">
                <div class="ct_testimonial_user_img">
                  <img src="assets/img/client_3.jpg" alt="">
                </div>
                <div class="text-center mt-2">
                  <h5 class="ct_fs_20 ct_fw_600 mb-0">Phillipe Dastous </h5>
                  <p class="mb-0">Our Happy Client</p>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="ct_testimonial_main">
              <div>
                <img src="assets/img/SmartLoanCalc.png" alt="">
                <p>
                  Outstanding experience working with this team. They delivered our custom software on time, with
                  exceptional quality and attention to detail. Communication was smooth throughout the project. Highly
                  recommended!
                </p>
              </div>

              <div class="mt-auto">
                <div class="ct_testimonial_user_img">
                  <img src="assets/img/client_4.jpg" alt="">
                </div>
                <div class="text-center mt-2">
                  <h5 class="ct_fs_20 ct_fw_600 mb-0">Stefan Roger </h5>
                  <p class="mb-0">Our Happy Client</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ct_testimonial_main">
              <div>
                <img src="assets/img/life_moment.png" alt="">
                <p>
                  We hired them for a complete website redesign and were impressed with their professionalism and
                  technical expertise. Our new site is fast, modern, and user-friendly. We've already seen an increase
                  in traffic and leads!
                </p>
              </div>

              <div class="mt-auto">
                <div class="ct_testimonial_user_img">
                  <img src="assets/img/client_5.png" alt="">
                </div>
                <div class="text-center mt-2">
                  <h5 class="ct_fs_20 ct_fw_600 mb-0">Eric J. </h5>
                  <p class="mb-0">Our Happy Client</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Recent Best Work E -->

<app-footer />
