<app-header />
<section class="ct_py_100 pt-0 ct_px_100 ct_inner_banner">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-lg-9 col-md-8">
                        <h1 class="ct_fs_40 ct_fw_400 text-white mb-3">About Us</h1>
                        <ul class="ct_bread_crumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>/</li>
                            <li>About Us</li>
                        </ul>
                  </div>

            </div>
      </div>
</section>

<section class="ct_py_100 ct_px_100 ct_privacy_banner">
      <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-8 mb-4 mb-md-0" data-aos="fade-right" data-aos-duration="1500">
                        <h1 class="ct_fs_40 ct_fw_400 mb-3 ct_blue_text">Who We Are</h1>
                        <p class="mb-0 ct_text_ccc ct_fs_20 ct_ff_maitree">ZYNQ is a Swedish healthtech company revolutionizing how people understand and care for their skin. By combining AI-powered diagnostics with access to Sweden’s leading clinics, we make expert knowledge accessible to everyone – directly through their phone, free of charge.</p>

                </div>
                <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-left" data-aos-duration="1500">
                       <div class="ct_abt_img">
                         <img src="img/who_we_are.jpg" alt="" class="img-fluid">
                       </div>

                </div>
               
            </div>
      </div>
</section>

<section class="ct_py_100 ct_px_100 ct_privacy_banner">
      <div class="container-fluid">
            <div class="row align-items-center">
                  <div class="col-md-12">
                        <h1 class="ct_fs_40 ct_fw_400 mb-3 ct_blue_text text-center">Our Mission</h1>
                        <p class="mb-0 ct_text_ccc ct_fs_20 ct_ff_maitree text-center">To democratize skin diagnostics by providing everyone with instant access to professional insights – no waiting times, no bookings, no fees. We believe that scientific skincare should be as accessible as a selfie.</p>

                  </div>
            </div>
            <div class="row mt-5">
                  <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-duration="1500">
                         <figure>
                              <div class="ct_disover_icon border-0">
                                    <img src="img/mission_icon_1.svg" alt="" />
                              </div>
                              <figcaption>
                                  
                                    <p class="mb-0 ct_fs_14 ct_text_italic ct_text_ccc">
                                        A detailed AI analysis of your skin condition and facial symmetry
                                    </p>
                              </figcaption>
                        </figure>
                  </div>
                   <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-duration="1500">
                         <figure>
                              <div class="ct_disover_icon border-0">
                                    <img src="img/mission_icon_2.svg" alt="" />
                              </div>
                              <figcaption>
                                  
                                    <p class="mb-0 ct_fs_14 ct_text_italic ct_text_ccc">
                                    Personalized treatment and product recommendations
                                    </p>
                              </figcaption>
                        </figure>
                  </div>
                   <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-duration="1500">
                         <figure>
                              <div class="ct_disover_icon border-0">
                                    <img src="img/mission_icon_3.svg" alt="" />
                              </div>
                              <figcaption>
                                  
                                    <p class="mb-0 ct_fs_14 ct_text_italic ct_text_ccc">
                                       Direct connection to certified clinics and professionals in Sweden
                                    </p>
                              </figcaption>
                        </figure>
                  </div>
                   <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-duration="1500">
                         <figure>
                              <div class="ct_disover_icon border-0">
                                    <img src="img/mission_icon_4.svg" alt="" />
                              </div>
                              <figcaption>
                                  
                                    <p class="mb-0 ct_fs_14 ct_text_italic ct_text_ccc">
                                       Visual simulations of potential aesthetic results
                                    </p>
                              </figcaption>
                        </figure>
                  </div>

            </div>
      </div>
</section>

<section class="ct_py_100 ct_px_100 ct_privacy_banner">
      <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-right" data-aos-duration="1500">
                       <div class="ct_abt_img">
                         <img src="img/our_team.png" alt="" class="img-fluid">
                       </div>

                </div>
                <div class="col-md-8 mb-4 mb-md-0" data-aos="fade-left" data-aos-duration="1500">
                        <h1 class="ct_fs_40 ct_fw_400 mb-3 ct_blue_text">Our Team</h1>
                        <p class="mb-0 ct_text_ccc ct_fs_20 ct_ff_maitree">Behind ZYNQ is a cross-functional team of doctors, AI researchers, and design experts. With over 20 years of experience in aesthetic medicine, technology, and clinic operations, we have launched several world-leading brands across the Swedish and Nordic markets. Our work is grounded in close collaborations with certified clinics, dermatologists, and industry specialists.</p>

                </div>
                
               
            </div>
      </div>
</section>
<app-footer />