<div class="modal fade discount-modal" #discountModal tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content position-relative">
                  <div class="confetti-wrap" id="confettiWrap"></div>
                  <div class="modal-header px-4">
                        <div>
                              <h5 class="celebrate mb-0">Congratulations 🎉</h5>
                              <p class="subtext mb-0">You have availed <strong>40% Discount</strong></p>
                        </div>
                        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
                  </div>

                  <div class="modal-body px-4 pb-4 text-center">
                        <div class="discount-amount mb-3">40% OFF</div>
                        <p class="subtext">This offer is only for you. Don’t miss out!</p>

                        <div class="d-flex gap-2 justify-content-center mt-3">
                              <button class="ct_blue_btn_fill" (click)="closeModal()">Ok</button>
                        </div>
                  </div>
            </div>
      </div>
</div>