<section class="">
  <div class="ct_buy_credits__dialog">
    <!-- <button type="button" class="ct_buy_credits__close" aria-label="Close" (click)="closeModal()">
        <i class="fa-solid fa-xmark"></i>
      </button> -->

    <div class="ct_buy_credits__hero">
      <div class="ct_buy_credits__header">
        <h2 class="text-white">Purchase Credits</h2>
      </div>
    </div>

    <div class="ct_buy_credits__grid" *ngIf="topUpPacks.length; else emptyState">
      <article class="ct_credit_card" *ngFor="let pack of topUpPacks; let i = index; trackBy: trackByPackId"
        [class.ct_credit_card__featured]="isFeatured(i)">
        <span class="ct_credit_card__offer">{{ getPackBadge(pack, i) }}</span>
        <div class="ct_credit_card__body">
          <h4>{{ pack.credits }} Credits</h4>
          <div class="ct_credit_card__price">
            <strong>&#8377;{{ formatPrice(pack.price_inr) }}</strong>
          </div>
          <ul class="ct_credit_card__benefits">
            <li *ngFor="let item of getPackHighlights(pack, i)">
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.4841 3.81944C15.7873 4.60144 15.363 5.13694 14.542 5.66535C13.8798 6.09035 13.0361 6.55219 12.1422 7.34056C11.2653 8.11335 10.4103 9.04481 9.65029 9.96139C9.00002 10.7483 8.38094 11.5604 7.79446 12.3959C7.50121 12.8146 7.09108 13.4393 7.09108 13.4393C6.94391 13.6667 6.74122 13.8528 6.50215 13.9801C6.26307 14.1073 5.99551 14.1716 5.72471 14.1668C5.45406 14.1652 5.18832 14.0944 4.95275 13.9611C4.71719 13.8278 4.51964 13.6365 4.37888 13.4053C3.67125 12.2174 3.12583 11.7478 2.87508 11.5799C2.20429 11.128 1.41663 11.0629 1.41663 10.0117C1.41663 9.17656 2.12142 8.5001 2.99054 8.5001C3.60467 8.52277 4.17488 8.76431 4.68063 9.10431C5.00363 9.32106 5.34575 9.60864 5.70133 9.98619C6.17787 9.33589 6.67345 8.69977 7.18742 8.07864C8.00696 7.09052 8.97454 6.03014 10.0123 5.11498C11.0323 4.2154 12.2116 3.37319 13.4618 2.92835C14.2764 2.63794 15.1817 3.03673 15.4841 3.81944Z"
                  stroke="#3D40F6" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              <span>{{ item }}</span>
            </li>
          </ul>
        </div>
        <button type="button" (click)="buyCredits(pack)">Buy Now</button>
      </article>
    </div>

    <div class="ct_buy_credits__custom" *ngIf="topUpPacks.length">
      <div class="ct_buy_credits__custom_head">
        <div>
          <label for="creditCustomAmount">Custom buy credit option</label>
          <p>Enter a custom amount to estimate the credits for a one-time purchase.</p>
        </div>
      </div>
      <div class="ct_buy_credits__custom_row">
        <div class="ct_buy_credits__input_wrap">
          <span>&#8377;</span>
          <input id="creditCustomAmount" type="number" [value]="customAmount" (input)="onCustomAmountChange($event)"
            placeholder="Enter custom amount" />
        </div>
        <button type="button" class="ct_buy_credits__custom_btn" (click)="buyCredits(null)">Buy {{ customCredits }}
          Credits</button>
      </div>
      <span class="ct_buy_credits__custom_error">{{ customAmountError }}</span>
    </div>

    <ng-template #emptyState>
      <div class="ct_buy_credits__empty" *ngIf="!isLoading">
        No active credit bundles are available right now.
      </div>
    </ng-template>
  </div>
</section>