<div>
      <app-header />
      <!-- Inner Hero Content S -->
      <section class="ct_py_70">
            <div class="container">
                  <div class="row">
                        <div class="col-lg-6 mb-4 mb-lg-0">
                              <div class="ct_hero_banner_left_cnt">
                                    <h1 class="ct_fs_44 ct_fw_700">Start Your Online Store with Ease — Powered by
                                          Creative Store.</h1>
                                    <h2 class="ct_fs_26 ct_fw_500">Your complete e-commerce solution: custom website,
                                          integrated apps, reliable support, and more. Launch your online business
                                          quickly and smoothly with our ready-to-go tools.
                                    </h2>
                                    <ul>
                                          <li class="justify-content-start">
                                                <i class="bi bi-check2-circle"></i>Go live within a week – no technical
                                                expertise required.

                                          </li>
                                          <li class="justify-content-start"><i class="bi bi-check2-circle"></i>Maximize your earnings – keep 100% of
                                                your profits, zero transaction fees.

                                          </li>
                                          <li class="justify-content-start"><i class="bi bi-check2-circle"></i>Benefit from expert guidance to launch,
                                                manage, and scale your online venture.

                                          </li>
                                    </ul>
                                    <div class="ct_btn_group">
                                          <a routerLink="/free-demo" class="ct_blue_btn_fill">Explore Our Free Demo</a>
                                          <a routerLink="/" class="ct_blue_outline_btn"> Discover the Creative Store
                                                Advantage</a>
                                    </div>
                                  
                              </div>
                        </div>
                        <div class="col-lg-6 mb-4 mb-lg-0">
                              <div class="ct_hero_right_main">
                                    <div class="position-relative">
                                          <img loading="lazy" src="assets/img/creative_store_right_img.png"
                                                alt="AI app builder" class="ct_img_w_80">
                                    </div>

                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <!-- Inner Hero Content E -->
</div>

<hr class="ct_break_line" />
<!-- How it works section S -->
<section class="ct_how_works_bg ct_mt_50 pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fs_44 ct_fw_700 text-center">
          How <span class="ct_orange_gredient_text">Creative.ai</span>
        works
        </h2>
      </div>
    </div>
    <div class="row mt-4  align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">

        <div class="ct_how_creative_work_list">
          <ul>
            <li>
              <div class="ct_how_work_icon">
                <img src="assets/img/ai-assistant.gif" alt="">
              </div>
                <div>
                  <h5 class="ct_fw_18 ct_fw_600 mb-2"> Initiate Your Project with Our AI Assistant</h5>
                  <p class="mb-0 ct_fw_400">  Tell us about your app or web development idea through our
                    intelligent AI assistant. Get instant insights and
                    preliminary guidance to kickstart your project</p>
                </div>
            </li>
             <li>
                <div class="ct_how_work_icon">
               <img src="assets/img/programmer.gif" alt="">
              </div>
                <div>
                  <h5 class="ct_fw_18 ct_fw_600 mb-2"> Discuss Your Vision with Our Development Experts</h5>
                  <p class="mb-0 ct_fw_400"> Connect directly with our experienced developers to discuss
                    your specific requirements, technical details, and project
                    goals.</p>
                </div>
            </li>
             <li>
                <div class="ct_how_work_icon">
                <img src="assets/img/artificial-intelligence.gif" alt="">
              </div>
                <div>
                  <h5 class="ct_fw_18 ct_fw_600 mb-2"> Smart AI Constructs Your Core Features</h5>
                  <p class="mb-0 ct_fw_400">   Our advanced AI algorithms intelligently assemble the
                    fundamental building blocks of your application or website,
                    ensuring efficiency and accuracy</p>
                </div>
            </li>
             <li>
                <div class="ct_how_work_icon">
                  <img src="assets/img/badge.gif" alt="">
              </div>
                <div>
                  <h5 class="ct_fw_18 ct_fw_600 mb-2"> Human Expertise Tailors and Refines Your Solution</h5>
                  <p class="mb-0 ct_fw_400">  Our skilled specialists meticulously customize and refine
                    every aspect of your platform, ensuring a perfect fit for
                    your unique needs and brand identity</p>
                </div>
            </li>
              <li>
                  <div class="ct_how_work_icon">
               <img src="assets/img/startup.gif" alt="">
              </div>
                <div>
                  <h5 class="ct_fw_18 ct_fw_600 mb-2"> Your Innovative Digital Solution is Ready for Launch</h5>
                  <p class="mb-0 ct_fw_400">Your fully developed and rigorously tested app or website is
                    ready to be deployed, empowering your business and engaging
                    your audience</p>
                </div>
            </li>
          </ul>
        </div>
       
      </div>
      <div class="col-md-5 mb-4 mb-md-0 offset-md-1">
        <div class="ct_how_works_img">
          <img
            loading="lazy"
            src="assets/img/how-works_right.png"
            alt="AI-powered app and web development"
          />
          <img
            loading="lazy"
            src="assets/img/circle_git_123.gif"
            alt="AI-powered app and web development"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- How it works section E -->
<hr class="ct_break_line" />
<!-- Choose Your Bussiness Section S -->
<section class="ct_pt_50 ct_pb_50">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h2 class="text-center ct_fw_700  ct_fs_44 ">Find Your Perfect Match: Select Your <span
                                    class="ct_orange_gredient_text">Business Category</span>
                              </h2>
                  </div>
            </div>
            <div class="row pt-4">
                  <div class="col-md-4 mb-4 mb-md-0">
                        <div class="ct_promiss_card">
                             <div>
                               <h4 class="mb-1 ct_fs_24  text-center ct_fw_600">Education</h4>
                              <p class="text-center ct_fw_600 ">Let customers book your services online
                              </p>
                             
                              <div class="ct_promisses_img">
                                    <img loading="lazy" src="assets/img/saloon_img_1.png" alt="AI app builder">

                              </div>
                              <div class="ct_perks_job_list_ul mt-3">
                                    <ul>
                                          <li class="ct_fs_16">
                                                <i class="bi bi-check2-circle ct_icon_before_fw_500"></i>Effortless
                                                online course enrollment for students
                                          </li>

                                          <li class="ct_fs_16"><i
                                                      class="bi bi-check2-circle ct_icon_before_fw_500"></i>Personalized
                                                learning recommendations
                                          </li>
                                          <li class="ct_fs_16"><i
                                                      class="bi bi-check2-circle ct_icon_before_fw_500"></i>Secure and
                                                convenient payment processing
                                          </li>
                                          <li class="ct_fs_16"><i
                                                      class="bi bi-check2-circle ct_icon_before_fw_500"></i>Targeted
                                                learning resources and instant notifications
                                          </li>
                                          <li class="ct_fs_16"><i
                                                      class="bi bi-check2-circle ct_icon_before_fw_500"></i>Modern
                                                digital tools for an interactive learning experience
                                          </li>
                                    </ul>
                              </div>
                             </div>
                               <div class="mt-4">
                                    <a routerLink="/education" class="ct_blue_btn_fill   w-100">View
                                          details</a>
                              </div>
                        </div>

                  </div>
                  <div class="col-md-4 mb-4 mb-md-0">
                        <div class="ct_promiss_card">
                              <div>
                                    <h4 class="mb-1 ct_fs_24  text-center ct_fw_600">Ecommerce</h4>
                              <p class="text-center ct_fw_600 ">Let customers book your services online
                              </p>
                            
                              <div class="ct_promisses_img">
                                    <img loading="lazy" src="assets/img/ecommerce_img_123.png" alt="AI app builder">

                              </div>
                              <div class="ct_perks_job_list_ul mt-3">
                                    <ul>
                                          <li class="ct_fs_16">
                                                <i class="bi bi-check2-circle ct_icon_before_fw_500"></i>Online food
                                                ordering for dine-in or collection

                                          </li>
                                          <li class="ct_fs_16"><i
                                                      class="bi bi-check2-circle ct_icon_before_fw_500"></i>Tailored
                                                recommendations to customers

                                          </li>
                                          <li class="ct_fs_16"><i
                                                      class="bi bi-check2-circle ct_icon_before_fw_500"></i>Simple and
                                                secured payment options
                                          </li>
                                          <li class="ct_fs_16"><i
                                                      class="bi bi-check2-circle ct_icon_before_fw_500"></i>Promotions &
                                                push notifications to attract your customers


                                          </li>
                                          <li class="ct_fs_16"><i
                                                      class="bi bi-check2-circle ct_icon_before_fw_500"></i>Contactless
                                                payment system

                                          </li>
                                    </ul>
                              </div>
                              </div>
                                <div class="mt-auto">
                                    <a routerLink="/retail-ecommerce"
                                          class="ct_blue_btn_fill   w-100">View details</a>
                              </div>
                        </div>

                  </div>
                  <div class="col-md-4 mb-4 mb-md-0">
                        <div class="ct_promiss_card">
                              <div>
                                    <h4 class="mb-1 ct_fs_24  text-center ct_fw_600 ">Healthcare</h4>
                              <p class="text-center ct_fw_600 ">Let patients book your services online

                              </p>
                            
                              <div class="ct_promisses_img">
                                    <img loading="lazy" src="assets/img/healtcare_1234.png" alt="AI app builder">

                              </div>
                              <div class="ct_perks_job_list_ul mt-3">
                                    <ul>
                                          <li class="ct_fs_16">
                                                <i class="bi bi-check2-circle ct_icon_before_fw_500"></i>Effortless
                                                online appointment scheduling for patients

                                          </li>
                                          <li class="ct_fs_16"><i
                                                      class="bi bi-check2-circle ct_icon_before_fw_500"></i>Personalized
                                                care plan and service recommendations


                                          </li>
                                          <li class="ct_fs_16"><i
                                                      class="bi bi-check2-circle ct_icon_before_fw_500"></i>Secure and
                                                convenient payment processing
                                          </li>
                                          <li class="ct_fs_16"><i
                                                      class="bi bi-check2-circle ct_icon_before_fw_500"></i>Health tips
                                                & reminders to engage your patients


                                          </li>
                                          <li class="ct_fs_16"><i
                                                      class="bi bi-check2-circle ct_icon_before_fw_500"></i>Modern
                                                contactless payment options available

                                          </li>
                                    </ul>
                              </div>
                              </div>
                                <div class="mt-auto">
                                    <a routerLink="/health-care" class="ct_blue_btn_fill w-100">View
                                          details</a>
                              </div>
                        </div>

                  </div>

            </div>

            <div class="ct_btn_group ct_mt_85 justify-content-center">
                  <a routerLink="/free-demo" class="ct_blue_btn_fill">Speak to an expert</a>
                  <a class="ct_link_green ct_link_blue">View More industries</a>
            </div>

      </div>
</section>
<!-- Choose Your Bussiness Section E -->
<hr class="ct_break_line" />
<!-- Selling Online Section S -->


<section class="ct_pt_50 pb-4">
  <div class="container">
    <div class="col-md-12">
      <div class="ct_free_demo_bg">
        <h3 class="ct_fs_20 text-white text-center mb-2 ct_fw_6 00">
         Thinking About Selling Online?
        </h3>
        <h2 class="ct_fs_38 text-center text-white ct_fw_700 mb-2">
        Launch your dream online store effortlessly
        </h2>
        <p class="ct_fs_17 mb-0 text-center text-white">Forget the tech headaches and the need for expensive
                              developers. Our all-in-one Creative Store kit empowers you to start selling your amazing
                              products online, quickly and easily.</p>
        <div class="text-center mt-4">
          <a routerLink="/how-we-compare" class="ct_blue_btn_fill ct_white_btn "
            >View comparison</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Selling Online Section E -->
<section class="ct_pt_50 ct_pb_50">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h2 class="ct_fw_700 ct_fs_44 text-center">Why Creative Store is Your <br> Fast Track to
                              <span class="ct_orange_gredient_text">
                                    Selling Online</span>
                        </h2>
                  </div>
            </div>
            <div class="row align-items-center pt-4 pb-0 ct_row_reverse_767">
                  <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate">
                        <div class="ct_flexible_serivce_cnt">
                              <h3 class="ct_fs_26 ct_fw_600 mb-3 ct_line_h_25">Launch your dream online store in just
                                    one week</h3>
                              <p class="mb-0 ct_fs_16 ct_fw_600 ct_line_h_25">Forget the tech headaches and the need for
                                    expensive developers. Our all-in-one Creative Store kit empowers you to start
                                    selling your amazing products online, quickly and effortlessly.</p>
                        </div>

                  </div>
                  <div class="col-md-4 mb-5 mb-md-0 offset-md-1 aos-init aos-animate" >
                        <div class="ct_creative_single_img">
                              <img loading="lazy" src="assets/img/creative_studio_1.png" alt="AI app builder">
                        </div>
                  </div>

            </div>
            <div class="row align-items-center ct_py_70 pb-0">
                  <div class="col-md-4 mb-5 mb-md-0  aos-init aos-animate">
                        <div class="ct_creative_single_img">
                              <img loading="lazy" src="assets/img/creative_studio_2.png" alt="AI app builder">
                        </div>
                  </div>
                  <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate offset-md-1" >
                        <div class="ct_flexible_serivce_cnt">
                              <h2 class="ct_fs_26 ct_fw_600 mb-3 ct_line_h_25">Your Success, Your Earnings: Keep Every
                                    Rupee You Make</h2>
                              <p class="mb-0 ct_fs_16 ct_fw_600 ct_line_h_25">Keep every rupee you earn and watch your
                                    success grow with higher profits and full control.
                              </p>
                              <div class="mt-4 d-flex align-items-center gap-3 flex-wrap">
                                    <p class="mb-0"> <a routerLink="/how-we-compare" class="ct_link_green ct_link_blue">Read our
                                                comparison</a>
                                    </p>
                                    <p class="mb-0"> <a routerLink="/case-studies" class="ct_link_green ct_link_blue mt-2">Explore
                                                our insights</a>
                                    </p>
                              </div>
                        </div>

                  </div>


            </div>
            <div class="row align-items-center ct_py_70 pb-0 ct_row_reverse_767">
                  <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate">
                        <div class="ct_flexible_serivce_cnt">
                              <h2 class="ct_fs_26 ct_fw_600 mb-3 ct_line_h_25"> Get ongoing support
                              </h2>
                              <p class="mb-0 ct_fs_16 ct_fw_600 ct_line_h_25">
                                    We don’t just finish your project and walk away. Our dedicated aftercare support
                                    keeps your software running smoothly with regular updates, proactive bug fixes, and
                                    performance improvements—often before you even notice an issue.
                              </p>
                              <div class="mt-4">
                                    <p class="mb-3"> <a routerLink="/creative-studio" class="ct_link_green ct_link_blue">Learn more
                                                about Studio One
                                          </a></p>
                              </div>
                        </div>

                  </div>
                  <div class="col-md-4 mb-5 mb-md-0 offset-md-1 aos-init aos-animate" >
                        <div class="ct_creative_single_img">
                              <img loading="lazy" src="assets/img/creative_studio_3.png" alt="AI app builder">
                        </div>
                  </div>

            </div>
            <div class="row align-items-center ct_py_70 pb-0">
                  <div class="col-md-4 mb-5 mb-md-0  aos-init aos-animate">
                        <div class="ct_creative_single_img">
                              <img loading="lazy" src="assets/img/creative_studio_4.png" alt="AI app builder">
                        </div>
                  </div>
                  <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate offset-md-1" >
                        <div class="ct_flexible_serivce_cnt">
                              <h2 class="ct_fs_26 ct_fw_600 mb-3 ct_line_h_25">Keep your code
                              </h2>
                              <p class="mb-0 ct_fs_16 ct_fw_600 ct_line_h_25"> You get full ownership of your code, so
                                    you're always in control. Make updates, add features, or switch teams—without
                                    waiting on us.
                              </p>
                        </div>
                  </div>
            </div>

            <div class="row align-items-center ct_py_70 pb-0 ct_row_reverse_767">
                  <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate">
                        <div class="ct_flexible_serivce_cnt">
                              <h2 class="ct_fs_26 ct_fw_600 mb-3 ct_line_h_25">Flexibility to scale with StorePlus
                              </h2>
                              <p class="mb-0 ct_fs_16 ct_fw_600 ct_line_h_25">
                                    Along with 44 built-in features from Studio Store, StorePlus unlocks 14 powerful
                                    add-ons to boost efficiency and insights. Choose only what you need—and pay for them
                                    just once.
                              </p>
                        </div>
                  </div>
                  <div class="col-md-4 mb-5 mb-md-0 offset-md-1 aos-init aos-animate" >
                        <div class="ct_creative_single_img">
                              <img loading="lazy" src="assets/img/creative_studio_5.png" alt="AI app builder">
                        </div>
                  </div>

            </div>
            <div class="ct_btn_group ct_mt_85 justify-content-center">
                  <a routerLink="/free-demo" class="ct_blue_btn_fill">Speak to an expert</a>
                  <a routerLink="/how-we-compare" class="ct_link_green ct_link_blue">Learn how we compare</a>
            </div>
      </div>
</section>


<hr class="ct_break_line" />
<!-- Recent Best Work S -->
<section class="ct_grey_bg ct_pt_50 ct_pb_50 ct_olw_nav_show_main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div
          class="d-flex align-items-center justify-content-between flex-wrap gap-3"
        >
          <div class="text-center">
            <h4 class="ct_fs_34 ct_fw_700 mb-2">
              See How We've Transformed Ideas into
              <span class="ct_orange_gredient_text">Digital Success Stories</span>
            </h4>
            <p class="ct_fs_18 ct_fs_600">
              Discover how we've helped businesses like yours achieve their
              goals through innovative and customized app and web development.
              Our recent projects showcase our commitment to delivering
              exceptional solutions that address unique challenges and drive
              tangible results.
            </p>
          </div>
         
        </div>


        <div class="owl-carousel owl-theme ct_testimonial_slider mt-4">
                  <div class="item">
                    <div class="ct_testimonial_main">
                        <div>
                              <img src="assets/img/clinet_logo-1.png" alt="">
                        <p>
 Very nice people! they become like family for me. They helped me with my website and they delivered good work. The communication is great. You always get a fast responds. I definitely recommend them. 
                      </p>
                        </div>

                      <div class="mt-auto">
                        <div class="ct_testimonial_user_img">
                        <img src="assets/img/client_2.jpg" alt="">
                      </div>
                      <div class="text-center mt-2">
                        <h5 class="ct_fs_20 ct_fw_600 mb-0">Justine Pogroske</h5>
                        <p class="mb-0">Our Happy Client</p>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                  <div class="ct_testimonial_main">
                       <div>
                         <img src="assets/img/clinet_logo-2.png" alt="">
                        <p>
 They did an amazing work on a very large and challenging project. We do appreciate the great effort and creativity their team put in creating the base for our social marketplace. CTIS is an amazing and very professional fellow. Keep up the great work folks! 
                      </p>
                       </div>

                    <div class="mt-auto">
                          <div class="ct_testimonial_user_img">
                        <img src="assets/img/client_1.png" alt="">
                      </div>
                      <div class="text-center mt-2">
                        <h5 class="ct_fs_20 ct_fw_600 mb-0">Ady Bui </h5>
                        <p class="mb-0">Our Happy Client</p>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="item">
                  <div class="ct_testimonial_main">
                       <div>
                         <img src="assets/img/clinet_logo-3.svg" alt="">
                        <p>
                        I would recommend this company for any upcoming projects and I will use them in the future. They were very much in contact during the whole process and kept me up to date with the progress of work. This was my first time using this platform and I'd say I'm pleased with the work in general. 
                      </p>
                       </div>

                     <div class="mt-auto">
                         <div class="ct_testimonial_user_img">
                        <img src="assets/img/client_3.jpg" alt="">
                      </div>
                      <div class="text-center mt-2">
                        <h5 class="ct_fs_20 ct_fw_600 mb-0">Phillipe Dastous </h5>
                        <p class="mb-0">Our Happy Client</p>
                      </div>
                     </div>
                    </div>
                  </div>
                 
                </div>
      </div>
    </div>
  </div>
</section>
<!-- Recent Best Work E -->




<!-- free demo Section S -->
<section class="ct_pt_50 ct_pb_50">
      <div class="container">
            <div class="col-md-12">
                  <div class="ct_free_demo_bg">
                        <h3 class="ct_fs_20   text-center text-white mb-2 ct_fw_600">Need help to decide?
                        </h3>
                        <h2 class="ct_fs_38 text-center ct_fw_600 text-white mb-2">Find out which plan is right for you</h2>
                        <p class="ct_fs_17 mb-0 text-center text-white">In less than 60 seconds</p>
                        <div class="text-center mt-4">
                              <a routerLink="/free-demo" class="ct_blue_btn_fill ct_white_btn">Get a free demo</a>
                        </div>
                  </div>
            </div>

      </div>
</section>
<!-- free demo Section S -->


<app-footer />