<section class="ct_dash_board_main" style="display: block !important">
  <app-sidebar></app-sidebar>
  <div
    class="ct_dash_right_content pt-5"
    style="
      background: linear-gradient(
        90deg,
        rgb(250 218 188 / 44%),
        rgb(234 170 213 / 36%),
        rgb(220 229 244 / 69%)
      );
      height: auto;
      min-height: 100vh;
    "
  >
    <div class="ct_dash_toggle_bar">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-4">
            <h1 class="ct_fs_18 ct_fw_600">Subcription & Billing</h1>
            <p class="mb-0">
              View your subcription plan, manage saved cards, and check renewal
              information.
            </p>
          </div>

          <!-- Membership Plan Section -->
          <div class="ct_white_bg ct_ecommerse_web_card mb-4 p-3">
            <div class="plan-header">
              <h5 class="ct_fs_18 ct_fw_600">{{ subscriptionPlan.planName }} Plan</h5>
              <div class="status-badge">Active</div>
            </div>

            <div class="plan-details">
              <div class="detail-box">
                <span>Template Limit</span>
                <strong>{{subscriptionPlan.planName  == 'Free' ? 'Not Available' : subscriptionPlan.template_limit}}</strong>
              </div>

              <div class="detail-box">
                <span>{{subscriptionPlan.billingInterval == 'YEAR' ? 'Yearly' : 'Monthly' }} Price</span>
                @if (subscriptionPlan.pricingPlan) {
                  <strong>$ {{subscriptionPlan.pricingPlan}} / {{subscriptionPlan.billingInterval == 'YEAR' ? 'year' : 'month' }}</strong>
                }@else {
                  <strong>No Plan Found</strong>
                }
              </div>

              <div class="detail-box">
                <span>Support Level</span>
                <strong>Basic Support</strong>
              </div>

              <div class="detail-box">
                <span>Next Billing Date</span>
                <strong>{{subscriptionPlan.next_charge_date ? subscriptionPlan.next_charge_date : 'Not Available'}}</strong>
              </div>
            </div>
          </div>

          <!-- Payment Methods Section -->
          @if (subscriptionPlan.activePaymentMethod) {
            <div class="ct_white_bg ct_ecommerse_web_card mb-4 p-3">
              <h5 class="ct_fs_18 ct_fw_600">Active Payment Methods</h5>
  
              <div class="cards-list">
                <!-- Primary Card -->
                <div class="payment-card primary">
                
                  <div class="card-info">
                    <h6 class="d-flex align-items-center gap-2 flex-wrap">
                      Visa ending in 4582
                    </h6>
                    <span>Expires 08/28</span>
                  </div>
  
                  <div class="card-actions">
                    <!-- <button class="ct_schedule_call_btn ct_white_nowrape_1 px-3 justify-content-center w-auto py-2">Update </button> -->
                    <button class="remove-btn ct_schedule_call_btn ct_white_nowrape_1 px-3 justify-content-center w-auto py-2 " (click)="cancelSubcription()">Cancel Subcription</button>
                  </div>
                </div>
              </div>
  
              <!-- <button class="ct_schedule_call_btn ct_white_nowrape_1 px-3 w-auto mt-4">+ Add New Card</button> -->
            </div>
  
            <!-- Renewal Details Section -->
            <div class="ct_white_bg ct_ecommerse_web_card mb-4 p-3 renewal-box">
              <h2 class="ct_fs_18 ct_fw_600 mb-0">Membership Renewal</h2>
              <p>
                Your membership will renew automatically unless cancelled before
                the renewal date.
              </p>
  
              <div class="renewal-dates">
                <div class="date-box">
                  <span>Plan Start Date</span>
                  <strong>10 Feb 2026</strong>
                </div>
  
                <div class="date-box">
                  <span>Renewal Date</span>
                  <strong>10 Mar 2026</strong>
                </div>
              </div>
            </div>
                
          }
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-subcription-page [subscriptionModalOpen]="showModal" (close)="closeModal()"></app-subcription-page> -->
