
    <section class="ct_dash_board_main" style="display: block !important">
          <app-sidebar></app-sidebar>
          <div class="ct_dash_right_content pt-5"
                style="background: linear-gradient(90deg, rgb(250 218 188 / 44%), rgb(234 170 213 / 36%), rgb(220 229 244 / 69%)); height: auto; min-height: 100vh;">
                <div class="ct_dash_toggle_bar">
                      <i class="fa-solid fa-bars"></i>
                </div>
               
          </div>
    </section>
 
    
  

    
    
   
        
        <!-- <app-subcription-page [subscriptionModalOpen]="showModal" (close)="closeModal()"></app-subcription-page> -->
    
  