<div class="ct_sidebar">
      <div class="ct_dash_logo">
            <a href="javascript:void(0)">
                  <img loading="lazy" src="assets/img/cti_black_logo.svg" alt="AI app builder for mobile and web">
            </a>
      </div>
      <div class="ct_dash_nav">
            <ul>
                  <li class="ct_tool_tip_main" data-bs-toggle="modal" data-bs-target="#ct_refresh_page">
                        <a href="javascript:void(0)">
                              <img loading="lazy" src="assets/img/refresh_dash_icon.svg" alt="AI app builder for mobile and web">
                        </a>
                        <div class="ct_tool_tip_cnt">
                              <p class="mb-0"> Start a new Buildcard</p>

                        </div>
                  </li>
                  <li class="ct_tool_tip_main">
                        <a routerLink="/dashboard">
                              <img loading="lazy" src="assets/img/radix-icons_dashboard_icon.svg" alt="AI app builder for mobile and web">
                        </a>
                        <div class="ct_tool_tip_cnt">
                              <p class="mb-0"> Go to my dashboard</p>

                        </div>
                  </li>
                  <li class="ct_tool_tip_main">
                        <a routerLink="/schedule-a-call">
                              <img loading="lazy" src="assets/img/head_dash_icon.svg" alt="AI app builder for mobile and web">
                        </a>
                        <div class="ct_tool_tip_cnt ct_tooltip_schedule_btn">
                              <button class="ct_schedule_call_btn"><i class="bi bi-telephone"></i>schedule a
                                    call</button>
                        </div>
                  </li>
            </ul>
            <ul>
                  <li class="ct_tool_tip_main">
                        <a href="javascript:void(0)">
                              <img loading="lazy" src="assets/img/rocket_dash_icon.svg" alt="AI app builder for mobile and web">
                        </a>
                        <div class="ct_tool_tip_cnt ct_superpower_card_main_overlay">
                              <img loading="lazy" src="assets/img/circle_git_123.gif" alt="AI app builder for mobile and web">
                              <h5 class="ct_fs_22 ct_fw_700 text-start">New Creative App & Web</h5>
                              <div class="ct_superpower_card_outline_1">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 mb-3">
                                          <p class="mb-0 ct_fw_700">Vaanya, our AI, gives it superpowers:</p>
                                          <p class="mb-0 ct_grey_text">10 October 2024</p>
                                    </div>
                                    <ul>
                                          <li>Launching a mobile experience for GITEX Global event goers (rolling
                                                out for
                                                everyone else soon!)</li>
                                          <li>Enhanced image generation — to make your idea feel more personal
                                                right from the
                                                start.</li>
                                          <li>Improved first interaction. Now Vaanya can detect relevant features
                                                as you
                                                describe your idea and add these directly to your Buildcard.</li>
                                          <li>More relevant journeys. Journeys are how we group features. Now you
                                                can edit
                                                their names and swap features between them.</li>

                                    </ul>
                              </div>
                        </div>
                  </li>
                  <li class="ct_tool_tip_main ">
                        <a href="javascript:void(0)">
                              <img loading="lazy" src="assets/img/my_account_dash_icon.svg" alt="AI app builder for mobile and web">
                        </a>
                        <div class="ct_tool_tip_cnt ct_superpower_card_main_overlay ct_profile_width_small">
                              <ul class="ct_profile_drop_34">
                                    <li>
                                          <a routerLink="/profile">Edit Profile</a>
                                    </li>
                                    <li>
                                          <a>Change Password</a>
                                    </li>
                                    <li>
                                          <a (click)="LogOut()">Log Out</a>
                                    </li>
                              </ul>
                        </div>
                  </li>
            </ul>
      </div>
</div>