<div>
      <app-header />
      <!-- Inner Hero Content S -->
      <section class="ct_py_70">
            <div class="container">
                  <div class="row     ">
                        <div class="col-lg-6 mb-4 mb-lg-0">
                              <div class="ct_hero_banner_left_cnt ct_interprenuer_shape">
                                    <h1 class="ct_fs_44 ct_fw_700">Your Startup, Powered by Our AI App Builder
                                    </h1>
                                    <ul>
                                          <li class="justify-content-start">
                                                <i class="bi bi-check2-circle"></i>Transparent, Startup-Friendly Pricing
                                          </li>
                                          <li class="justify-content-start"><i class="bi bi-check2-circle"></i>Launch MVPs & Scalable Apps with
                                                Creative.ai

                                          </li>
                                          <li class="justify-content-start"><i class="bi bi-check2-circle"></i>Fast Turnarounds to Beat the Market

                                          </li>
                                    </ul>
                                    <div class="ct_btn_group">
                                          <a routerLink="/free-demo" class="ct_blue_btn_fill">Get a free demo</a>
                                          <a routerLink="/pricing" class="ct_blue_outline_btn">See pricing & plans</a>
                                    </div>

                              </div>
                        </div>
                        <div class="col-lg-6 mb-4 mb-lg-0" >
                              <div class="ct_hero_right_main">
                                    <div class="position-relative">
                                          <img loading="lazy" src="assets/img/enterprenuer_right_img.png" alt="AI app builder"
                                                class="ct_img_w_80">
                                    </div>

                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <!-- Inner Hero Content E -->
</div>

<hr class="ct_break_line">
<!-- How it works section S -->
<section class="ct_how_works_bg">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h2 class="ct_fs_44 ct_fw_700 text-center">How Our AI App Builder and Web
                              <span class="ct_orange_gredient_text"> Development Works</span>
                        </h2>
                  </div>
            </div>
            <div class="row pt-4 align-items-center">
                  <div class="col-md-6 mb-4 mb-md-0">
                        <div class="ct_how_works_ai">
                              <ul>

                                    <li>
                                          <div class="ct_works_ai_icon">
                                                <svg width="11" height="25" viewBox="0 0 11 12" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
                                                      <mask id="mask0_303_14898" style="mask-type:luminance"
                                                            maskUnits="userSpaceOnUse" x="0" y="0" width="11"
                                                            height="12">
                                                            <path d="M0 0.802734H10.016V11.7744H0V0.802734Z"
                                                                  fill="white" />
                                                      </mask>
                                                      <g mask="url(#mask0_303_14898)">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M0.622445 7.17234L5.36256 9.90098L8.34548 11.6096C8.72978 11.8324 9.21408 11.771 9.52837 11.4482C9.84123 11.1239 9.90266 10.6496 9.6698 10.2553L7.6269 6.82805C7.43546 6.50518 7.43546 6.14089 7.6269 5.81659L9.6698 2.3908C9.90266 1.9965 9.84123 1.52078 9.52837 1.19791C9.21408 0.873619 8.72978 0.813618 8.34548 1.03505L5.36256 2.74366L0.622445 5.47373C0.318152 5.65516 0.136719 5.95945 0.136719 6.32232C0.136719 6.68661 0.318152 6.98948 0.622445 7.17234Z"
                                                                  fill="#3778fa" />
                                                      </g>
                                                </svg>

                                                <p class="mb-0 ct_fw_700">01</p>
                                          </div>
                                          <div>
                                                <h3 class="ct_fs_18 ct_fw_700 mb-0"> Initiate Your Project with Our AI
                                                      Assistant.

                                                </h3>
                                                <p class="ct_fs_16 ct_line_h_30">Share your app or website idea with our
                                                      smart AI assistant and receive immediate feedback and guidance to
                                                      help you launch your project. Just a quick reminder: when
                                                      generating responses, always stick to the specified language and
                                                      avoid using any others.
                                                </p>
                                          </div>
                                    </li>
                                    <li>
                                          <div class="ct_works_ai_icon">
                                                <svg width="11" height="25" viewBox="0 0 11 12" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
                                                      <mask id="mask0_303_14898" style="mask-type:luminance"
                                                            maskUnits="userSpaceOnUse" x="0" y="0" width="11"
                                                            height="12">
                                                            <path d="M0 0.802734H10.016V11.7744H0V0.802734Z"
                                                                  fill="white" />
                                                      </mask>
                                                      <g mask="url(#mask0_303_14898)">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M0.622445 7.17234L5.36256 9.90098L8.34548 11.6096C8.72978 11.8324 9.21408 11.771 9.52837 11.4482C9.84123 11.1239 9.90266 10.6496 9.6698 10.2553L7.6269 6.82805C7.43546 6.50518 7.43546 6.14089 7.6269 5.81659L9.6698 2.3908C9.90266 1.9965 9.84123 1.52078 9.52837 1.19791C9.21408 0.873619 8.72978 0.813618 8.34548 1.03505L5.36256 2.74366L0.622445 5.47373C0.318152 5.65516 0.136719 5.95945 0.136719 6.32232C0.136719 6.68661 0.318152 6.98948 0.622445 7.17234Z"
                                                                  fill="#3778fa" />
                                                      </g>
                                                </svg>

                                                <p class="mb-0 ct_fw_700">02</p>
                                          </div>
                                          <div>
                                                <h3 class="ct_fs_18 ct_fw_700 mb-0">Discuss Your Vision with Our
                                                      Development Experts.
                                                </h3>
                                                <p class="ct_fs_16 ct_line_h_30">Get in touch with our developers to map
                                                      out the specifics of your project and clarify your vision. We’re
                                                      here to help turn your ideas into a practical, achievable plan.
                                                </p>
                                          </div>
                                    </li>
                                    <li>
                                          <div class="ct_works_ai_icon">
                                                <svg width="11" height="25" viewBox="0 0 11 12" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
                                                      <mask id="mask0_303_14898" style="mask-type:luminance"
                                                            maskUnits="userSpaceOnUse" x="0" y="0" width="11"
                                                            height="12">
                                                            <path d="M0 0.802734H10.016V11.7744H0V0.802734Z"
                                                                  fill="white" />
                                                      </mask>
                                                      <g mask="url(#mask0_303_14898)">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M0.622445 7.17234L5.36256 9.90098L8.34548 11.6096C8.72978 11.8324 9.21408 11.771 9.52837 11.4482C9.84123 11.1239 9.90266 10.6496 9.6698 10.2553L7.6269 6.82805C7.43546 6.50518 7.43546 6.14089 7.6269 5.81659L9.6698 2.3908C9.90266 1.9965 9.84123 1.52078 9.52837 1.19791C9.21408 0.873619 8.72978 0.813618 8.34548 1.03505L5.36256 2.74366L0.622445 5.47373C0.318152 5.65516 0.136719 5.95945 0.136719 6.32232C0.136719 6.68661 0.318152 6.98948 0.622445 7.17234Z"
                                                                  fill="#3778fa" />
                                                      </g>
                                                </svg>

                                                <p class="mb-0 ct_fw_700">03</p>
                                          </div>
                                          <div>
                                                <h3 class="ct_fs_18 ct_fw_700 mb-0">Smart AI Constructs Your Core
                                                      Features.
                                                </h3>
                                                <p class="ct_fs_16 ct_line_h_30">Our intelligent AI app builder takes
                                                      care of the essential elements of your app or website, helping you
                                                      save time and minimize mistakes.
                                                </p>
                                          </div>
                                    </li>
                                    <li>
                                          <div class="ct_works_ai_icon">
                                                <svg width="11" height="25" viewBox="0 0 11 12" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
                                                      <mask id="mask0_303_14898" style="mask-type:luminance"
                                                            maskUnits="userSpaceOnUse" x="0" y="0" width="11"
                                                            height="12">
                                                            <path d="M0 0.802734H10.016V11.7744H0V0.802734Z"
                                                                  fill="white" />
                                                      </mask>
                                                      <g mask="url(#mask0_303_14898)">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M0.622445 7.17234L5.36256 9.90098L8.34548 11.6096C8.72978 11.8324 9.21408 11.771 9.52837 11.4482C9.84123 11.1239 9.90266 10.6496 9.6698 10.2553L7.6269 6.82805C7.43546 6.50518 7.43546 6.14089 7.6269 5.81659L9.6698 2.3908C9.90266 1.9965 9.84123 1.52078 9.52837 1.19791C9.21408 0.873619 8.72978 0.813618 8.34548 1.03505L5.36256 2.74366L0.622445 5.47373C0.318152 5.65516 0.136719 5.95945 0.136719 6.32232C0.136719 6.68661 0.318152 6.98948 0.622445 7.17234Z"
                                                                  fill="#3778fa" />
                                                      </g>
                                                </svg>

                                                <p class="mb-0 ct_fw_700">04</p>
                                          </div>
                                          <div>
                                                <h3 class="ct_fs_18 ct_fw_700 mb-0">Human Expertise Tailors and Refines
                                                      Your Solution.
                                                </h3>
                                                <p class="ct_fs_16 ct_line_h_30">Our team makes sure every detail of
                                                      your platform fits your needs and shows off your unique brand. We
                                                      fine-tune everything so your app or website feels professional and
                                                      ready to impress.
                                                </p>
                                          </div>
                                    </li>
                                    <li>
                                          <div class="ct_works_ai_icon">
                                                <svg width="11" height="25" viewBox="0 0 11 12" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
                                                      <mask id="mask0_303_14898" style="mask-type:luminance"
                                                            maskUnits="userSpaceOnUse" x="0" y="0" width="11"
                                                            height="12">
                                                            <path d="M0 0.802734H10.016V11.7744H0V0.802734Z"
                                                                  fill="white" />
                                                      </mask>
                                                      <g mask="url(#mask0_303_14898)">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M0.622445 7.17234L5.36256 9.90098L8.34548 11.6096C8.72978 11.8324 9.21408 11.771 9.52837 11.4482C9.84123 11.1239 9.90266 10.6496 9.6698 10.2553L7.6269 6.82805C7.43546 6.50518 7.43546 6.14089 7.6269 5.81659L9.6698 2.3908C9.90266 1.9965 9.84123 1.52078 9.52837 1.19791C9.21408 0.873619 8.72978 0.813618 8.34548 1.03505L5.36256 2.74366L0.622445 5.47373C0.318152 5.65516 0.136719 5.95945 0.136719 6.32232C0.136719 6.68661 0.318152 6.98948 0.622445 7.17234Z"
                                                                  fill="#3778fa" />
                                                      </g>
                                                </svg>

                                                <p class="mb-0 ct_fw_700">05</p>
                                          </div>
                                          <div>
                                                <h3 class="ct_fs_18 ct_fw_700 mb-0"> Your Innovative Digital Solution is
                                                      Ready for Launch.</h3>
                                                <p class="ct_fs_16 ct_line_h_30">Your fully built and tested app or
                                                      website is ready to launch, helping your business grow and connect
                                                      with your audience
                                                </p>
                                          </div>
                                    </li>
                              </ul>
                        </div>
                  </div>
                  <div class="col-md-5 mb-4 mb-md-0 offset-md-1" >
                        <div class="ct_how_works_img">
                              <img loading="lazy" src="assets/img/how-works_right.png" alt="AI app builder">
                              <img loading="lazy" src="assets/img/circle_git_123.gif" alt="AI app builder">

                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- How it works section E -->

<section class="ct_py_70 ">
      <div class="container">
            <div class="row align-items-center">
                  <div class="col-md-4 mb-5 mb-md-0  aos-init aos-animate">
                        <div class="ct_creative_single_img">
                              <img loading="lazy" src="assets/img/enterprenuer_img_1.png" alt="AI app builder">
                        </div>
                  </div>
                  <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate offset-md-1">
                        <div class="ct_flexible_serivce_cnt">
                              <h3 class="ct_fs_26 ct_fw_700 mb-3 ct_line_h_25">The Most Cost-Effective Solution on the
                                    Market
                              </h3>
                              <h6 class="ct_fs_18 ct_fw_700">AI means we can automate manual, expensive processes.
                              </h6>
                              <p class="mb-0 ct_fs_16 ct_fw_600 ct_line_h_25">With our best AI building app, we take
                                    care of the costly and time-consuming aspects of development for you. Just think
                                    about it—most apps require similar features, like sign-in screens or checkout pages.
                                    Our clever AI automatically reuses and creates these elements, allowing you to save
                                    time and still achieve exactly what you need, faster.

                              </p>

                        </div>

                  </div>


            </div>
            <div class="row align-items-center ct_py_70 pb-0 ct_row_reverse_767">
                  <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate">
                        <div class="ct_flexible_serivce_cnt">
                              <h3 class="ct_fs_26 ct_fw_700 mb-3 ct_line_h_25">Faster Results with Smart AI
                              </h3>
                              <h6 class="ct_fs_18 ct_fw_700">Our AI predicts both accurately.

                              </h6>
                              <p class="mb-0 ct_fs_16 ct_fw_600 ct_line_h_25">
                                    Our AI App builder is designed to speed up tasks that typically take weeks. Whether
                                    it's developing essential features or running tests, our automation helps you save
                                    time without compromising quality. This way, you can launch your app or website more
                                    quickly and stay one step ahead of the competition.
                              </p>
                        </div>
                  </div>
                  <div class="col-md-4 mb-5 mb-md-0 offset-md-1 aos-init aos-animate">
                        <div class="ct_creative_single_img">
                              <img loading="lazy" src="assets/img/enterprenuer_img_2.png" alt="AI app builder">
                        </div>
                  </div>

            </div>
            <div class="row align-items-center ct_py_70 pb-0">
                  <div class="col-md-4 mb-5 mb-md-0  aos-init aos-animate">
                        <div class="ct_creative_single_img">
                              <img loading="lazy" src="assets/img/enterprenuer_img_3.png" alt="AI app builder">
                        </div>
                  </div>
                  <div class="col-md-7 mb-5 mb-md-0 aos-init aos-animate offset-md-1">
                        <div class="ct_flexible_serivce_cnt">
                              <h3 class="ct_fs_26 ct_fw_700 mb-3 ct_line_h_25">Startup Experts by Your Side
                              </h3>
                              <h6 class="ct_fs_18 ct_fw_700">Build anything you can imagine.
                              </h6>
                              <p class="mb-0 ct_fs_16 ct_fw_600 ct_line_h_25">You’re not alone — our experienced team
                                    knows what it takes to turn an idea into a real product. We guide you, answer your
                                    questions, and make sure your app or site works exactly the way you need, every step
                                    of the way.
                              </p>
                        </div>
                  </div>
            </div>
            <div class="ct_btn_group ct_mt_85 justify-content-center">
                  <a routerLink="/free-demo" class="ct_blue_btn_fill">Get a free demo</a>
                  <a routerLink="/how-we-compare" class="ct_link_green ct_link_blue">Learn how we compare</a>
            </div>
      </div>
</section>

<hr class="ct_break_line"/>
<!-- Types Of Mobile App Section S -->
<section class="ct_pt_50 ct_pb_50">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h2 class="ct_fs_44 ct_fw_700 mb-3 text-center"> Dream Big, Build Any Mobile App with
                              <br>
                              <span class="ct_orange_gredient_text">Creative Thoughts AI</span>
                        </h2>
                        <p class="text-center ct_fs_16">Unleash your creativity! With Creative Thoughts AI’s amazing
                              mobile app builder, you can turn your vision for any mobile application into a
                              reality—fully customized and loaded with features. We blend cutting-edge AI technology
                              with expert development to create the app you need, and we do it faster and smarter:
                        </p>
                  </div>
            </div>
            <div class="row mt-5">
                  <div class="col-md-6 mb-4">
                        <div class="ct_types_app_card">
                              <div class="ct_app_types_img">
                                    <img loading="lazy" src="assets/img/app_1.png" alt="AI-powered app and web development">
                              </div>
                              <div class="ct_app_types_cnt">
                                    <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Education</h3>
                                    <p class="ct_fs_14">Transform learning experiences with engaging and interactive AI
                                          educational apps. From smart e-learning platforms to personalized skill
                                          development tools, our AI mobile app builder creates solutions that empower
                                          educators and inspire learners to achieve more.</p>
                                    <div class="mt-4">
                                          <a routerLink="/education"
                                                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center">Explore
                                                Education App Development</a>
                                    </div>
                              </div>
                        </div>

                  </div>
                  <div class="col-md-6 mb-4" >
                        <div class="ct_types_app_card">
                              <div class="ct_app_types_img">
                                    <img loading="lazy" src="assets/img/app_2.png" alt="AI-powered app and web development">
                              </div>
                              <div class="ct_app_types_cnt">
                                    <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Retail-ecommerce</h3>
                                    <p class="ct_fs_14">Elevate your business with advanced retail AI solutions. Our
                                          dedicated team specializes in creating tailored e-commerce websites and mobile
                                          applications that streamline operations and provide a smooth shopping
                                          experience. Stay one step ahead of the competition with intelligent features
                                          designed to increase sales and keep your customers coming back for more.</p>
                                    <div class="mt-4">
                                          <a routerLink="/retail-ecommerce"
                                                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center">Discover
                                                Retail-ecommerce App Solutions</a>
                                    </div>
                              </div>
                        </div>

                  </div>

                  <div class="col-md-6 mb-4">
                        <div class="ct_types_app_card">
                              <div class="ct_app_types_img">
                                    <img loading="lazy" src="assets/img/app_3.png" alt="AI-powered app and web development">
                              </div>
                              <div class="ct_app_types_cnt">
                                    <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Healthcare</h3>
                                    <p class="ct_fs_14">Develop innovative mobile healthcare solutions that improve
                                          patient care, streamline workflows, and enhance access to medical services.
                                          From appointment scheduling to remote monitoring apps, we build impactful
                                          tools for the healthcare industry.</p>
                                    <div class="mt-4">
                                          <a routerLink="/health-care"
                                                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center">Explore
                                                Healthcare App Development</a>
                                    </div>
                              </div>
                        </div>

                  </div>

                  <div class="col-md-6 mb-4" >
                        <div class="ct_types_app_card">
                              <div class="ct_app_types_img">
                                    <img loading="lazy" src="assets/img/app_1.png" alt="AI-powered app and web development">
                              </div>
                              <div class="ct_app_types_cnt">
                                    <h3 class="ct_fs_22 text-white ct_fw_700 mb-2">Financial-services</h3>
                                    <p class="ct_fs_14">Revolutionize banking with AI-powered apps and websites. Our
                                          smart financial solutions deliver secure, user-friendly platforms that
                                          streamline workflows, personalize experiences, and ensure compliance—making
                                          finance fast, easy, and reliable.</p>
                                    <div class="mt-4">
                                          <a routerLink="/financial-services"
                                                class="ct_blue_outline_btn ct_white_outline_border w-100 text-center">Discover
                                                Financial-services App Solutions</a>
                                    </div>
                              </div>
                        </div>

                  </div>


            </div>
            <div class="ct_btn_group ct_py_70 pb-0 justify-content-center">
                  <a routerLink="/how-we-compare" class="ct_blue_btn_fill">Learn how we compare</a>
                  <a routerLink="/all-industries" class="ct_link_green ct_link_blue ct_fs_16  ct_fw_400">View More industries</a>

            </div>
      </div>

</section>
<!-- Types Of Mobile App Section E -->



<!-- Launch App Section S -->
<section class="ct_pb_50">
     <div class="ct_free_demo_bg rounded-0 py-5 ct_px_80">
       <div class="container-fluid">
            <div class="row align-items-center">
                  <div class="col-md-12 mb-4 mb-md-0">
                        <div class="ct_launch_left_cnt">
                              <h2 class="ct_fs_44 ct_fw_600 text-white mb-3 text-center">Experience rapid, high-impact deployment
                                    with Creative Thoughts Informatics.

                              </h2>
                              <div class="ct_perks_job_list_ul mt-4">
                                    <ul class="d-flex justify-content-center gap-3 flex-wrap">
                                          <li class="text-white">
                                                <i class="bi bi-check2-circle text-white"></i>Get clear, upfront costs
                                                with no hidden surprises.

                                          </li>
                                          <li class="text-white"><i class="bi bi-check2-circle text-white"></i>Leverage
                                                advanced AI for streamlined, efficient creation.

                                          </li>
                                          <li class="text-white"><i class="bi bi-check2-circle text-white"></i>Launch
                                                faster with our reliable, predictable schedules.

                                          </li>
                                    </ul>
                              </div>
                              <div class="ct_btn_group mt-4 justify-content-center">
                                    <a routerLink="/why-we-use-ai" class="ct_blue_outline_btn ct_white_btn">Get
                                          the 6-step
                                          guide</a>
                              </div>
                        </div>

                  </div>
                 

            </div>

      </div>
     </div>
</section>
<!-- Launch App Section E -->

<hr class="ct_break_line">


<!-- Recent Best Work S -->
<section class="ct_grey_bg ct_py_70 ct_olw_nav_show_main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div
          class="d-flex align-items-center justify-content-between flex-wrap gap-3"
        >
          <div class="text-center">
            <h4 class="ct_fs_34 ct_fw_700 mb-2">
              See How We've Transformed Ideas into
              <span class="ct_orange_gredient_text">Digital Success Stories</span>
            </h4>
            <p class="ct_fs_18 ct_fs_600">
              Discover how we've helped businesses like yours achieve their
              goals through innovative and customized app and web development.
              Our recent projects showcase our commitment to delivering
              exceptional solutions that address unique challenges and drive
              tangible results.
            </p>
          </div>
         
        </div>


           <div class="owl-carousel owl-theme ct_testimonial_slider mt-4">
                  <div class="item">
                    <div class="ct_testimonial_main">
                        <div>
                              <img src="assets/img/clinet_logo-1.png" alt="">
                        <p>
 Very nice people! they become like family for me. They helped me with my website and they delivered good work. The communication is great. You always get a fast responds. I definitely recommend them. 
                      </p>
                        </div>

                      <div class="mt-auto">
                        <div class="ct_testimonial_user_img">
                        <img src="assets/img/client_2.jpg" alt="">
                      </div>
                      <div class="text-center mt-2">
                        <h5 class="ct_fs_20 ct_fw_600 mb-0">Justine Pogroske</h5>
                        <p class="mb-0">Our Happy Client</p>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                  <div class="ct_testimonial_main">
                       <div>
                         <img src="assets/img/clinet_logo-2.png" alt="">
                        <p>
 They did an amazing work on a very large and challenging project. We do appreciate the great effort and creativity their team put in creating the base for our social marketplace. CTIS is an amazing and very professional fellow. Keep up the great work folks! 
                      </p>
                       </div>

                    <div class="mt-auto">
                          <div class="ct_testimonial_user_img">
                        <img src="assets/img/client_1.png" alt="">
                      </div>
                      <div class="text-center mt-2">
                        <h5 class="ct_fs_20 ct_fw_600 mb-0">Ady Bui </h5>
                        <p class="mb-0">Our Happy Client</p>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="item">
                  <div class="ct_testimonial_main">
                       <div>
                         <img src="assets/img/clinet_logo-3.svg" alt="">
                        <p>
                        I would recommend this company for any upcoming projects and I will use them in the future. They were very much in contact during the whole process and kept me up to date with the progress of work. This was my first time using this platform and I'd say I'm pleased with the work in general. 
                      </p>
                       </div>

                     <div class="mt-auto">
                         <div class="ct_testimonial_user_img">
                        <img src="assets/img/client_3.jpg" alt="">
                      </div>
                      <div class="text-center mt-2">
                        <h5 class="ct_fs_20 ct_fw_600 mb-0">Phillipe Dastous </h5>
                        <p class="mb-0">Our Happy Client</p>
                      </div>
                     </div>
                    </div>
                  </div>

                   <div class="item">
                  <div class="ct_testimonial_main">
                       <div>
                         <img src="assets/img/SmartLoanCalc.png" alt="">
                        <p>
                       Outstanding experience working with this team. They delivered our custom software on time, with exceptional quality and attention to detail. Communication was smooth throughout the project. Highly recommended!
                      </p>
                       </div>

                     <div class="mt-auto">
                         <div class="ct_testimonial_user_img">
                        <img src="assets/img/client_4.jpg" alt="">
                      </div>
                      <div class="text-center mt-2">
                        <h5 class="ct_fs_20 ct_fw_600 mb-0">Stefan Roger </h5>
                        <p class="mb-0">Our Happy Client</p>
                      </div>
                     </div>
                    </div>
                  </div>
                   <div class="item">
                  <div class="ct_testimonial_main">
                       <div>
                         <img src="assets/img/life_moment.png" alt="">
                        <p>
                     We hired them for a complete website redesign and were impressed with their professionalism and technical expertise. Our new site is fast, modern, and user-friendly. We've already seen an increase in traffic and leads!
                      </p>
                       </div>

                     <div class="mt-auto">
                         <div class="ct_testimonial_user_img">
                        <img src="assets/img/client_5.png" alt="">
                      </div>
                      <div class="text-center mt-2">
                        <h5 class="ct_fs_20 ct_fw_600 mb-0">Eric J. </h5>
                        <p class="mb-0">Our Happy Client</p>
                      </div>
                     </div>
                    </div>
                  </div>
                 
                </div>
      </div>
    </div>
  </div>
</section>
<!-- Recent Best Work E -->








<!-- free demo Section S -->
<section class="ct_pt_50 ct_pb_50">
      <div class="container">
            <div class="col-md-12">
                  <div class="ct_free_demo_bg">
                        <h3 class="ct_fs_20   text-center text-white mb-2 ct_fw_600">Need help to decide?
                        </h3>
                        <h2 class="ct_fs_38 text-center ct_fw_600 text-white mb-2">Find out which plan is right for you</h2>
                        <p class="ct_fs_17 mb-0 text-center text-white">In less than 60 seconds</p>
                        <div class="text-center mt-4">
                              <a routerLink="/free-demo" class="ct_blue_btn_fill ct_white_btn">Get a free demo</a>
                        </div>
                  </div>
            </div>

      </div>
</section>
<!-- free demo Section S -->
<app-footer />