  .main-footer{
    background: linear-gradient(180deg, #0C031A 32.36%, #3B0F80 141.31%);

padding-top: 80px;
padding-bottom: 0px;
         }

         .social-icon{
            display: flex;
            gap: 12px;
            padding: 0;
            margin-top: 38px;
         }
         .social-icon li{
            width: 50px;
            height: 50px;
            border: 1px solid #FFFFFF53;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: 0.4s ease all;
            z-index: 1;
            overflow: hidden;
         }
         .social-icon li:before{
            content: "";
            position: absolute;
            inset: 0px;
            background-color: var(--purple);
            transition: 0.4s ease all;
            z-index: -1;
            transform: scale(0);
               border-radius: 100%;
         }
          .social-icon li:hover:before{
            transform: scale(1);
          }
          .social-icon li:hover{
            transform: rotate(360deg);
          }
         .all-link-block{
            list-style: none;
            padding: 0;
            display: grid;
            gap: 8px;
         }
          .all-link-block li a{
           text-decoration: none;
           font-size: 15px;
           font-weight: 400;
           color: #fff;
           text-transform: capitalize;
           transition: 0.4s ease all;
         }
         .all-link-block li a:hover{
            opacity: 0.8;
         }
         .ct_mt_60{
            margin-top: 60px;
         }