

   .loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background: #fff;
    gap: 16px;
  }
   body {
 
    height: 100dvh;
    background: #fff;
  }
  svg {
    width: 50px;
    height: auto;
  }

  .part {
    opacity: 0;
  
  }

  .red {
    fill: #FF5F4C;
    animation: drawRed 2s infinite;
  }
  .blue {
    fill: #1E91D6;
    animation: drawBlue 2s infinite;
  }
  .green {
    fill: #00B355;
    animation: drawGreen  2s infinite;
  }

  @keyframes drawRed {
    0%   { opacity: 0;; }
    15%  { opacity: 1;  }
    100% { opacity: 1;  }
  }

  @keyframes drawBlue {
    0%,15% { opacity: 0;; }
    16%    { opacity: 1;; }
    30%    { opacity: 1;  }
    100%   { opacity: 1;  }
  }

  @keyframes drawGreen {
    0%,30% { opacity: 0;; }
    31%    { opacity: 1;; }
    45%    { opacity: 1;  }
    80%    { opacity: 1;  }
    100%   { opacity: 1;; } /* reset */
  }