/* .loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #fff;
    gap: 16px;
  }
  
  svg {
    width: 90px;
    height: auto;
    animation: pulseScale 1s infinite ease-in-out;
  }
  
  .part {
    opacity: 0;
    transform-origin: center;
  }
  
 
  .red {
    fill: #FF5F4C;
    animation: drawRed 1s infinite, glowRed 1s infinite alternate;
  }
  
 
  .blue {
    fill: #1E91D6;
    animation: drawBlue 1s infinite, glowBlue 1s infinite alternate;
  }
  
  
  .green {
    fill: #00B355;
    animation: drawGreen 1s infinite, glowGreen 1s infinite alternate;
  }
  
  
  @keyframes drawRed {
    0%   { opacity: 0; transform: scale(0.5) rotate(-20deg); }
    15%  { opacity: 1; transform: scale(1) rotate(0); }
    100% { opacity: 1; }
  }
  
  @keyframes drawBlue {
    0%,15% { opacity: 0; transform: scale(0.5) rotate(-20deg); }
    16%    { opacity: 1; transform: scale(1) rotate(0); }
    30%    { opacity: 1; }
    100%   { opacity: 1; }
  }
  
  @keyframes drawGreen {
    0%,30% { opacity: 0; transform: scale(0.5) rotate(-20deg); }
    31%    { opacity: 1; transform: scale(1) rotate(0); }
    45%    { opacity: 1; }
    80%    { opacity: 1; }
    100%   { opacity: 1; }
  }
  
 
  @keyframes glowRed {
    0%   { filter: drop-shadow(0 0 0px #FF5F4C); }
    100% { filter: drop-shadow(0 0 8px #FF5F4C); }
  }
  @keyframes glowBlue {
    0%   { filter: drop-shadow(0 0 0px #1E91D6); }
    100% { filter: drop-shadow(0 0 8px #1E91D6); }
  }
  @keyframes glowGreen {
    0%   { filter: drop-shadow(0 0 0px #00B355); }
    100% { filter: drop-shadow(0 0 8px #00B355); }
  }
  

  @keyframes pulseScale {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.08); }
  }
  
  
  .loader-wrapper p {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    animation: fadeText 1s infinite;
  }
  
  @keyframes fadeText {
    0%, 100% { opacity: 0.3; }
    50% { opacity: 1; }
  }
   */

   .loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #fff;
    gap: 16px;
  }
   body {
 
    height: 100vh;
    background: #fff;
  }
  svg {
    width: 50px;
    height: auto;
  }

  .part {
    opacity: 0;
  
  }

  .red {
    fill: #FF5F4C;
    animation: drawRed 2s infinite;
  }
  .blue {
    fill: #1E91D6;
    animation: drawBlue 2s infinite;
  }
  .green {
    fill: #00B355;
    animation: drawGreen  2s infinite;
  }

  @keyframes drawRed {
    0%   { opacity: 0;; }
    15%  { opacity: 1;  }
    100% { opacity: 1;  }
  }

  @keyframes drawBlue {
    0%,15% { opacity: 0;; }
    16%    { opacity: 1;; }
    30%    { opacity: 1;  }
    100%   { opacity: 1;  }
  }

  @keyframes drawGreen {
    0%,30% { opacity: 0;; }
    31%    { opacity: 1;; }
    45%    { opacity: 1;  }
    80%    { opacity: 1;  }
    100%   { opacity: 1;; } /* reset */
  }