<div class="et_inner_dash_content mt-3">
      <div class="d-flex align-items-center justify-content-between gap-3 et_flex_direction_col_767   ">
            <h4 class="mb-0 ct_fs_24 ct_fw_700">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1262_1548)">
                              <mask id="mask0_1262_1548" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="24" height="24">
                                    <path d="M0 0H24V24H0V0Z" fill="white" />
                              </mask>
                              <g mask="url(#mask0_1262_1548)">
                                    <mask id="mask1_1262_1548" style="mask-type:luminance" maskUnits="userSpaceOnUse"
                                          x="0" y="0" width="24" height="24">
                                          <path d="M0 0H24V24H0V0Z" fill="white" />
                                    </mask>
                                    <g mask="url(#mask1_1262_1548)">
                                          <path d="M0 6C0 4.34314 1.34315 3 3 3H21C22.6569 3 24 4.34314 24 6V18C24 19.6569 22.6569 21 21 21H3C1.34315 21 0 19.6569 0 18V6ZM3 5C2.44772 5 2 5.44771 2 6V18C2 18.5523 2.44772 19 3 19H21C21.5523 19 22 18.5523 22 18V6C22 5.44771 21.5523 5 21 5H3Z"
                                                fill="black" />
                                          <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M0 10C0 10.5523 0.44772 11 1 11H23C23.5523 11 24 10.5523 24 10C24 9.44772 23.5523 9 23 9H1C0.44772 9 0 9.44772 0 10Z"
                                                fill="black" />
                                    </g>
                              </g>
                        </g>
                        <defs>
                              <clipPath id="clip0_1262_1548">
                                    <rect width="24" height="24" fill="white" />
                              </clipPath>
                        </defs>
                  </svg>
                  Buildcard
                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.9375 11C19.9375 13.3704 18.9959 15.6437 17.3198 17.3198C15.6437 18.9959 13.3704 19.9375 11 19.9375C8.62963 19.9375 6.35634 18.9959 4.68023 17.3198C3.00413 15.6437 2.0625 13.3704 2.0625 11C2.0625 8.62963 3.00413 6.35634 4.68023 4.68023C6.35634 3.00413 8.62963 2.0625 11 2.0625C13.3704 2.0625 15.6437 3.00413 17.3198 4.68023C18.9959 6.35634 19.9375 8.62963 19.9375 11Z"
                              stroke="#1B83C1" stroke-width="1.375" />
                        <path d="M15.125 11L8.9375 6.875V15.125L15.125 11Z" stroke="#1B83C1" stroke-width="1.375" />
                  </svg>


            </h4>

      </div>

      <div class="mt-4 pt-2">
            <div class="et_decorated_head">
                  <ul class="et_todo_tab_list px-5 pb-2">
                        <li>
                              <a routerLink="/user/buildcard" class=" mb-0 ct_fs_18 ct_fw_700 ">Overview</a>
                        </li>
                        <li class="active">
                              <a routerLink="/user/feature-progress" class="ct_dark_blue_text mb-0 ct_fs_18">Feature
                                    Progress</a>
                        </li>
                        <li>
                              <a routerLink="/user/marketplace-integrations" class=" mb-0 ct_fs_18">Marketplace
                                    Integrations</a>
                        </li>
                  </ul>
            </div>



            <section>
                  <div class="mt-4">
                        <h4 class="ct_fs_18 ct_fw_700 mb-0">Feature progress
                        </h4>
                        <p>Track the progress of each feature.

                        </p>
                  </div>

                  <div class="row et_mt_30 pt-2">
                        <div class="col-lg-4 mb-4 mb-lg-0">
                              <div>
                                    <h5 class="d-flex align-items-center gap-2 mb-3"><span
                                                class="ct_fw_700 ct_fs_18 ">To be done </span> <span
                                                class="et_todos_count ct_fs_14 ct_fw_700">1</span></h5>

                                    <div class="et_todoes_blank_card mt-0">
                                          <h5 class="ct_fs_18 ct_fw_700 mb-0">Not yet
                                          </h5>
                                          <p class="mb-0 ct_fw_500">Still working on your features


                                          </p>
                                    </div>

                              </div>

                        </div>
                        <div class="col-lg-4 mb-4 mb-lg-0">
                              <div>
                                    <h5 class="d-flex align-items-center gap-2 mb-3 "><span
                                                class="ct_fw_700 ct_fs_18 ">In progress </span> <span
                                                class="et_todos_count ct_fs_14 ct_fw_700">38</span></h5>

                                    <ul class="et_feature_task_card_list">

                                          <li>
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                      <h5 class="mb-0 ct_fs_18 ct_fw_600">Instant Gift Cards
                                                      </h5>
                                                      <p class="mb-0">67%</p>
                                                </div>
                                                <div class="progress et_progress_feature_6">
                                                      <div class="progress-bar" role="progressbar" style="width: 25%"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                      </div>

                                                </div>
                                                <div class="mt-3 text-end">

                                                      <a class="ct_dark_blue_text ct_fw_700 et_show_more2 collapsed"
                                                            data-bs-toggle="collapse" href="#collapseExample"
                                                            role="button" aria-expanded="false"
                                                            aria-controls="collapseExample">Show
                                                            More <i class="fa-solid fa-angle-down"></i></a>
                                                </div>

                                                <div class="mt-3 et_border_top_1 pt-3 collapse" id="collapseExample">
                                                      <ul>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Product
                                                                              Roadmap
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Design
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Full Build
                                                                        </h5>
                                                                        <p class="mb-0">0%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 0%" aria-valuenow="0"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                      </ul>
                                                </div>
                                          </li>
                                          <li>
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                      <h5 class="mb-0 ct_fs_18 ct_fw_600">Roles And Permissions
                                                      </h5>
                                                      <p class="mb-0">67%</p>
                                                </div>
                                                <div class="progress et_progress_feature_6">
                                                      <div class="progress-bar" role="progressbar" style="width: 25%"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                      </div>

                                                </div>
                                                <div class="mt-3 text-end">

                                                      <a class="ct_dark_blue_text ct_fw_700 et_show_more2 collapsed"
                                                            data-bs-toggle="collapse" href="#collapseExample2"
                                                            role="button" aria-expanded="false"
                                                            aria-controls="collapseExample2">Show
                                                            More <i class="fa-solid fa-angle-down"></i></a>
                                                </div>

                                                <div class="mt-3 et_border_top_1 pt-3 collapse" id="collapseExample2">
                                                      <ul>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Product
                                                                              Roadmap
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Design
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Full Build
                                                                        </h5>
                                                                        <p class="mb-0">0%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 0%" aria-valuenow="0"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                      </ul>
                                                </div>
                                          </li>
                                          <li>
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                      <h5 class="mb-0 ct_fs_18 ct_fw_600">Instant Gift Cards
                                                      </h5>
                                                      <p class="mb-0">67%</p>
                                                </div>
                                                <div class="progress et_progress_feature_6">
                                                      <div class="progress-bar" role="progressbar" style="width: 25%"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                      </div>

                                                </div>
                                                <div class="mt-3 text-end">

                                                      <a class="ct_dark_blue_text ct_fw_700 et_show_more2 collapsed"
                                                            data-bs-toggle="collapse" href="#collapseExample3"
                                                            role="button" aria-expanded="false"
                                                            aria-controls="collapseExample3">Show
                                                            More <i class="fa-solid fa-angle-down"></i></a>
                                                </div>

                                                <div class="mt-3 et_border_top_1 pt-3 collapse" id="collapseExample3">
                                                      <ul>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Product
                                                                              Roadmap
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Design
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Full Build
                                                                        </h5>
                                                                        <p class="mb-0">0%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 0%" aria-valuenow="0"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                      </ul>
                                                </div>
                                          </li>
                                          <li>
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                      <h5 class="mb-0 ct_fs_18 ct_fw_600">Roles And Permissions
                                                      </h5>
                                                      <p class="mb-0">67%</p>
                                                </div>
                                                <div class="progress et_progress_feature_6">
                                                      <div class="progress-bar" role="progressbar" style="width: 25%"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                      </div>

                                                </div>
                                                <div class="mt-3 text-end">

                                                      <a class="ct_dark_blue_text ct_fw_700 et_show_more2 collapsed"
                                                            data-bs-toggle="collapse" href="#collapseExample4"
                                                            role="button" aria-expanded="false"
                                                            aria-controls="collapseExample4">Show
                                                            More <i class="fa-solid fa-angle-down"></i></a>
                                                </div>

                                                <div class="mt-3 et_border_top_1 pt-3 collapse" id="collapseExample4">
                                                      <ul>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Product
                                                                              Roadmap
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Design
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Full Build
                                                                        </h5>
                                                                        <p class="mb-0">0%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 0%" aria-valuenow="0"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                      </ul>
                                                </div>
                                          </li>
                                          <li>
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                      <h5 class="mb-0 ct_fs_18 ct_fw_600">Instant Gift Cards
                                                      </h5>
                                                      <p class="mb-0">67%</p>
                                                </div>
                                                <div class="progress et_progress_feature_6">
                                                      <div class="progress-bar" role="progressbar" style="width: 25%"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                      </div>

                                                </div>
                                                <div class="mt-3 text-end">

                                                      <a class="ct_dark_blue_text ct_fw_700 et_show_more2 collapsed"
                                                            data-bs-toggle="collapse" href="#collapseExample5"
                                                            role="button" aria-expanded="false"
                                                            aria-controls="collapseExample5">Show
                                                            More <i class="fa-solid fa-angle-down"></i></a>
                                                </div>

                                                <div class="mt-3 et_border_top_1 pt-3 collapse" id="collapseExample5">
                                                      <ul>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Product
                                                                              Roadmap
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Design
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Full Build
                                                                        </h5>
                                                                        <p class="mb-0">0%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 0%" aria-valuenow="0"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                      </ul>
                                                </div>
                                          </li>
                                          <li>
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                      <h5 class="mb-0 ct_fs_18 ct_fw_600">Roles And Permissions
                                                      </h5>
                                                      <p class="mb-0">67%</p>
                                                </div>
                                                <div class="progress et_progress_feature_6">
                                                      <div class="progress-bar" role="progressbar" style="width: 25%"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                      </div>

                                                </div>
                                                <div class="mt-3 text-end">

                                                      <a class="ct_dark_blue_text ct_fw_700 et_show_more2 collapsed"
                                                            data-bs-toggle="collapse" href="#collapseExample6"
                                                            role="button" aria-expanded="false"
                                                            aria-controls="collapseExample6">Show
                                                            More <i class="fa-solid fa-angle-down"></i></a>
                                                </div>

                                                <div class="mt-3 et_border_top_1 pt-3 collapse" id="collapseExample6">
                                                      <ul>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Product
                                                                              Roadmap
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Design
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Full Build
                                                                        </h5>
                                                                        <p class="mb-0">0%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 0%" aria-valuenow="0"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                      </ul>
                                                </div>
                                          </li>
                                          <li>
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                      <h5 class="mb-0 ct_fs_18 ct_fw_600">Instant Gift Cards
                                                      </h5>
                                                      <p class="mb-0">67%</p>
                                                </div>
                                                <div class="progress et_progress_feature_6">
                                                      <div class="progress-bar" role="progressbar" style="width: 25%"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                      </div>

                                                </div>
                                                <div class="mt-3 text-end">

                                                      <a class="ct_dark_blue_text ct_fw_700 et_show_more2 collapsed"
                                                            data-bs-toggle="collapse" href="#collapseExample7"
                                                            role="button" aria-expanded="false"
                                                            aria-controls="collapseExample7">Show
                                                            More <i class="fa-solid fa-angle-down"></i></a>
                                                </div>

                                                <div class="mt-3 et_border_top_1 pt-3 collapse" id="collapseExample7">
                                                      <ul>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Product
                                                                              Roadmap
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Design
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Full Build
                                                                        </h5>
                                                                        <p class="mb-0">0%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 0%" aria-valuenow="0"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                      </ul>
                                                </div>
                                          </li>
                                          <li>
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                      <h5 class="mb-0 ct_fs_18 ct_fw_600">Roles And Permissions
                                                      </h5>
                                                      <p class="mb-0">67%</p>
                                                </div>
                                                <div class="progress et_progress_feature_6">
                                                      <div class="progress-bar" role="progressbar" style="width: 25%"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                      </div>

                                                </div>
                                                <div class="mt-3 text-end">

                                                      <a class="ct_dark_blue_text ct_fw_700 et_show_more2 collapsed"
                                                            data-bs-toggle="collapse" href="#collapseExample8"
                                                            role="button" aria-expanded="false"
                                                            aria-controls="collapseExample8">Show
                                                            More <i class="fa-solid fa-angle-down"></i></a>
                                                </div>

                                                <div class="mt-3 et_border_top_1 pt-3 collapse" id="collapseExample8">
                                                      <ul>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Product
                                                                              Roadmap
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Design
                                                                        </h5>
                                                                        <p class="mb-0">100%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 100%" aria-valuenow="100"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                                        <h5 class="mb-0 ct_fs_16 ct_fw_500">Full Build
                                                                        </h5>
                                                                        <p class="mb-0">0%</p>
                                                                  </div>
                                                                  <div class="progress et_progress_feature_6">
                                                                        <div class="progress-bar" role="progressbar"
                                                                              style="width: 0%" aria-valuenow="0"
                                                                              aria-valuemin="0" aria-valuemax="100">
                                                                        </div>

                                                                  </div>
                                                            </li>
                                                      </ul>
                                                </div>
                                          </li>
                                    </ul>

                              </div>

                        </div>
                        <div class="col-lg-4 mb-4 mb-lg-0">
                              <div>
                                    <h5 class="d-flex align-items-center gap-2 mb-3 "><span
                                                class="ct_fw_700 ct_fs_18 ">Completed </span> <span
                                                class="et_todos_count ct_fs_14 ct_fw_700">2</span></h5>

                                    <ul class="et_feature_task_card_list">

                                          <li>
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                      <h5 class="mb-0 ct_fs_18 ct_fw_600">Instant Gift Cards
                                                      </h5>
                                                      <p class="mb-0">67%</p>
                                                </div>
                                                <div class="progress et_progress_feature_6">
                                                      <div class="progress-bar" role="progressbar" style="width: 25%"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                      </div>

                                                </div>
                                          </li>
                                          <li>
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-3 mb-2">
                                                      <h5 class="mb-0 ct_fs_18 ct_fw_600">Roles And Permissions
                                                      </h5>
                                                      <p class="mb-0">67%</p>
                                                </div>
                                                <div class="progress et_progress_feature_6">
                                                      <div class="progress-bar" role="progressbar" style="width: 25%"
                                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                      </div>

                                                </div>
                                          </li>
                                    </ul>
                              </div>
                        </div>
                  </div>
            </section>
      </div>
</div>