<div class="ct_header_main">
  <app-header />
</div>

<!-- Inner Hero Content S -->
<section class="ct_py_70 ct_inner_hero_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="ct_inner_banner_w_bg">
          <h1 class="ct_fs_44 ct_fw_700 mb-4 text-center">
            Create Android & iOS Apps in Minutes with an <br>
            <span class="ct_orange_gredient_text">AI App Generator</span>
          </h1>
          <h2 class="ct_fs_18 mb-0 text-center mb-3">
            Share your app idea, and our AI App Generator will instantly turn it into a ready-to-launch Android and iOS
            mobile app.
          </h2>
          <form>
            <div class="form-group">
              <textarea class="form-control ct_input h-auto ct_border_radius_10 p-2" rows="6"
                placeholder="e.g. I want to create an app to sell products online."></textarea>
              <div class="text-center mt-3">
                <button type="button" class="ct_blue_btn_fill" routerLink="/signup">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner Hero Content E -->
<div class="ct_px_80">
  <div class="container-fluid ct_pb_50">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="owl-carousel owl-theme ct_client_branding_slider_1">
            <div class="item">
              <div class="ct_client_branding_logo">
                <img loading="lazy" src="assets/img/client_brand_logo_1.png" alt="client_brand_logo_1" />
              </div>
            </div>
            <div class="item">
              <div class="ct_client_branding_logo">
                <img loading="lazy" src="assets/img/client_brand_logo_2.png" alt="client_brand_logo_2" />
              </div>
            </div>
            <div class="item">
              <div class="ct_client_branding_logo">
                <img loading="lazy" src="assets/img/client_brand_logo_4.png" alt="client_brand_logo_4" />
              </div>
            </div>
            <div class="item">
              <div class="ct_client_branding_logo">
                <img loading="lazy" src="assets/img/client_brand_logo_3.png" alt="client_brand_logo_3" />
              </div>
            </div>

            <div class="item">
              <div class="ct_client_branding_logo">
                <img loading="lazy" src="assets/img/client_brand_logo_5.png" alt="client_brand_logo_5" />
              </div>
            </div>
            <div class="item">
              <div class="ct_client_branding_logo">
                <img loading="lazy" src="assets/img/client_brand_logo_6.png" alt="client_brand_logo_6" />
              </div>
            </div>
            <div class="item">
              <div class="ct_client_branding_logo">
                <img loading="lazy" src="assets/img/client_brand_logo_7.png" alt="client_brand_logo_7" />
              </div>
            </div>
            <div class="item">
              <div class="ct_client_branding_logo">
                <img loading="lazy" src="assets/img/client_brand_logo_8.png" alt="client_brand_logo_8" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="ct_break_line" />

<!-- How it works section S -->
<section class="ct_how_works_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fs_44 ct_fw_700 text-center mb-s">
          How to create an app with


          <span class="ct_orange_gredient_text"> AI in simple steps?</span>
        </h2>
        <p class="mb-0 text-center">
          Creating an app with an AI App Builder is simple and can be done in three quick steps:
        </p>
      </div>
    </div>
    <div class="row pt-5 align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="ct_how_works_ai">
          <ul>
            <li>
              <div class="ct_works_ai_icon">
                <svg width="11" height="25" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_303_14898" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="0" y="0"
                    width="11" height="12">
                    <path d="M0 0.802734H10.016V11.7744H0V0.802734Z" fill="white" />
                  </mask>
                  <g mask="url(#mask0_303_14898)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.622445 7.17234L5.36256 9.90098L8.34548 11.6096C8.72978 11.8324 9.21408 11.771 9.52837 11.4482C9.84123 11.1239 9.90266 10.6496 9.6698 10.2553L7.6269 6.82805C7.43546 6.50518 7.43546 6.14089 7.6269 5.81659L9.6698 2.3908C9.90266 1.9965 9.84123 1.52078 9.52837 1.19791C9.21408 0.873619 8.72978 0.813618 8.34548 1.03505L5.36256 2.74366L0.622445 5.47373C0.318152 5.65516 0.136719 5.95945 0.136719 6.32232C0.136719 6.68661 0.318152 6.98948 0.622445 7.17234Z"
                      fill="#3778fa" />
                  </g>
                </svg>

                <p class="mb-0 ct_fw_700">01</p>
              </div>
              <div>
                <h3 class="ct_fs_18 ct_fw_700 mb-0">Share Your App Idea</h3>
                <p class="ct_fs_16 ct_line_h_30">
                  Start by describing your app idea using our AI App Builder. Upload your logo, choose an app name, and
                  add basic details
                  about your app. The platform instantly generates a live preview so you can see how your mobile and web
                  app will look.
                </p>
              </div>
            </li>
            <li>
              <div class="ct_works_ai_icon">
                <svg width="11" height="25" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_303_14898" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="0" y="0"
                    width="11" height="12">
                    <path d="M0 0.802734H10.016V11.7744H0V0.802734Z" fill="white" />
                  </mask>
                  <g mask="url(#mask0_303_14898)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.622445 7.17234L5.36256 9.90098L8.34548 11.6096C8.72978 11.8324 9.21408 11.771 9.52837 11.4482C9.84123 11.1239 9.90266 10.6496 9.6698 10.2553L7.6269 6.82805C7.43546 6.50518 7.43546 6.14089 7.6269 5.81659L9.6698 2.3908C9.90266 1.9965 9.84123 1.52078 9.52837 1.19791C9.21408 0.873619 8.72978 0.813618 8.34548 1.03505L5.36256 2.74366L0.622445 5.47373C0.318152 5.65516 0.136719 5.95945 0.136719 6.32232C0.136719 6.68661 0.318152 6.98948 0.622445 7.17234Z"
                      fill="#3778fa" />
                  </g>
                </svg>

                <p class="mb-0 ct_fw_700">02</p>
              </div>
              <div>
                <h3 class="ct_fs_18 ct_fw_700 mb-0">Customize & Plan Your App</h3>
                <p class="ct_fs_16 ct_line_h_30">
                  Next, customize your application by selecting features, design elements, and functionality. The AI App
                  Builder shows
                  real-time updates for project cost, development timeline, and milestones, helping you plan your app
                  launch more
                  effectively.
                </p>
              </div>
            </li>
            <li>
              <div class="ct_works_ai_icon">
                <svg width="11" height="25" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_303_14898" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="0" y="0"
                    width="11" height="12">
                    <path d="M0 0.802734H10.016V11.7744H0V0.802734Z" fill="white" />
                  </mask>
                  <g mask="url(#mask0_303_14898)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.622445 7.17234L5.36256 9.90098L8.34548 11.6096C8.72978 11.8324 9.21408 11.771 9.52837 11.4482C9.84123 11.1239 9.90266 10.6496 9.6698 10.2553L7.6269 6.82805C7.43546 6.50518 7.43546 6.14089 7.6269 5.81659L9.6698 2.3908C9.90266 1.9965 9.84123 1.52078 9.52837 1.19791C9.21408 0.873619 8.72978 0.813618 8.34548 1.03505L5.36256 2.74366L0.622445 5.47373C0.318152 5.65516 0.136719 5.95945 0.136719 6.32232C0.136719 6.68661 0.318152 6.98948 0.622445 7.17234Z"
                      fill="#3778fa" />
                  </g>
                </svg>

                <p class="mb-0 ct_fw_700">03</p>
              </div>
              <div>
                <h3 class="ct_fs_18 ct_fw_700 mb-0">Confirm & Launch Your App</h3>
                <p class="ct_fs_16 ct_line_h_30">
                  Finally, review your complete app project, including features, pricing, and delivery timeline.
                  Securely confirm your
                  order, select a flexible payment plan, and launch your Android and iOS apps faster with AI.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 mb-4 mb-md-0 offset-md-1">
        <div class="ct_how_works_img">
          <img loading="lazy" src="assets/img/how-works_right.webp" alt="AI app builder" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- How it works section E -->

<section class="ct_pt_50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fs_44 ct_fw_700 text-center mb-s">
          Why AI Apps Are
          <span class="ct_orange_gredient_text"> a Smart Choice</span>
        </h2>
        <p class="mb-0 text-center">
          AI apps help businesses create smarter and faster mobile solutions. With an AI app builder, you can develop
          Android and
          iOS apps quickly without complex coding.
        </p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="ct_promiss_card text-center">
          <div class="ct_step_icon">
            <h2 class="mb-0">1</h2>
          </div>
          <div class="mt-3">
            <h4 class="ct_fs_20 ct_fw_600 mb-2">Faster Development
            </h4>
            <p class="mb-0">
              Build and launch apps in less time.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="ct_promiss_card text-center">
          <div class="ct_step_icon">
            <h2 class="mb-0">2</h2>
          </div>
          <div class="mt-3">
            <h4 class="ct_fs_20 ct_fw_600 mb-2">Lower Costs
            </h4>
            <p class="mb-0">
              Reduce development expenses with AI automation.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="ct_promiss_card text-center">
          <div class="ct_step_icon">
            <h2 class="mb-0">3</h2>
          </div>
          <div class="mt-3">
            <h4 class="ct_fs_20 ct_fw_600 mb-2">Smart Features
            </h4>
            <p class="mb-0">
              Add intelligent tools like chatbots and personalized experiences.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="ct_promiss_card text-center">
          <div class="ct_step_icon">
            <h2 class="mb-0">4</h2>
          </div>
          <div class="mt-3">
            <h4 class="ct_fs_20 ct_fw_600 mb-2">Easy Customization
            </h4>
            <p class="mb-0">
              Modify features and design based on your needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Faq Section S -->
<section class="ct_grey_bg ct_py_70">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fs_44 text-center ct_fw_700">
          Got <span class="ct_orange_gredient_text">Questions? </span>We've Got
          Answers
        </h2>
        <p class="text-center">
          Explore our comprehensive FAQs to find quick answers about Creative AI and our innovative platform
        </p>
      </div>
    </div>
    <div class="row mt-4 align-items-center">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="ct_faq_img">
          <img loading="lazy" src="assets/img/faq_xcti_new1223.webp" alt="AI-powered app and web development" />
        </div>
      </div>
      <div class="col-md-7 offset-md-1 mb-4 mb-md-0">
        <div class="ct_how_works_collapse">
          <div class="accordion" id="ct_how_works_accordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="faq_one">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_one" aria-expanded="true" aria-controls="collapsefaq_one">
                  What is an AI App Generator?
                </button>
              </h2>
              <div id="collapsefaq_one" class="accordion-collapse collapse show" aria-labelledby="faq_one"
                data-bs-parent="#ct_how_works_accordion">
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                    An AI App Generator is a platform that uses artificial intelligence to automatically create mobile
                    applications for
                    Android and iOS without complex coding.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqtwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Two" aria-expanded="false" aria-controls="collapseTwo">
                  How does an AI App Builder work?
                </button>
              </h2>
              <div id="collapsefaq_Two" class="accordion-collapse collapse" aria-labelledby="faqtwo"
                data-bs-parent="#ct_how_works_accordion">
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                    An AI App Builder works by analyzing your app idea, generating the app structure, and automatically
                    building features,
                    design, and functionality.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqthree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Three" aria-expanded="false" aria-controls="collapsefaq_Three">
                  Can I create an app without coding using AI?
                </button>
              </h2>
              <div id="collapsefaq_Three" class="accordion-collapse collapse" aria-labelledby="faqthree"
                data-bs-parent="#ct_how_works_accordion">
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                    Yes, AI app generators allow users to build mobile apps without coding using no-code or low-code
                    development tools.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqfour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_four" aria-expanded="false" aria-controls="collapsefaq_four">
                  How long does it take to create an AI app?
                </button>
              </h2>
              <div id="collapsefaq_four" class="accordion-collapse collapse" aria-labelledby="faqfour"
                data-bs-parent="#ct_how_works_accordion">
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-1 ct_line_h_30">
                    With an AI app generator, a basic mobile app can be created in minutes, while advanced customization
                    may take a little
                    longer.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqfive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_five" aria-expanded="false" aria-controls="collapsefaq_five">
                  Can AI create both Android and iOS apps?
                </button>
              </h2>
              <div id="collapsefaq_five" class="accordion-collapse collapse" aria-labelledby="faqfive"
                data-bs-parent="#ct_how_works_accordion">
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                    Yes, most AI app builders can generate apps for both Android and iOS platforms from a single
                    project.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="faqSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Six" aria-expanded="false" aria-controls="collapsefaq_Six">
                  What types of apps can be built with AI?
                </button>
              </h2>
              <div id="collapsefaq_Six" class="accordion-collapse collapse" aria-labelledby="faqSix"
                data-bs-parent="#ct_how_works_accordion">
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-3 ct_line_h_30">
                    AI app generators can create many types of apps, including eCommerce apps, business apps, booking
                    apps, and service
                    platforms.
                  </p>
                </div>
              </div>


            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Seven" aria-expanded="false" aria-controls="collapsefaq_Seven">
                  Is using an AI App Builder cost-effective?
                </button>
              </h2>
              <div id="collapsefaq_Seven" class="accordion-collapse collapse" aria-labelledby="faqSeven"
                data-bs-parent="#ct_how_works_accordion">
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                    Yes, AI app builders reduce development costs by automating coding, design, and testing processes.
                  </p>
                </div>
              </div>


            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="faqEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Eight" aria-expanded="false" aria-controls="collapsefaq_Eight">
                  Can I customize my AI-generated app?
                </button>
              </h2>
              <div id="collapsefaq_Eight" class="accordion-collapse collapse" aria-labelledby="faqEight"
                data-bs-parent="#ct_how_works_accordion">
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                    Yes, most AI app builders allow you to customize features, design, layout, and integrations
                    according to your needs.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="faqNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Nine" aria-expanded="false" aria-controls="collapsefaq_Nine">
                  Are AI-generated apps scalable?
                </button>
              </h2>
              <div id="collapsefaq_Nine" class="accordion-collapse collapse" aria-labelledby="faqNine"
                data-bs-parent="#ct_how_works_accordion">
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                    Yes, AI-generated apps can be scaled easily by adding new features, integrations, and updates as
                    your business grows.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_ten" aria-expanded="false" aria-controls="collapsefaq_ten">
                  Who should use an AI App Generator?
                </button>
              </h2>
              <div id="collapsefaq_ten" class="accordion-collapse collapse" aria-labelledby="faqTen"
                data-bs-parent="#ct_how_works_accordion">
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                    Startups, entrepreneurs, businesses, and developers can use AI app generators to build and launch
                    mobile applications
                    quickly.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Faq Section E -->

<section class=" ct_pb_50">
  <div class="container">
    <div class="col-md-12">
      <div class="ct_free_demo_bg">
        <h3 class="ct_fs_20 text-center text-white mb-2 ct_fw_600">
          Need help to decide?
        </h3>
        <h2 class="ct_fs_38 text-center ct_fw_600 text-white mb-2">
          Find out which plan is right for you
        </h2>
        <p class="ct_fs_17 mb-0 text-center text-white">
          In less than 60 seconds
        </p>
        <div class="text-center mt-4">
          <a routerlink="/contact" class="ct_blue_btn_fill ct_white_btn" ng-reflect-router-link="/contact"
            href="/contact">Get a free demo</a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer />