<div class="ct_header_main">
  <app-header />
</div>

<!-- Inner Hero Content S -->
<section class="ct_py_70 ct_inner_hero_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="ct_inner_banner_w_bg">
          <h1 class="ct_fs_44 ct_fw_700 mb-4 text-center">
            AI App Generator – Create Android & <br>

            <span class="ct_orange_gredient_text"> iOS Apps in Minutes</span>
          </h1>
          <h2 class="ct_fs_18 mb-0 text-center mb-3">
            Share your app idea – our AI App Generator turns it into a
            ready-to-use mobile app.
          </h2>
          <form action="">
            <div class="form-group">
              <textarea
                class="form-control ct_input h-auto ct_border_radius_10 p-2"
                rows="6"
                placeholder="e.g. I want to create an app to sell products online."
              ></textarea>
              <div class="text-center mt-3">
                <button type="submit" class="ct_blue_btn_fill">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner Hero Content E -->
<div class="ct_px_80">
  <div class="container-fluid ct_pb_50">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="owl-carousel owl-theme ct_client_branding_slider_1">
            <div class="item">
              <div class="ct_client_branding_logo">
                <img
                  loading="lazy"
                  src="assets/img/client_brand_logo_1.png"
                  alt="client_brand_logo_1"
                />
              </div>
            </div>
            <div class="item">
              <div class="ct_client_branding_logo">
                <img
                  loading="lazy"
                  src="assets/img/client_brand_logo_2.png"
                  alt="client_brand_logo_2"
                />
              </div>
            </div>
            <div class="item">
              <div class="ct_client_branding_logo">
                <img
                  loading="lazy"
                  src="assets/img/client_brand_logo_4.png"
                  alt="client_brand_logo_4"
                />
              </div>
            </div>
            <div class="item">
              <div class="ct_client_branding_logo">
                <img
                  loading="lazy"
                  src="assets/img/client_brand_logo_3.png"
                  alt="client_brand_logo_3"
                />
              </div>
            </div>

            <div class="item">
              <div class="ct_client_branding_logo">
                <img
                  loading="lazy"
                  src="assets/img/client_brand_logo_5.png"
                  alt="client_brand_logo_5"
                />
              </div>
            </div>
            <div class="item">
              <div class="ct_client_branding_logo">
                <img
                  loading="lazy"
                  src="assets/img/client_brand_logo_6.png"
                  alt="client_brand_logo_6"
                />
              </div>
            </div>
            <div class="item">
              <div class="ct_client_branding_logo">
                <img
                  loading="lazy"
                  src="assets/img/client_brand_logo_7.png"
                  alt="client_brand_logo_7"
                />
              </div>
            </div>
            <div class="item">
              <div class="ct_client_branding_logo">
                <img
                  loading="lazy"
                  src="assets/img/client_brand_logo_8.png"
                  alt="client_brand_logo_8"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="ct_break_line" />

<!-- How it works section S -->
<section class="ct_how_works_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fs_44 ct_fw_700 text-center mb-s">
        How to create an app with 
 

          <span class="ct_orange_gredient_text"> AI in simple steps?</span>
        </h2>
        <p class="mb-0 text-center">
        How to Create Android and iOS Apps with AI in Simple Steps
        </p>
      </div>
    </div>
    <div class="row pt-5 align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="ct_how_works_ai">
          <ul>
            <li>
              <div class="ct_works_ai_icon">
                <svg
                  width="11"
                  height="25"
                  viewBox="0 0 11 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_303_14898"
                    style="mask-type: luminance"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="11"
                    height="12"
                  >
                    <path
                      d="M0 0.802734H10.016V11.7744H0V0.802734Z"
                      fill="white"
                    />
                  </mask>
                  <g mask="url(#mask0_303_14898)">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.622445 7.17234L5.36256 9.90098L8.34548 11.6096C8.72978 11.8324 9.21408 11.771 9.52837 11.4482C9.84123 11.1239 9.90266 10.6496 9.6698 10.2553L7.6269 6.82805C7.43546 6.50518 7.43546 6.14089 7.6269 5.81659L9.6698 2.3908C9.90266 1.9965 9.84123 1.52078 9.52837 1.19791C9.21408 0.873619 8.72978 0.813618 8.34548 1.03505L5.36256 2.74366L0.622445 5.47373C0.318152 5.65516 0.136719 5.95945 0.136719 6.32232C0.136719 6.68661 0.318152 6.98948 0.622445 7.17234Z"
                      fill="#3778fa"
                    />
                  </g>
                </svg>

                <p class="mb-0 ct_fw_700">01</p>
              </div>
              <div>
                <h3 class="ct_fs_18 ct_fw_700 mb-0">Share Your Idea</h3>
                <p class="ct_fs_16 ct_line_h_30">
                With our AI App Builder, you can quickly upload your logo, choose your app name, and add basic details. Instantly get a live preview of how your app will look on mobile and web.
                </p>
              </div>
            </li>
            <li>
              <div class="ct_works_ai_icon">
                <svg
                  width="11"
                  height="25"
                  viewBox="0 0 11 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_303_14898"
                    style="mask-type: luminance"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="11"
                    height="12"
                  >
                    <path
                      d="M0 0.802734H10.016V11.7744H0V0.802734Z"
                      fill="white"
                    />
                  </mask>
                  <g mask="url(#mask0_303_14898)">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.622445 7.17234L5.36256 9.90098L8.34548 11.6096C8.72978 11.8324 9.21408 11.771 9.52837 11.4482C9.84123 11.1239 9.90266 10.6496 9.6698 10.2553L7.6269 6.82805C7.43546 6.50518 7.43546 6.14089 7.6269 5.81659L9.6698 2.3908C9.90266 1.9965 9.84123 1.52078 9.52837 1.19791C9.21408 0.873619 8.72978 0.813618 8.34548 1.03505L5.36256 2.74366L0.622445 5.47373C0.318152 5.65516 0.136719 5.95945 0.136719 6.32232C0.136719 6.68661 0.318152 6.98948 0.622445 7.17234Z"
                      fill="#3778fa"
                    />
                  </g>
                </svg>

                <p class="mb-0 ct_fw_700">02</p>
              </div>
              <div>
                <h3 class="ct_fs_18 ct_fw_700 mb-0">Customize & Plan</h3>
                <p class="ct_fs_16 ct_line_h_30">
                  The AI App Builder lets you select features, set delivery timelines, and refine your app idea. You can see real-time updates on cost and project milestones, making it easy to plan your launch.
                </p>
              </div>
            </li>
            <li>
              <div class="ct_works_ai_icon">
                <svg
                  width="11"
                  height="25"
                  viewBox="0 0 11 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_303_14898"
                    style="mask-type: luminance"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="11"
                    height="12"
                  >
                    <path
                      d="M0 0.802734H10.016V11.7744H0V0.802734Z"
                      fill="white"
                    />
                  </mask>
                  <g mask="url(#mask0_303_14898)">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.622445 7.17234L5.36256 9.90098L8.34548 11.6096C8.72978 11.8324 9.21408 11.771 9.52837 11.4482C9.84123 11.1239 9.90266 10.6496 9.6698 10.2553L7.6269 6.82805C7.43546 6.50518 7.43546 6.14089 7.6269 5.81659L9.6698 2.3908C9.90266 1.9965 9.84123 1.52078 9.52837 1.19791C9.21408 0.873619 8.72978 0.813618 8.34548 1.03505L5.36256 2.74366L0.622445 5.47373C0.318152 5.65516 0.136719 5.95945 0.136719 6.32232C0.136719 6.68661 0.318152 6.98948 0.622445 7.17234Z"
                      fill="#3778fa"
                    />
                  </g>
                </svg>

                <p class="mb-0 ct_fw_700">03</p>
              </div>
              <div>
                <h3 class="ct_fs_18 ct_fw_700 mb-0">Confirm & Launch</h3>
                <p class="ct_fs_16 ct_line_h_30">
                 Review your complete project summary with features, pricing, and delivery date. Finalize with secure billing, choose a flexible payment plan, and launch your app faster with the power of AI.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 mb-4 mb-md-0 offset-md-1">
        <div class="ct_how_works_img">
          <img
            loading="lazy"
            src="assets/img/how-works_right.png"
            alt="AI app builder"
          />
          <img
            loading="lazy"
            src="assets/img/circle_git_123.gif"
            alt="AI app builder"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- How it works section E -->

<section class="ct_pt_50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fs_44 ct_fw_700 text-center mb-s">
         Why AI Apps Are 
          <span class="ct_orange_gredient_text"> a Smart Choice</span>
        </h2>
        <p class="mb-0 text-center">
         AI apps are a smart choice because they make app creation fast and efficient. With Creative AI, you can use an AI app builder to quickly create feature-rich, user-friendly Android and iOS apps that are cost-effective, scalable, and tailored to your business needs.
        </p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="ct_promiss_card text-center">
          <div class="ct_step_icon">
            <h2 class="mb-0">1</h2>
        </div>
          <div class="mt-3">
            <h4 class="ct_fs_20 ct_fw_600 mb-2">Faster App Creation
</h4>
            <p class="mb-0">
             AI speeds up app building, helping you launch quickly.
            </p>
          </div>
        </div>
      </div>
       <div class="col-lg-3 col-md-6 mb-4">
        <div class="ct_promiss_card text-center">
          <div class="ct_step_icon">
            <h2 class="mb-0">2</h2>
        </div>
          <div class="mt-3">
            <h4 class="ct_fs_20 ct_fw_600 mb-2">Cost-Effective Solutions
</h4>
            <p class="mb-0">
             Automating design and coding reduces development costs.


            </p>
          </div>
        </div>
      </div>
       <div class="col-lg-3 col-md-6 mb-4">
        <div class="ct_promiss_card text-center">
          <div class="ct_step_icon">
            <h2 class="mb-0">3</h2>
        </div>
          <div class="mt-3">
            <h4 class="ct_fs_20 ct_fw_600 mb-2">Customizable & Scalable
</h4>
            <p class="mb-0">
             Tailor apps to your needs and scale as your audience grows
            </p>
          </div>
        </div>
      </div>
       <div class="col-lg-3 col-md-6 mb-4">
        <div class="ct_promiss_card text-center">
          <div class="ct_step_icon">
            <h2 class="mb-0">4</h2>
        </div>
          <div class="mt-3">
            <h4 class="ct_fs_20 ct_fw_600 mb-2">User Experience
</h4>
            <p class="mb-0">
               AI optimizes UI/UX for intuitive and engaging apps.

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Faq Section S -->
<section class="ct_grey_bg ct_py_70">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ct_fs_44 text-center ct_fw_700">
          Got <span class="ct_orange_gredient_text">Questions? </span>We've Got
          Answers
        </h2>
        <p class="text-center">
          Explore our comprehensive FAQs to find quick answers about Creative AI and our innovative platform
        </p>
      </div>
    </div>
    <div class="row mt-4 align-items-center">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="ct_faq_img">
          <img
            loading="lazy"
            src="assets/img/faq_xcti_new1223.png"
            alt="AI-powered app and web development"
          />
        </div>
      </div>
      <div class="col-md-7 offset-md-1 mb-4 mb-md-0">
         <div class="ct_how_works_collapse">
          <div class="accordion" id="ct_how_works_accordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="faq_one">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_one"
                  aria-expanded="true"
                  aria-controls="collapsefaq_one"
                >
                 What is Creative AI?
                </button>
              </h2>
              <div
                id="collapsefaq_one"
                class="accordion-collapse collapse show"
                aria-labelledby="faq_one"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                   Creative AI is your AI-powered partner for building apps and digital products—without the usual stress. Think of it as making software as simple as ordering pizza. Just share your idea, and we’ll turn it into a world-class product.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqtwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Two"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                 Do I need to know coding?
                </button>
              </h2>
              <div
                id="collapsefaq_Two"
                class="accordion-collapse collapse"
                aria-labelledby="faqtwo"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                   Not at all! You focus on the idea, and our AI + expert team will handle the tech side.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqthree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Three"
                  aria-expanded="false"
                  aria-controls="collapsefaq_Three"
                >
                 How is Creative AI different from other app builders?
                </button>
              </h2>
              <div
                id="collapsefaq_Three"
                class="accordion-collapse collapse"
                aria-labelledby="faqthree"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                   Most no-code tools leave you figuring things out on your own. We combine <span class="ct_fw_600">AI automation with real human expertise</span>—so you get the speed of AI with the quality and reliability of experienced developers.
                  </p>
                 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqfour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_four"
                  aria-expanded="false"
                  aria-controls="collapsefaq_four"
                >
                 What kind of apps can I build?
                </button>
              </h2>
              <div
                id="collapsefaq_four"
                class="accordion-collapse collapse"
                aria-labelledby="faqfour"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-1 ct_line_h_30">
                  Pretty much anything:
                  
                  </p>
                  <ul style="list-style: disc;" class="ps-3 mb-0">
                    <li>Mobile apps (iOS & Android)</li>
                    <li>Web apps</li>
                    <li>E-commerce platforms</li>
                    <li>Enterprise solutions</li>
                    <li>Custom tools for your business</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqfive">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_five"
                  aria-expanded="false"
                  aria-controls="collapsefaq_five"
                >
                  How fast can I see results?
                </button>
              </h2>
              <div
                id="collapsefaq_five"
                class="accordion-collapse collapse"
                aria-labelledby="faqfive"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                   Super fast. You can <span class="ct_fw_600">prototype in minutes, MVPs in days, and full apps in weeks</span>—not months.
                  </p>
                </div>
              </div>

              
            </div>

              <div class="accordion-item">
              <h2 class="accordion-header" id="faqSix">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Six"
                  aria-expanded="false"
                  aria-controls="collapsefaq_Six"
                >
                  Who owns the final product?
                </button>
              </h2>
              <div
                id="collapsefaq_Six"
                class="accordion-collapse collapse"
                aria-labelledby="faqSix"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-3 ct_line_h_30">
                    You do Once the project is done and payments are cleared, the <span class="ct_fw_600">source code and product rights</span> are all yours.
                  </p>
                </div>
              </div>

              
            </div>
             <div class="accordion-item">
              <h2 class="accordion-header" id="faqSeven">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Seven"
                  aria-expanded="false"
                  aria-controls="collapsefaq_Seven"
                >
                 Can my app connect with my existing tools or systems?
                </button>
              </h2>
              <div
                id="collapsefaq_Seven"
                class="accordion-collapse collapse"
                aria-labelledby="faqSeven"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                   Yes! We make sure your app integrates smoothly with the tools and platforms you already use.
                  </p>
                </div>
              </div>

              
            </div>

             <div class="accordion-item">
              <h2 class="accordion-header" id="faqEight">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Eight"
                  aria-expanded="false"
                  aria-controls="collapsefaq_Eight"
                >
                Is it secure?
                </button>
              </h2>
              <div
                id="collapsefaq_Eight"
                class="accordion-collapse collapse"
                aria-labelledby="faqEight"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                 Absolutely. We use top-notch security standards to keep your data, users, and business safe.
                  </p>
                </div>
              </div>

              
            </div>

             <div class="accordion-item">
              <h2 class="accordion-header" id="faqNine">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Nine"
                  aria-expanded="false"
                  aria-controls="collapsefaq_Nine"
                >
               Do you provide support after launch?
                </button>
              </h2>
              <div
                id="collapsefaq_Nine"
                class="accordion-collapse collapse"
                aria-labelledby="faqNine"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                Yes—we’re here even after your app goes live. From scaling to updates, we’ll support you at every step.
                  </p>
                </div>
              </div>

              
            </div>

              <div class="accordion-item">
              <h2 class="accordion-header" id="faqTen">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_ten"
                  aria-expanded="false"
                  aria-controls="collapsefaq_ten"
                >
               How do I get started?
                </button>
              </h2>
              <div
                id="collapsefaq_ten"
                class="accordion-collapse collapse"
                aria-labelledby="faqTen"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
               Easy! Just tell us your idea on our website, and we’ll set up a call to bring it to life.
                  </p>
                </div>
              </div>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Faq Section E -->

<section  class=" ct_pb_50">
  <div  class="container">
    <div  class="col-md-12">
      <div  class="ct_free_demo_bg">
        <h3
          
          class="ct_fs_20 text-center text-white mb-2 ct_fw_600"
        >
          Need help to decide?
        </h3>
        <h2
          
          class="ct_fs_38 text-center ct_fw_600 text-white mb-2"
        >
          Find out which plan is right for you
        </h2>
        <p
          
          class="ct_fs_17 mb-0 text-center text-white"
        >
          In less than 60 seconds
        </p>
        <div  class="text-center mt-4">
          <a
            
            routerlink="/free-demo"
            class="ct_blue_btn_fill ct_white_btn"
            ng-reflect-router-link="/free-demo"
            href="/free-demo"
            >Get a free demo</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer />
