<div>
      <app-header />
      <!-- Inner Hero Content S -->
      <div class="ct_py_70 ct_inner_hero_bg">
            <div class="container-fluid">
                  <div class="row align-items-center">
                        <div class="col-lg-12">
                              <div class="ct_hero_banner_left_cnt text-center">
                                    <h1 class="ct_fs_44 ct_fw_700">Why Creative AI
                                    </h1>
                                    <p class="ct_fs_18 ct_fw_500">Creative AI transforms your requirements into fully functional projects with complete support from planning to deployment.

                                    </p>

                                    <div class="ct_btn_group justify-content-center ct_mt_40">
                                          <!-- <a routerLink="/free-demo" class="ct_blue_btn_fill">Take a free tour</a> -->
                                          <a routerLink="/login"
                                                class="ct_blue_outline_btn ct_blue_outline_btn_dark">Learn more
                                                about our
                                                Ai</a>
                                    </div>

                              </div>

                        </div>

                  </div>

            </div>
      </div>
      <!-- Inner Hero Content E -->
</div>
<hr class="ct_break_line">
<!-- Flexible Service Section 2 S -->
<section class="ct_pb_50 ct_pt_50">
      <div class="container">
            <div class="position-relative">

                  <div class="row align-items-start ct_py_70 py-0 position-relative">
                        <div class="ct_time_line_verticle_line px-0"></div>
                        <div class="col-lg-6 mb-5 mb-lg-0">
                              <div class="ct_flexible_serivce_cnt">
                                    <span class="ct_blue_badge_round">Stage 1</span>
                                    <div>
                                          <h4 class="ct_fs_18 ct_fw_700 mb-0">Just Write Your Prompt</h4>
                                        
                                          <p class="ct_fs_16 mb-4 ct_line_h_25 ">Simply describe your app idea in clear, simple language no coding or technical skills required. Creative AI understands your prompt and converts it into a structured app plan instantly.
                                          </p>
                                         
                                    </div>
                              </div>
                               <div class="ct_flexible_serivce_cnt">
                                    <span class="ct_blue_badge_round">Stage 2</span>
                                    <div>
                                          <h4 class="ct_fs_18 ct_fw_700 mb-0">Let AI Build Your App</h4>
                                         
                                          <p class="ct_fs_16 mb-4 ct_line_h_25 ">Based on your prompt, Creative AI automatically designs, develops, and structures your app within minutes. The AI app builder selects layouts, features, and functionality tailored to your requirements.
                                          </p>
                                         
                                    </div>
                              </div>
                               <div class="ct_flexible_serivce_cnt">
                                    <span class="ct_blue_badge_round">Stage 3</span>
                                    <div>
                                          <h4 class="ct_fs_18 ct_fw_700 mb-0">Get Your App Live</h4>
                                         
                                          <p class="ct_fs_16 mb-0 ct_line_h_25 ">Once your app is ready, review and publish it with just one click. Creative AI helps you launch your mobile or web app quickly, making it ready for users in as little as 5 minutes.
                                          </p>
                                        
                                    </div>
                              </div>

                        </div>
                        <div class="col-lg-5 mb-5 mb-lg-0 offset-lg-1">
                              <div class="ct_flexible_srvc_img">
                                    <img loading="lazy" src="assets/img/how-works_right.webp"
                                          alt="AI app builder for mobile and web">
                              </div>
                             
                        </div>
                  </div>
                  <!-- <div class="row align-items-start ct_py_70 pt-0 position-relative">
                        <div class="ct_time_line_verticle_line px-0"></div>
                        <div class="col-md-6 mb-5 mb-md-0">
                              <div class="ct_flexible_serivce_cnt">
                                    <span class="ct_blue_badge_round">Stage 2</span>
                                    <div>
                                          <h4 class="mb-2 ct_fs_28 ct_fw_700">Let AI Build Your App</h4>
                                         
                                          <p class="ct_fs_16 mb-4 ct_line_h_25 ">Based on your prompt, Creative AI automatically designs, develops, and structures your app within minutes. The AI app builder selects layouts, features, and functionality tailored to your requirements.
                                          </p>
                                         
                                    </div>
                              </div>

                        </div>
                        <div class="col-md-5 mb-5 mb-md-0 offset-md-1">
                              <div class="ct_flexible_srvc_img">
                                    <img loading="lazy" src="assets/img/Design_png2.webp"
                                          alt="AI app builder for mobile and web">
                              </div>

                        </div>
                  </div> -->
                  <!-- <div class="row align-items-start ct_py_70 pt-0 position-relative">
                        <div class="ct_time_line_verticle_line px-0"></div>
                        <div class="col-md-6 mb-5 mb-md-0">
                              <div class="ct_flexible_serivce_cnt">
                                    <span class="ct_blue_badge_round">Stage 3</span>
                                    <div>
                                          <h4 class="mb-2 ct_fs_28 ct_fw_700">Get Your App Live</h4>
                                         
                                          <p class="ct_fs_16 mb-4 ct_line_h_25 ">Once your app is ready, review and publish it with just one click. Creative AI helps you launch your mobile or web app quickly, making it ready for users in as little as 5 minutes.
                                          </p>
                                        
                                    </div>
                              </div>

                        </div>
                        <div class="col-md-5 mb-5 mb-md-0 offset-md-1">
                              <div class="ct_flexible_srvc_img">
                                    <img loading="lazy" src="assets/img/developemtn_2.webp"
                                          alt="AI app builder for mobile and web">
                              </div>

                        </div>
                  </div> -->
                 

                  <div class="row pt-5">
                        <div class="col-md-12">
                              <div class="ct_out_line_2_line_bg mx-auto">
                                    <h4 class="ct_fs_24 ct_fw_700 ct_dark_blue_text mb-0  text-center">An <span
                                                class="ct_dark_blue_text">exceptionally high success
                                                rate</span> vs
                                    </h4>
                              </div>
                              <div class="ct_out_line_2_line_bg mt-3 mx-auto">
                                    <h4 class="ct_fs_24 ct_fw_700 ct_dark_blue_text mb-0 text-center">78% industry
                                          standard
                                    </h4>
                              </div>

                        </div>

                  </div>
            </div>



      </div>
</section>

<!-- Flexible Service 2 Section E -->






<!-- Helping Your Apps Section S -->
<section class="ct_helping_bg_grey ct_pt_50 ct_pb_50">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <div class="">
                              <h1 class="ct_fs_44 ct_fw_700 text-center ct_py_70 pt-0">Helping your apps <span
                                          class="ct_orange_gredient_text">to
                                          succeed</span> (and
                                    scalex)
                              </h1>
                              <div class="row align-items-center">
                                    <div class="col-lg-5 mb-4 mb-md-0">
                                          <div class="ct_helping_group_img">
                                                <div class="d-flex align-items-center gap-3 justify-content-center">
                                                      <div class="ct_help_img">
                                                            <img loading="lazy"
                                                                  src="assets/img/help_img_1.webp"
                                                                  alt="AI app builder for mobile and web">
                                                      </div>
                                                      <div class="ct_help_img">
                                                            <img loading="lazy"
                                                                  src="assets/img/helping_img_2.webp"
                                                                  alt="AI app builder for mobile and web">
                                                      </div>
                                                </div>
                                                <div class="ct_help_img">
                                                      <img loading="lazy" src="assets/img/helping_img_3.webp"
                                                            alt="AI app builder for mobile and web">
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-lg-7 mb-4 mb-md-0">
                                          <div>
                                                <h4 class="ct_fs_22 ct_fw_700 mb-3">Our Customer Success team gives you
                                                      personalised
                                                      guidance to
                                                      ensure you get the
                                                      most out of our products and services.
                                                </h4>
                                                <p class="ct_fs_16 mb-0 ct_line_h_25">"Our Customer Success team
                                                      provides
                                                      personalized guidance,
                                                      helping you maximize
                                                      the potential of our products and services. Meanwhile, our app
                                                      maintenance
                                                      proactively fixes bugs, handles software updates, and ensures
                                                      99.9% uptime.
                                                      Powered by advanced AI, we predict and prevent issues before they
                                                      arise, keeping
                                                      your app running smoothly and efficiently."</p>
                                                <div class="ct_btn_group ct_mt_40">
                                                      <a routerLink="/contact" class="ct_btn_style_2_yellow">Get a
                                                            free demo</a>
                                                      <a routerLink="/free-demo"
                                                            class="ct_btn_style_2_yellow ct_btn_style_2_purple">Try
                                                            Creative AI
                                                            for
                                                            free</a>
                                                </div>
                                          </div>
                                    </div>

                              </div>
                              <div class="text-center mt-5">
                                    <a routerLink="/dedicated-customers" class="ct_blue_btn_fill">Learn how we
                                          ensure
                                          success</a>
                              </div>
                        </div>

                  </div>
                  <div class="col-md-12 ct_py_50">
                        <div class="ct_btn_group justify-content-center">
                              <a routerLink="/contact" class="ct_blue_btn_fill">Get a free demo</a>
                              <a routerLink="/login" class="ct_blue_outline_btn ct_dark_blue_text">Try
                                    Creative AI for
                                    free</a>
                        </div>

                  </div>
            </div>
      </div>
</section>
<!-- Helping Your Apps Section E -->


<!-- free demo Section S -->
<section class="ct_pt_50 ct_pb_50">
      <div class="container">
            <div class="col-md-12">
                  <div class="ct_free_demo_bg">
                        <h3 class="ct_fs_20 text-white text-center mb-2 ct_fw_6 00">
                              Struggling to Choose?
                        </h3>
                        <h2 class="ct_fs_38 text-center text-white ct_fw_700 mb-2">
                              Discover Your Ideal Development Plan in Minutes
                        </h2>
                        <p class="ct_fs_17 mb-0 text-center text-white">Quick & Easy Assessment</p>
                        <div class="text-center mt-4">
                              <a routerLink="/pricing" class="ct_blue_btn_fill ct_white_btn ">Find My Perfect Plan</a>
                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- free demo Section S -->

<app-footer />