<div>
      <app-header />
      <!-- Inner Hero Content S -->
      <div class="ct_px_80 ct_how_we_use_bg">
            <div class="container-fluid">
                  <div class="row align-items-center">
                        <div class="col-lg-12" data-aos="fade-down" data-aos-duration="1000">
                              <div class="ct_hero_banner_left_cnt text-center">
                                    <h1 class="ct_fs_44 ct_fw_700">Putting the AI into Creative
                                    </h1>
                                    <p class="ct_fs_18 ct_fw_500">How Vaanya streamlines your app project

                                    </p>

                                    <div class="ct_btn_group justify-content-center ct_mt_40">
                                          <a routerLink="/free-demo" class="ct_blue_btn_fill">Take a free tour</a>
                                          <a routerLink="/login"
                                                class="ct_blue_outline_btn ct_blue_outline_btn_dark">Learn more
                                                about our
                                                Ai</a>
                                    </div>

                              </div>

                        </div>

                  </div>

            </div>
      </div>
      <!-- Inner Hero Content E -->
</div>

<!-- Flexible Service Section 2 S -->
<section class="ct_py_70 pt-0">
      <div class="container">
            <div class="row align-items-center pt-5">
                  <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_flexible_serivce_cnt">
                              <span class="ct_blue_badge_round">Stage 1</span>
                              <h4 class="mb-2 ct_fs_30 ct_fw_700 mt-4">Choose Base</h4>
                              <h6 class="ct_fs_22 ct_fw_600 mb-3 ct_line_h_25">Vaanya, Your AI Product Manager.
                              </h6>
                              <p class="ct_fs_16 mb-4 ct_line_h_25 ct_fw_600">Share your app or website idea by typing,
                                    chatting, recording, or uploading — or pick a ready-made template that matches your
                                    vision. Vaanya instantly turns it into the perfect project base so you can build
                                    exactly what you imagine.
                              </p>
                              <div class="ct_out_line_2_line_bg">
                                    <h4 class="ct_fs_30 ct_fw_700 ct_dark_blue_text mb-0">80%</h4>
                                    <p class="mb-0 ct_fw_600 ct_fs_16">of the information is gathered automatically,
                                          saving you time and ensuring efficiency.
                                    </p>
                              </div>
                        </div>

                  </div>
                  <div class="col-md-5 mb-5 mb-md-0 offset-md-1" data-aos="fade-left" data-aos-duration="1000">
                        <div class="ct_flexible_srvc_img">
                              <img loading="lazy" src="assets/img/circle_git_123.gif" alt="AI app builder for mobile and web">
                        </div>
                        <h4 class="ct_fs_38 ct_dark_blue_text mb-0 text-center ct_fw_700">Hey, I'm Vaanya,<br>let's
                              build
                              your app...
                        </h4>
                  </div>
            </div>
            <div class="row align-items-center pt-5 mt-5">
                  <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_flexible_serivce_cnt">
                              <span class="ct_blue_badge_round">Stage 2</span>
                              <h4 class="mb-2 ct_fs_30 ct_fw_700 mt-4">Make It Mine</h4>
                              <h6 class="ct_fs_22 ct_fw_600 mb-3 ct_line_h_25">Vaanya, Your Personalization Hub.
                              </h6>
                              <p class="ct_fs_16 mb-4 ct_line_h_25 ct_fw_600">In this step, you can easily upload your
                                    logo, choose your app name, and add your website URL. Instantly see a live preview
                                    of how your app or website will look on both desktop and mobile. Make it truly yours
                                    before moving to the next stage of your project journey!
                              </p>
                              <div class="ct_out_line_2_line_bg">
                                    <h4 class="ct_fs_30 ct_fw_700 ct_dark_blue_text mb-0">60 seconds </h4>
                                    <p class="mb-0 ct_fw_600 ct_fs_16">to turn design files into front end code</p>
                              </div>
                        </div>

                  </div>
                  <div class="col-md-5 mb-5 mb-md-0 offset-md-1" data-aos="fade-left" data-aos-duration="1000">
                        <div class="ct_flexible_srvc_img">
                              <img loading="lazy" src="assets/img/how-we-use/Design_png2.png" alt="AI app builder for mobile and web">
                        </div>

                  </div>
            </div>
            <div class="row align-items-center pt-5 mt-5">
                  <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_flexible_serivce_cnt">
                              <span class="ct_blue_badge_round">Stage 3</span>
                              <h4 class="mb-2 ct_fs_30 ct_fw_700 mt-4">Refine Idea</h4>
                              <h6 class="ct_fs_22 ct_fw_600 mb-3 ct_line_h_25">Vaanya, Your Smart Feature Planner.
                              </h6>
                              <p class="ct_fs_16 mb-4 ct_line_h_25 ct_fw_600">In this step, Vaanya shows you all the
                                    features included in your app or website, along with the cost and estimated time to
                                    develop each one. You can customize the features, add or remove what you need, and
                                    see real-time updates on pricing and timelines. Refine your idea until it fits your
                                    vision and budget perfectly!
                              </p>
                              <div class="d-flex align-items-center gap-3 flex-wrap">
                                    <div class="ct_out_line_2_line_bg">
                                          <h4 class="ct_fs_30 ct_fw_700 ct_dark_blue_text mb-0">60%</h4>
                                          <p class="mb-0 ct_fw_600 ct_fs_16">of the code is <br> automated</p>
                                    </div>
                                    <div class="ct_out_line_2_line_bg">
                                          <h4 class="ct_fs_30 ct_fw_700 ct_dark_blue_text mb-0">40%</h4>
                                          <p class="mb-0 ct_fw_600 ct_fs_16">customer interaction for <br> specialist
                                                features</p>
                                    </div>
                              </div>
                        </div>

                  </div>
                  <div class="col-md-5 mb-5 mb-md-0 offset-md-1" data-aos="fade-left" data-aos-duration="1000">
                        <div class="ct_flexible_srvc_img">
                              <img loading="lazy" src="assets/img/how-we-use/developemtn_2.png"
                                    alt="AI app builder for mobile and web">
                        </div>

                  </div>
            </div>
            <div class="row align-items-center pt-5 mt-5">
                  <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_flexible_serivce_cnt">
                              <span class="ct_blue_badge_round">Stage 4</span>
                              <h4 class="mb-2 ct_fs_30 ct_fw_700 mt-4">Plan Delivery</h4>
                              <h6 class="ct_fs_22 ct_fw_600 mb-3 ct_line_h_25">Vaanya, Your Project Roadmap Guide.
                              </h6>
                              <p class="ct_fs_16 mb-4 ct_line_h_25 ct_fw_600">Vaanya helps you confirm all the important
                                    details — choose your target platforms like Android, iOS, web, or mobile site. Pick
                                    your development speed: standard, fast, or super-fast, depending on your needs. Set
                                    project phases, delivery milestones, and get a clickable prototype to see exactly
                                    how your app or website will work before development begins.
                              </p>
                              <div class="ct_out_line_2_line_bg">
                                    <p class="mb-0 ct_fw_600 ct_fs_16">Testing used to take 2-3 weeks. With automation,
                                          it
                                          takes 60 seconds.
                                    </p>
                              </div>
                        </div>

                  </div>
                  <div class="col-md-5 mb-5 mb-md-0 offset-md-1" data-aos="fade-left" data-aos-duration="1000">
                        <div class="ct_flexible_srvc_img">
                              <img loading="lazy" src="assets/img/how-we-use/testing_2.png" alt="AI app builder for mobile and web">
                        </div>

                  </div>
            </div>

            <div class="row align-items-center pt-5 mt-5">
                  <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_flexible_serivce_cnt">
                              <span class="ct_blue_badge_round">Stage 5</span>
                              <h4 class="mb-2 ct_fs_30 ct_fw_700 mt-4">Review Build Card</h4>
                              <h6 class="ct_fs_22 ct_fw_600 mb-3 ct_line_h_25">Vaanya, Your Project Snapshot.
                              </h6>
                              <p class="ct_fs_16 mb-4 ct_line_h_25 ct_fw_600"> In this step, Vaanya shows you a clear
                                    build summary with your chosen platforms — Android, iOS, web, or mobile site — along
                                    with the total project cost, number of features, and estimated delivery date. Get a
                                    final overview before you move ahead with full confidence.
                              </p>
                              <div class="d-flex align-items-center gap-3 flex-wrap">
                                    <div class="ct_out_line_2_line_bg">
                                          <h4 class="ct_fs_30 ct_fw_700 ct_dark_blue_text mb-0">80%</h4>
                                          <p class="mb-0 ct_fw_600 ct_fs_16">is automated</p>
                                    </div>
                                    <div class="ct_out_line_2_line_bg">
                                          <h4 class="ct_fs_30 ct_fw_700 ct_dark_blue_text mb-0">20%</h4>
                                          <p class="mb-0 ct_fw_600 ct_fs_16">customer interaction </p>
                                    </div>
                              </div>
                        </div>

                  </div>
                  <div class="col-md-5 mb-5 mb-md-0 offset-md-1" data-aos="fade-left" data-aos-duration="1000">
                        <div class="ct_flexible_srvc_img">
                              <img loading="lazy" src="assets/img/how-we-use/scaling_2.png" alt="AI app builder for mobile and web">
                        </div>

                  </div>
            </div>
            <div class="row align-items-center pt-5 mt-5">
                  <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_flexible_serivce_cnt">
                              <span class="ct_blue_badge_round">Stage 6</span>
                              <h4 class="mb-2 ct_fs_30 ct_fw_700 mt-4">Billing Details
                              </h4>
                              <h6 class="ct_fs_22 ct_fw_600 mb-3 ct_line_h_25">Vaanya, Your Secure Checkout.
                              </h6>
                              <p class="ct_fs_16 mb-0 ct_line_h_25 ct_fw_600">Here, you’ll enter your billing details
                                    and confirm your contact information. Vaanya keeps your data safe and makes sure
                                    your payment and project information are accurate before you start building.
                              </p>
                        </div>

                  </div>
                  <div class="col-md-5 mb-5 mb-md-0 offset-md-1" data-aos="fade-left" data-aos-duration="1000">
                        <div class="ct_flexible_srvc_img">
                              <img loading="lazy" src="assets/img/how-we-use/scaling_2.png" alt="AI app builder for mobile and web">
                        </div>

                  </div>
            </div>

            <div class="row align-items-center pt-5 mt-5">
                  <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-right" data-aos-duration="1000">
                        <div class="ct_flexible_serivce_cnt">
                              <span class="ct_blue_badge_round">Stage 7</span>
                              <h4 class="mb-2 ct_fs_30 ct_fw_700 mt-4">Payment Plan
                              </h4>
                              <h6 class="ct_fs_22 ct_fw_600 mb-3 ct_line_h_25">Vaanya, Your Flexible Payment Partner.
                              </h6>
                              <p class="ct_fs_16 mb-0 ct_line_h_25 ct_fw_600">No need to pay everything upfront — choose
                                    what works for you. Click to pick a weekly or monthly payment option, and Vaanya
                                    shows you clear plans to match your budget and timeline.
                              </p>
                        </div>

                  </div>
                  <div class="col-md-5 mb-5 mb-md-0 offset-md-1" data-aos="fade-left" data-aos-duration="1000">
                        <div class="ct_flexible_srvc_img">
                              <img loading="lazy" src="assets/img/how-we-use/scaling_2.png" alt="AI app builder for mobile and web">
                        </div>

                  </div>
            </div>

            <div class="row pt-5" data-aos="fade-down" data-aos-duration="1000">
                  <div class="col-md-12">
                        <div class="ct_out_line_2_line_bg mx-auto">
                              <h4 class="ct_fs_30 ct_fw_700 ct_dark_blue_text mb-0  text-center">An <span
                                          class="ct_dark_blue_text">exceptionally high success
                                          rate</span> vs
                              </h4>
                        </div>
                        <div class="ct_out_line_2_line_bg mt-3 mx-auto">
                              <h4 class="ct_fs_30 ct_fw_700 ct_dark_blue_text mb-0 text-center">78% industry standard
                              </h4>
                        </div>

                  </div>

            </div>



      </div>
</section>

<!-- Flexible Service 2 Section E -->



<!-- free demo Section S -->
<section class="ct_py_70 pt-0">
      <div class="container">
            <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000">
                  <div class="ct_free_demo_bg">
                        <h3 class="ct_fs_28  ct_orange_gredient_text text-center mb-2 ct_fw_700">Need help to decide?
                        </h3>
                        <h2 class="ct_fs_38 text-center ct_fw_700 mb-2">Find out which plan is right for you</h2>
                        <p class="ct_fs_17 mb-0 text-center">In less than 60 seconds</p>
                        <div class="text-center mt-4">
                              <a routerLink="/free-demo" class="ct_blue_btn_fill">Get a free demo</a>
                        </div>
                  </div>
            </div>

      </div>
</section>
<!-- free demo Section S -->


<!-- Helping Your Apps Section S -->
<section>
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_helping_bg_grey" data-aos="fade-down" data-aos-duration="1000">
                              <h1 class="ct_fs_44 ct_fw_700 text-center ct_py_70 pt-0">Helping your apps <span
                                          class="ct_orange_text">to
                                          succeed</span> (and
                                    scalex)
                              </h1>
                              <div class="row align-items-center">
                                    <div class="col-lg-5 mb-4 mb-md-0" data-aos="fade-right" data-aos-duration="1000">
                                          <div class="ct_helping_group_img">
                                                <div class="d-flex align-items-center gap-3 justify-content-center">
                                                      <div class="ct_help_img">
                                                            <img loading="lazy" src="assets/img/how-we-use/help_img_1.jpg"
                                                                  alt="AI app builder for mobile and web">
                                                      </div>
                                                      <div class="ct_help_img">
                                                            <img loading="lazy" src="assets/img/how-we-use/helping_img_2.png"
                                                                  alt="AI app builder for mobile and web">
                                                      </div>
                                                </div>
                                                <div class="ct_help_img">
                                                      <img loading="lazy" src="assets/img/how-we-use/helping_img_3.png"
                                                            alt="AI app builder for mobile and web">
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-lg-7 mb-4 mb-md-0" data-aos="fade-left" data-aos-duration="1000">
                                          <div>
                                                <h4 class="ct_fs_22 ct_fw_700 mb-3">Our Customer Success team gives you
                                                      personalised
                                                      guidance to
                                                      ensure you get the
                                                      most out of our products and services.
                                                </h4>
                                                <p class="ct_fs_16 mb-0 ct_line_h_25">"Our Customer Success team
                                                      provides
                                                      personalized guidance,
                                                      helping you maximize
                                                      the potential of our products and services. Meanwhile, our app
                                                      maintenance
                                                      proactively fixes bugs, handles software updates, and ensures
                                                      99.9% uptime.
                                                      Powered by advanced AI, we predict and prevent issues before they
                                                      arise, keeping
                                                      your app running smoothly and efficiently."</p>
                                                <div class="ct_btn_group ct_mt_40">
                                                      <a routerLink="/free-demo" class="ct_btn_style_2_yellow">Get a
                                                            free demo</a>
                                                      <a routerLink="/free-demo"
                                                            class="ct_btn_style_2_yellow ct_btn_style_2_purple">Try
                                                            Creative.ai
                                                            for
                                                            free</a>
                                                </div>
                                          </div>
                                    </div>

                              </div>
                              <div class="text-center mt-5" data-aos="fade-down" data-aos-duration="1000">
                                    <a routerLink="/dedicated-customers" class="ct_blue_btn_fill">Learn how we
                                          ensure
                                          success</a>
                              </div>
                        </div>

                  </div>
                  <div class="col-md-12 ct_py_50" data-aos="fade-down" data-aos-duration="1000">
                        <div class="ct_btn_group justify-content-center">
                              <a routerLink="/free-demo" class="ct_blue_btn_fill">Get a free demo</a>
                              <a routerLink="/login" class="ct_blue_outline_btn ct_dark_blue_text">Try
                                    Creative.ai for
                                    free</a>
                        </div>

                  </div>
            </div>
      </div>
</section>
<!-- Helping Your Apps Section E -->




<!-- Got Question Section S -->
<div class="ct_got_question_bg" data-aos="fade-down" data-aos-duration="1000">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h1 class="ct_fs_44 ct_fw_700 mb-2 text-center ct_orange_text">Got Questions?
                        </h1>
                        <p class="mb-0 text-center">Head to our FAQ page for in-depth answers
                        </p>
                        <div class="text-center ct_mt_34">
                              <a routerLink="/FAQs" class="ct_blue_outline_btn">Read FAQs</a>
                        </div>
                  </div>

            </div>

      </div>
</div>
<!-- Got Question Section E -->
<app-footer />