.ct_flexible_serivce_cnt2 {
    display: flex
;
    align-items: self-start;
    gap: 20px;
}
.ct_blue_badge_round{
    flex-shrink: 0;
}

.ct_time_line_verticle_line {
    position: absolute;
    left: 54px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #e0e0e0;
    background: #0064ff;
    transform: translateX(-50%);
    z-index: -1;
    display: none;
}
.ct_value_card{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.09);
    border-radius: 15px;
    border: 1px solid #e6e6e6;
    transition: 0.4s linear all;
    height: 100%;
}
.ct_value_card ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}
.ct_value_card ul li + li{
    margin-top: 5px;
}
.ct_value_card i{
    color: #3D40F6;
}
.ct_value_card_icon{
    margin-bottom: 15px;
}
.ct_value_card_icon img {
    width: 60px;
}

@media screen and (max-width:991px){
    .ct_time_line_verticle_line{
        display: none;
    }
}