<app-header></app-header>
<!-- <div id="calendly-inline-widget" style="min-width:320px; height:900px;"></div> -->
<div appCalendlyWidget [calendlyUrl]="'https://calendly.com/creativethoughts/30min'" 
     style="min-width:320px; height:900px;">
</div>
<!-- <div class="ct_comapany_address">
    <p class="mb-0 text-center"><i class="fa-solid fa-location-dot me-2"></i>519 Shekhar Central, Palasia, AB Road, Indore 452001
</p> -->

<section class="">
    <h2  class="ct_fs_44 ct_fw_700 text-center mb-5">Our Address </h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.1482115127583!2d75.88449607587509!3d22.722731927449942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd39c96cc46f%3A0x95cd42e9abe66387!2sShekhar%20central%2C%20AB%20Rd%2C%20Manorama%20Ganj%2C%20Indore%2C%20Madhya%20Pradesh%20452018!5e0!3m2!1sen!2sin!4v1757948691733!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
