<!-- <div class="modal fade" id="calendlyModal" tabindex="-1" aria-labelledby="calendlyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="calendlyModalLabel">Schedule a Call</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="calendly-inline-widget" style="min-width:320px;height:630px;"></div>
            </div>
        </div>
    </div>
</div> -->


<div class="row">
    <div class="col-xxl-5 col-xl-6 col-lg-8 mx-auto">
        <div style=" background-color: #fff9f99e;
    padding: 30px;
    border-radius: 10px;">
            <div #scrollContainer class="ct_creative_msg_top_bar px-3">
                <h4 class="ct_fs_28 ct_fw_600 mb-0">Hello, <span class="ct_gradient_clr ct_fw_600">{{userName}}</span></h4>
                <p class="ct_fs_28 ct_text_op_06 ct_fw_600 mb-4">How can I help you today?</p>
                <div class="row">
                    <div class="col-md-12 mx-auto px-md-4">
                        <div class="ct_grid_6_new">
                            @for (item of basicOptions; track $index) {
                                <div class="ct_key_point_box" (click)="selectOption(item)">
                                    <p class="mb-0 ct_fs_16 ct_fw_600">  {{item.label}} </p>
                                    <p class="mb-0">{{item.logo}}</p>
                                </div>
                           }
                       </div>

                    </div>

                </div>
                @for (item of messages; track $index) {
                <div class="d-flex align-items-center gap-2 mb-3" class="msg-row"
                    [ngClass]="item.sender === 'You' ? 'out' : 'in'">
                    @if(item.sender === 'You') {
                    <img [src]='profileImage' alt="" class="avatar" />
                    } @else {   
                    <img src="assets/img/c.png" alt="" class="p-1 avatar" />
                    }
                    <div class="ct_creative_msg_card cti_msg_left mb-0">
                        <p class="mb-0" style="white-space: pre-wrap;   font-size: 14px;">{{ item.text }}</p>
                        <small class="ct_chat_time_local">{{item.time | date:'shortTime'}}</small>
                        @if(item.features?.length > 0 && item.step == 'chatbot'){
                        <div class="options cti_msg_left">
                            <ul style=" list-style: disc;" class="">
                                @for (item2 of item.features; track $index) {
                                <li>{{item2.featuresName}}</li>
                                }
                                
                            </ul>
                           
                        </div>
                        }
                    </div>
                </div>
                }
                <div class="options" *ngIf="getOptions().length">
                    <button *ngFor="let option of getOptions()" (click)="selectOption(option)">
                        {{ option.label }}
                    </button>
                </div>

                <div *ngIf="isLoading" class="msg-row in">
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>


            </div>
            <footer class="chat-input">
                <!-- <input [(ngModel)]="userInput" (keyup.enter)="sendMessage()" placeholder="Type your message…"
                    autocomplete="off" /> -->
                    <textarea [autosize]="true" [maxRows]="10" [(ngModel)]="userInput" (keyup.enter)="sendMessage()" class="form-control ct_input" placeholder="Type your message…" [onlyGrow]="false" style="height: 45px !important;"></textarea> 
                    
                <button (click)="sendMessage()" aria-label="Send message">
                    ➤
                </button>
            </footer>
        </div>
    </div>
</div>