<!-- <div class="preview-wrapper" (click)="onPreviewClick($event)" id="topScrollDiv">
  <div [innerHTML]="currentHTML"></div>
</div> -->


<section class="ct_project_ai_preview_main">
  <aside class="ct_project_ai_chat_section pe-0">
    <ul class="pe-3">
     

      <li class="ct_ai_project_lefr">
        <div class="ct_chat_ai_brand_logo">
          <img src="assets/img/c.png" alt="">
          <p class="mb-0">Creative AI</p>
          <small class="ct_text_op_7">Dec 30, 2025, 11:36 AM</small>

        </div>
        <div class="ct_ai_project_lefr_btns">

          <div *ngFor="let block of blocks">
            <p>{{ block.text }}</p>
            
            <!-- <span *ngIf="!block.done">▍</span> -->
          </div>

           
           
        </div>

          <div aria-label="Loading..." role="status" class="ct_ai_thiking_loader">
  <svg class="ct_ai_thiking_icon" viewBox="0 0 256 256">
    <line x1="128" y1="32" x2="128" y2="64" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
    <line x1="195.9" y1="60.1" x2="173.3" y2="82.7" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
    <line x1="224" y1="128" x2="192" y2="128" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
    <line x1="195.9" y1="195.9" x2="173.3" y2="173.3" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
    <line x1="128" y1="224" x2="128" y2="192" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
    <line x1="60.1" y1="195.9" x2="82.7" y2="173.3" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
    <line x1="32" y1="128" x2="64" y2="128" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
    <line x1="60.1" y1="60.1" x2="82.7" y2="82.7" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
  </svg>
  <span class="ct_ai_thiking_loading-text">Thinking...</span>
</div>
      
      </li>
    </ul>


    <div class="ct_project_ai_btm_action_btns">
      <button class="ct_blue_outline_btn w-100">Regenerate</button>
      <button class="ct_schedule_call_btn w-100 justify-content-center mt-auto">Save</button>


    </div>

  </aside>
  <div class="ct_ai_project_preview_right">
    <div class="">
        <div class="ct_ai_prjct_prev_header">
      <ul>
       
        <li>
          <div class="et_reload_icon" (click)="setWidth('desktop')">
            <i class="fa-solid fa-display"></i>
          </div>
        </li>

        <li>
          <div class="et_reload_icon"  (click)="setWidth('tablet')">
            <i class="fa-solid fa-tablet-screen-button"></i>
          </div>
        </li>
        <li>
          <div class="et_reload_icon" (click)="setWidth('mobile')">
            <i class="fa-solid fa-mobile-screen"></i>
          </div>
        </li>
      </ul>

    </div>
    <div class="preview-wrapper" id="topScrollDiv">
      <iframe #previewFrame class="preview-iframe mx-auto d-block" [style.width.px]="previewWidth" [style.height.%]="100"></iframe>
    </div>
    </div>


     <div class="ct_dash_right_content_side_ai_loader d-none">
      <div class="rgt_loader" id="rgt_loader">
  <div class="rgt_loader-wrapper">
    <span class="rgt_loader-letter">G</span>
    <span class="rgt_loader-letter">e</span>
    <span class="rgt_loader-letter">n</span>
    <span class="rgt_loader-letter">e</span>
    <span class="rgt_loader-letter">r</span>
    <span class="rgt_loader-letter">a</span>
    <span class="rgt_loader-letter">t</span>
    <span class="rgt_loader-letter">i</span>
    <span class="rgt_loader-letter">n</span>
    <span class="rgt_loader-letter">g</span>
    <span class="rgt_loader-letter">.</span>
    <span class="rgt_loader-letter">.</span>
    <span class="rgt_loader-letter">.</span>
    <div class="rgt_loader-circle"></div>
  </div>
</div>

<div class="mt-4 text-center">
  <h4 class="ct_fs_24 ct_fw_600 mb-1">I'm Generating the Preview.</h4>
  <p class="mb-0 ct_text_op_7"> Hold on for a moment.</p>
</div>
  </div>

 


  </div>

</section>