<footer class="ct_px_100 ct_py_100 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <div class="ct_footer_info_left">
                              <a href="index.html">
                                    <!-- <img src="img/logo.png" alt="" height="100px"> -->
                                    <h2>ZYNQ</h2>
                              </a>
                              <p class="mb-0 ct_text_italic ct_fw_500 text-white">Personalized Skincare, Powered by AI
                              </p>
                              <ul class="ct_social_list">
                                    <li>
                                          <a href="javascript:void(0)"><i class="fa-brands fa-tiktok"></i></a>
                                    </li>
                                    <li>
                                          <a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                          <a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                          <a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a>
                                    </li>
                              </ul>
                        </div>

                  </div>
                  <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h4 class="ct_fs_18 ct_fw_600 text-white mb-3">Legal</h4>
                        <ul class="ct_menu_link">
                              <li>
                                    <a routerLink="/privecy-policy">Privacy Policy</a>
                              </li>
                              <li>
                                    <a routerLink="/terms-of-use">Terms Of Use</a>
                              </li>
                              <li>
                                    <a routerLink="/gdpr">GDPR Summary</a>
                              </li>
                              <li>
                                    <a routerLink="/cookies">Cookies Settings</a>
                              </li>
                        </ul>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h4 class="ct_fs_18 ct_fw_600 text-white mb-3">Legal</h4>
                        <ul class="ct_menu_link">
                              <li>
                                    Press & Media: <a href="mailto:press@zynq.io">press&#64;zynq.io</a>
                              </li>
                              <li>
                                    Technical Support: <a href="mailto:support@zynq.io">support&#64;zynq.io</a>
                              </li>
                              <li>
                                    Dev & API: <a href="mailto:dev@zynq.io">dev&#64;zynq.io</a>
                              </li>
                              <li>
                                    Partnerships: <a href="mailto:partner@zynq.io">partner&#64;zynq.io</a>
                              </li>
                              <li>
                                    ZYNQ Nordics AB, Based in Stockholm
                              </li>
                        </ul>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h4 class="ct_fs_18 ct_fw_600 text-white mb-3">Press Contact</h4>
                        <ul class="ct_menu_link">
                              <li>
                                    Are you a journalist or media professional? <br>
                                    We're happy to share our tech and vision. <br>
                                    press&#64;zynq.io
                              </li>

                        </ul>
                  </div>
            </div>

            <div>
                  <p class="ct_text_op_5 text-white text-center mt-5 pt-5">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <g clip-path="url(#clip0_787_3611)">
                                    <mask id="mask0_787_3611" style="mask-type:luminance" maskUnits="userSpaceOnUse"
                                          x="0" y="0" width="16" height="17">
                                          <path d="M0 0.554688H16V16.5547H0V0.554688Z" fill="white" />
                                    </mask>
                                    <g mask="url(#mask0_787_3611)">
                                          <path d="M11.5 6.55469H11V4.05469C11 3.22626 10.7071 2.51916 10.1213 1.93337C9.53553 1.34758 8.82843 1.05469 8 1.05469C7.17157 1.05469 6.46447 1.34758 5.87868 1.93337C5.29289 2.51916 5 3.22626 5 4.05469V6.55469H4.5C3.94796 6.55529 3.47677 6.75077 3.08643 7.14112C2.69608 7.53146 2.5006 8.00266 2.5 8.55469V14.0547C2.5006 14.6067 2.69608 15.0779 3.08643 15.4683C3.47677 15.8586 3.94796 16.0541 4.5 16.0547H11.5C12.052 16.0541 12.5232 15.8586 12.9136 15.4683C13.3039 15.0779 13.4994 14.6067 13.5 14.0547V8.55469C13.4994 8.00266 13.3039 7.53146 12.9136 7.14112C12.5232 6.75077 12.052 6.55529 11.5 6.55469ZM10 6.55469H6V4.05469C6 3.50241 6.19526 3.031 6.58579 2.64048C6.97631 2.24995 7.44772 2.05469 8 2.05469C8.55228 2.05469 9.02369 2.24995 9.41421 2.64048C9.80474 3.031 10 3.50241 10 4.05469V6.55469Z"
                                                fill="white" fill-opacity="0.5" />
                                    </g>
                              </g>
                              <defs>
                                    <clipPath id="clip0_787_3611">
                                          <rect width="16" height="16" fill="white" transform="translate(0 0.554688)" />
                                    </clipPath>
                              </defs>
                        </svg>

                        We follow GDPR and store data only with your consent.
                  </p>
            </div>

            <div class="ct_sub_footer">
                  <p class="mb-0 ct_text_op_7 text-white">© 2025 ZYNQ Technologies AB · Org. no: 556677-8899 ·
                        Stockholm, Sweden</p>
                  <p class="mb-0 ct_text_op_7 text-white">info&#64;zynq.ai · All rights reserved</p>
            </div>
      </div>
</footer>