.ct_profile_main_bg_123 {
    padding: 30px 30px;
    margin-top: 30px;
    background: #323232;
    height: 100%;
    color: #fff;
    border-radius: 10px;
}
.ct_eye_show{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);    
}
.ct_green_btn {
    background-color: #38ad48;
    border: 0px;
    padding: 7px 15px;
    border-radius: 4px;
    color: #fff;
}
.ct_pe_90{
    padding-right: 90px !important;
}
.ct_white_bg_page {
    background-color: #000;
}

.form-control.ct_input{
    background-color: transparent !important;
    color: #fff;
}
.ct_input::placeholder{
    color: #fff;
    opacity: 0.7;
}
.ct_input:focus ,.form-control.ct_input:focus{
    border-color: #5D5CFF;
}

.ct_blue_btn_fill{
    background-color: #5D5CFF;
}
.ct_profile_user img {
  
    border: 1px solid #ffffff40;
}