<div class="et_dash_header  d-flex align-items-center justify-content-between gap-3">
      <ul>
            <li>
                  <a href="user-dashbaord.html">Home</a>
            </li>
            <li>/</li>
            <li>
                  <a > All Buildcards</a>
            </li>
            <li>/</li>
            <li>
                  Carbon Offset App
            </li>
      </ul>
      <div class="et_toggle_bar">
            <i class="fa-solid fa-bars-staggered"></i>
      </div>
</div>