<!-- <section class="row w-100 vh-100 overflow-hidden m-0" style="background-color: #fff;">
      <div class="col-lg-6  py-4 pe-0" style="overflow-y: auto; position: relative;">
            <div class="et_short_login">
               
                  <div class="m-auto et_short_login_scroll ct_custom_scroll" style="width: 100%;">
                        <div class="mb-4">
                              <h1 class="ct_fw_600 mb-1 ct_fs_30">Create your Account</h1>

                        </div>

                        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="mt-4">
                              @if(!otpVisible){
                              @if(!isPhone){
                              <div class="form-group mb-4 position-relative">
                                    <label class="position-absolute px-1"
                                          style="background: #fff; top: -10px; left: 15px; font-size: 14px; font-weight: 600; color: #111; z-index: 10;">
                                          Email Address <span class="text-danger">*</span>
                                    </label>
                                    <input type="email" formControlName="email" class="form-control cti_input"
                                          style="height: 45px; border-radius: 12px; border: 1px solid #d1d5db; padding-left: 15px; font-size: 15px; color: #111;"
                                          placeholder="Enter email address" />
                                    <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger mt-1"
                                          style="font-size: 13px;">
                                          Valid email is required
                                    </div>
                              </div>
                              }@else{
                              <div class="form-group mb-4 position-relative">
                                    <label class="position-absolute px-1"
                                          style="background: #fff; top: -10px; left: 15px; font-size: 14px; font-weight: 600; color: #111; z-index: 10;">
                                          Mobile Number <span class="text-danger">*</span>
                                    </label>
                                    <ngx-intl-tel-input #phoneInput [cssClass]="'form-control cti_input w-100'"
                                          style="height: 45px; border-radius: 12px; border: 1px solid #d1d5db; padding-left: 15px; font-size: 15px; color: #111;"
                                          [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                          [searchCountryFlag]="true"
                                          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                          [selectFirstCountry]="false" [selectedCountryISO]="selectedCountry"
                                          [maxLength]="15" [phoneValidation]="true" formControlName="phone">
                                    </ngx-intl-tel-input>
                                    <div *ngIf="signupForm.get('phone')?.touched && signupForm.get('phone')?.invalid"
                                          class="text-danger mt-1" style="font-size: 13px;">
                                          <div *ngIf="signupForm.get('phone')?.errors?.['required']">Mobile number is
                                                required.</div>
                                          <div *ngIf="signupForm.get('phone')?.errors?.['validatePhoneNumber']">Please
                                                enter a valid mobile number.</div>
                                    </div>
                              </div>
                              }

                              <div class="form-group mb-4 position-relative">
                                    <label class="position-absolute px-1"
                                          style="background: #fff; top: -10px; left: 15px; font-size: 14px; font-weight: 600; color: #111; z-index: 10;">
                                          Password <span class="text-danger">*</span>
                                    </label>
                                    <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                                          class="form-control cti_input"
                                          style="height: 52px; border-radius: 12px; border: 1px solid #d1d5db; padding-left: 15px; font-size: 15px; color: #111; padding-right: 40px;"
                                          placeholder="•••••••••••••••••" />
                                    <button type="button"
                                          class="position-absolute end-0 0 translate-middle-y border-0 bg-transparent me-2"
                                          style="padding-top: 5px; top:25px" (click)="togglePasswordVisibility()">
                                          <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                style="color: #6b7280; font-size: 18px;"></i>
                                    </button>
                                    <div *ngIf="f['password'].invalid && f['password'].touched" class="text-danger mt-1"
                                          style="font-size: 13px;">
                                          Password must be 8+ characters, include uppercase, lowercase, number & special
                                          character.
                                    </div>
                              </div>
                              }

                              @if(otpVisible){
                              <div class="text-center mb-2">
                                    <h4 class="ct_fs_20 ct_fw_600 mb-1">OTP Verification</h4>
                                    <p class="mb-0 text-muted" style="font-size: 14px;">Enter OTP code sent to
                                          {{phoneNumber}}</p>
                              </div>
                              <div class="form-group mb-4">
                                    <nz-flex nzVertical class="justify-content-center">
                                          <nz-input-otp [nzLength]="6" [(ngModel)]="otp"
                                                [ngModelOptions]="{standalone: true}"
                                                (keypress)="restrictToNumbers($event)"></nz-input-otp>
                                    </nz-flex>
                              </div>
                              <div class="mb-4 text-center" style="font-size: 14px;">
                                    <span class="text-muted">Didn’t receive the code? </span>
                                    <a class="text-primary text-decoration-none"
                                          style="cursor: pointer; font-weight: 600;"
                                          (click)="isResendDisabled ? null : resendOtp()"
                                          [class.text-muted]="isResendDisabled">
                                          Resend OTP
                                    </a>
                                    <span *ngIf="isResendDisabled" class="text-muted"> ({{ countdown }}s)</span>
                              </div>
                              }

                              <div class="mb-2">
                                    @if(!otpVisible){
                                    <app-submit-button [text]="'Sign Up'" [isLoading]="isLoading"
                                          [class]="'ct_login_btn'"></app-submit-button>
                                    }@else {
                                    <app-submit-button [text]="'Verify & Proceed'" [isLoading]="isLoading"
                                          [class]="'ct_login_btn'"></app-submit-button>
                                    }
                              </div>

                              <div class="text-center mb-2">
                                    <p class="mb-0 text-muted" style="font-size: 15px;">Already have an account? <a
                                                routerLink="/login" class="text-decoration-none"
                                                style="font-size: 15px; color: #6366f1; font-weight: 600;">Log In</a>
                                    </p>
                              </div>

                              <div class="d-flex align-items-center justify-content-center mb-2 ">
                                    <hr class="flex-grow-1 m-0" style="border-top: 1px solid #21212140;">
                                    <span class="mx-3 text-muted" style="font-size: 13px; color: #202020 !important;">Or
                                          sign up with</span>
                                    <hr class="flex-grow-1 m-0" style="border-top: 1px solid #21212140;">
                              </div>

                              <button type="button"
                                    class="btn w-100 mb-3 d-flex align-items-center justify-content-center"
                                    style=" border-radius: 999px; box-shadow:0px 3px 11.3px 0px #0000001C; height: 50px; background: #fff; font-weight: 600; color: #111; font-size: 15px;"
                                    (click)="loginWithGoogle()">
                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" class="me-2">
                                          <path opacity="0.987" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M10.3635 1.52519C11.4057 1.40876 12.0223 1.40876 13.1422 1.52519C15.1244 1.81858 16.9619 2.73483 18.389 4.14144C17.4246 5.05301 16.4729 5.97789 15.5342 6.91582C13.7363 5.39207 11.7296 5.04036 9.51391 5.86069C7.88857 6.60819 6.75678 7.81953 6.11853 9.49469C5.07554 8.7182 4.04613 7.92362 3.03078 7.11132C2.96022 7.07418 2.87963 7.06058 2.80078 7.07251C4.41366 3.96271 6.93407 2.11313 10.362 1.52376"
                                                fill="#F44336" />
                                          <path opacity="0.997" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M2.79774 7.07245C2.8792 7.06 2.95634 7.07293 3.02918 7.11127C4.04453 7.92357 5.07393 8.71815 6.11693 9.49464C5.9528 10.1474 5.84934 10.8138 5.80786 11.4856C5.84332 12.1353 5.94634 12.7731 6.11693 13.3989L2.87536 15.9792C1.46374 13.0295 1.43786 10.0605 2.79774 7.07245Z"
                                                fill="#FFC107" />
                                          <path opacity="0.999" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M18.2351 19.1044C17.2258 18.2143 16.1691 17.3793 15.0697 16.6032C16.1718 15.825 16.8407 14.7574 17.0765 13.4004H11.6758V9.64999C14.7904 9.62412 17.9035 9.65047 21.0152 9.72906C21.6056 12.9347 20.9237 15.825 18.9697 18.4001C18.7373 18.6471 18.4912 18.8821 18.2351 19.1044Z"
                                                fill="#448AFF" />
                                          <path opacity="0.993" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M6.11656 13.4004C7.29531 16.33 9.45635 17.6976 12.5997 17.503C13.4821 17.4009 14.3281 17.0926 15.0693 16.6031C16.1695 17.3813 17.2246 18.2151 18.2347 19.1044C16.6342 20.5425 14.5937 21.3959 12.4459 21.5251C11.9579 21.5642 11.4676 21.5642 10.9796 21.5251C7.32071 21.0939 4.61917 19.2453 2.875 15.9793L6.11656 13.4004Z"
                                                fill="#43A047" />
                                    </svg>
                                    Continue with Google
                              </button>

                              <div class="d-flex justify-content-between gap-3">
                                    <button (click)="loginWithFacebook()" type="button"
                                          class="btn flex-grow-1 d-flex align-items-center justify-content-center"
                                          style="background: #e5e7eb; border-radius: 999px; height: 45px; border: none;">
                                          <svg width="22" height="22" viewBox="0 0 30 30" fill="none">
                                                <g clip-path="url(#clip0_222_4798_1)">
                                                      <path d="M30 15C30 6.71578 23.2842 0 15 0C6.71578 0 0 6.71578 0 15C0 22.4869 5.48531 28.6925 12.6562 29.8178V19.3359H8.84766V15H12.6562V11.6953C12.6562 7.93594 14.8957 5.85938 18.322 5.85938C19.9631 5.85938 21.6797 6.15234 21.6797 6.15234V9.84375H19.7883C17.9249 9.84375 17.3438 11 17.3438 12.1863V15H21.5039L20.8389 19.3359H17.3438V29.8178C24.5147 28.6925 30 22.487 30 15Z"
                                                            fill="#1877F2" />
                                                      <path d="M20.8389 19.3359L21.5039 15H17.3438V12.1863C17.3438 10.9999 17.9249 9.84375 19.7883 9.84375H21.6797V6.15234C21.6797 6.15234 19.9631 5.85938 18.3219 5.85938C14.8957 5.85938 12.6562 7.93594 12.6562 11.6953V15H8.84766V19.3359H12.6562V29.8178C13.4316 29.9393 14.2152 30.0002 15 30C15.7848 30.0002 16.5684 29.9393 17.3438 29.8178V19.3359H20.8389Z"
                                                            fill="white" />
                                                </g>
                                                <defs>
                                                      <clipPath id="clip0_222_4798_1">
                                                            <rect width="30" height="30" fill="white" />
                                                      </clipPath>
                                                </defs>
                                          </svg>
                                    </button>
                                    <button (click)="loginWithApple()" type="button"
                                          class="btn flex-grow-1 d-flex align-items-center justify-content-center"
                                          style="background: #e5e7eb; border-radius: 999px; height: 45px; border: none;">
                                          <svg width="22" height="22" viewBox="0 0 37 37" fill="none">
                                                <path d="M26.2859 31.265C24.775 32.7296 23.1255 32.4983 21.5375 31.8046C19.8571 31.0954 18.3155 31.0646 16.5425 31.8046C14.3225 32.7604 13.1509 32.4829 11.825 31.265C4.30171 23.5104 5.41171 11.7012 13.9525 11.2696C16.0338 11.3775 17.483 12.4104 18.7009 12.5029C20.52 12.1329 22.2621 11.0692 24.2046 11.2079C26.5325 11.3929 28.29 12.3179 29.4463 13.9829C24.6363 16.8658 25.7771 23.2021 30.1863 24.975C29.3075 27.2875 28.1667 29.5846 26.2705 31.2804L26.2859 31.265ZM18.5467 11.1771C18.3155 7.73917 21.1059 4.9025 24.3125 4.625C24.7596 8.6025 20.705 11.5625 18.5467 11.1771Z"
                                                      fill="black" />
                                          </svg>
                                    </button>
                              </div>

                        </form>
                  </div>
            </div>
      </div>

      <div class="col-lg-6 d-none d-lg-flex flex-column justify-content-between right-panel-bg"
            style="padding: 32px 60px; position: relative;">
            <div class="mt-4">
                  <h1
                        style="font-size: 40px; font-weight: 500; line-height: 1.1; letter-spacing: -1px; margin-bottom: 20px; color: #ffffff !important;">
                        Everything You <br> Need to Build,<br> Launch & Grow <br>Online</h1>

                  <ul class="list-unstyled d-flex flex-column gap-2"
                        style="font-size: 18px; font-weight: 400; color: #ffffff !important;">
                        <li class="d-flex align-items-center gap-3">
                              <div style="width: 10px; height: 10px; background-color: #ffffff; border-radius: 50%;">
                              </div>
                              <span style="color: #ffffff !important;">No coding or technical skills required</span>
                        </li>
                        <li class="d-flex align-items-center gap-3">
                              <div style="width: 10px; height: 10px; background-color: #ffffff; border-radius: 50%;">
                              </div>
                              <span style="color: #ffffff !important;">Professional websites for any business</span>
                        </li>
                        <li class="d-flex align-items-center gap-3">
                              <div style="width: 10px; height: 10px; background-color: #ffffff; border-radius: 50%;">
                              </div>
                              <span style="color: #ffffff !important;">Mobile-ready web applications</span>
                        </li>
                        <li class="d-flex align-items-center gap-3">
                              <div style="width: 10px; height: 10px; background-color: #ffffff; border-radius: 50%;">
                              </div>
                              <span style="color: #ffffff !important;">Launch in just a few clicks</span>
                        </li>
                  </ul>
            </div>

            <div class="d-flex align-items-center gap-3 mt-auto mb-4">
                  <div class="d-flex align-items-center position-relative" style="width: 150px; height: 45px;">
                        <img src="assets/img/client_3.webp" alt="User"
                              class="rounded border border-2 border-white position-absolute"
                              style="width: 42px; height: 42px; object-fit: cover; left: 0; z-index: 5;">
                        <img src="assets/img/client_4.webp" alt="User"
                              class="rounded border border-2 border-white position-absolute"
                              style="width: 42px; height: 42px; object-fit: cover; left: 38px; z-index: 4;">
                        <img src="assets/img/client_2.webp" alt="User"
                              class="rounded border border-2 border-white position-absolute"
                              style="width: 42px; height: 42px; object-fit: cover; left: 76px; z-index: 3;">
                        <img src="assets/img/james.webp" alt="User"
                              class="rounded border border-2 border-white position-absolute"
                              style="width: 42px; height: 42px; object-fit: cover; left: 114px; z-index: 2;">
                  </div>
                  <div>
                        <div class="d-flex gap-1 mb-1" style="font-size: 14px; color: #ffffff !important;">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                        </div>
                        <div style="font-size: 13px; font-weight: 500; color: #ffffff !important;">Trusted by 1000+
                              Businesses</div>
                  </div>
            </div>
      </div>
</section> -->


<div class="ct_main_login_new">


      <div class="login-wrapper">

            <!-- =====================================
         LEFT LOGIN PANEL
    ====================================== -->

            <section class="login-section">

                  <div class="login-content">

                        <!-- BRAND -->

                        <a class="brand" href="https://creativethoughts.ai">
                              <img src="assets/img/cti_black_logo.svg" alt="">
                        </a>


                        <!-- HEADING -->

                        <h1>
                              Create your Account
                        </h1>

                        <p class="subtitle">
                              Sign up to continue building amazing things.
                        </p>


                        <!-- LOGIN FORM -->

                        <form id="loginForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

                              <!-- EMAIL -->
                              @if(!otpVisible){
                              @if(!isPhone){

                              <div class="form-group">

                                    <label for="email">
                                          Email address
                                    </label>

                                    <div class="input-wrapper">

                                          <span class="input-icon">
                                                <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M2.35742 7.714L9.33742 12.368C10.3004 13.009 10.7814 13.33 11.3014 13.455C11.7614 13.565 12.2404 13.565 12.6994 13.455C13.2194 13.33 13.7004 13.009 14.6634 12.368L21.6434 7.714M7.15742 19.5H16.8434C18.5234 19.5 19.3634 19.5 20.0054 19.173C20.5695 18.8852 21.0281 18.4263 21.3154 17.862C21.6434 17.22 21.6434 16.38 21.6434 14.7V9.3C21.6434 7.62 21.6434 6.78 21.3164 6.138C21.0288 5.57354 20.5699 5.11462 20.0054 4.827C19.3634 4.5 18.5234 4.5 16.8434 4.5H7.15742C5.47742 4.5 4.63742 4.5 3.99542 4.827C3.43133 5.11479 2.97278 5.57369 2.68542 6.138C2.35742 6.78 2.35742 7.62 2.35742 9.3V14.7C2.35742 16.38 2.35742 17.22 2.68442 17.862C2.97204 18.4265 3.43096 18.8854 3.99542 19.173C4.63742 19.5 5.47742 19.5 7.15742 19.5Z"
                                                            stroke="black" stroke-width="1.5" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                </svg>
                                          </span>

                                          <input id="email" type="email" formControlName="email"
                                                placeholder="john.doe@gmail.com" autocomplete="email" required />

                                    </div>
                                    <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger mt-1"
                                          style="font-size: 13px;">
                                          Valid email is required
                                    </div>
                              </div>
                              }@else{
                              <div class="form-group">

                                    <label for="password">
                                          Mobile Number
                                    </label>

                                    <ngx-intl-tel-input #phoneInput [cssClass]="'form-control cti_input w-100'"
                                          style="height: 45px; border-radius: 12px; border: 1px solid #d1d5db; padding-left: 15px; font-size: 15px; color: #111;"
                                          [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                          [searchCountryFlag]="true"
                                          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                          [selectFirstCountry]="false" [selectedCountryISO]="selectedCountry"
                                          [maxLength]="15" [phoneValidation]="true" formControlName="phone">
                                    </ngx-intl-tel-input>
                                    <div *ngIf="signupForm.get('phone')?.touched && signupForm.get('phone')?.invalid"
                                          class="text-danger mt-1" style="font-size: 13px;">
                                          <div *ngIf="signupForm.get('phone')?.errors?.['required']">Mobile number is
                                                required.</div>
                                          <div *ngIf="signupForm.get('phone')?.errors?.['validatePhoneNumber']">Please
                                                enter a valid mobile number.</div>
                                    </div>
                              </div>

                              <!-- PASSWORD -->
                              }
                              <div class="form-group">

                                    <label for="password">
                                          Password
                                    </label>

                                    <div class="input-wrapper">

                                          <span class="input-icon">
                                                <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M6 22H18C19.1 22 20 21.1 20 20V11C20 9.9 19.1 9 18 9H17V7C17 4.24 14.76 2 12 2C9.24 2 7 4.24 7 7V9H6C4.9 9 4 9.9 4 11V20C4 21.1 4.9 22 6 22ZM9 7C9 5.35 10.35 4 12 4C13.65 4 15 5.35 15 7V9H9V7ZM6 11H18V20H6V11Z"
                                                            fill="black" />
                                                </svg>
                                          </span>

                                          <input id="password" [type]="showPassword ? 'text' : 'password'"
                                                formControlName="password" placeholder="••••••••••••••"
                                                autocomplete="current-password" required />

                                          <button type="button" class="password-toggle" id="passwordToggle"
                                                aria-label="Show password" (click)="togglePasswordVisibility()">
                                                <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                      style="color: #6b7280; font-size: 18px;"></i>
                                          </button>

                                    </div>
                                    <div *ngIf="f['password'].invalid && f['password'].touched" class="text-danger mt-1"
                                          style="font-size: 13px;">
                                          Password must be 8+ characters, include uppercase, lowercase, number & special
                                          character.
                                    </div>

                              </div>

                              @if(otpVisible){
                              <div class="text-center mb-2">
                                    <h4 class="ct_fs_20 ct_fw_600 mb-1">OTP Verification</h4>
                                    <p class="mb-0 text-muted" style="font-size: 14px;">Enter OTP code sent to
                                          {{phoneNumber}}</p>
                              </div>
                              <div class="form-group mb-4">
                                    <nz-flex nzVertical class="justify-content-center">
                                          <nz-input-otp [nzLength]="6" [(ngModel)]="otp"
                                                [ngModelOptions]="{standalone: true}"
                                                (keypress)="restrictToNumbers($event)"></nz-input-otp>
                                    </nz-flex>
                              </div>
                              <div class="mb-4 text-center" style="font-size: 14px;">
                                    <span class="text-muted">Didn’t receive the code? </span>
                                    <a class="text-primary text-decoration-none"
                                          style="cursor: pointer; font-weight: 600;"
                                          (click)="isResendDisabled ? null : resendOtp()"
                                          [class.text-muted]="isResendDisabled">
                                          Resend OTP
                                    </a>
                                    <span *ngIf="isResendDisabled" class="text-muted"> ({{ countdown }}s)</span>
                              </div>
                              }
                              <div class="mb-2">
                                    @if(!otpVisible){
                                    <app-submit-button [text]="'Sign Up'" [isLoading]="isLoading"
                                          [class]="'ct_login_btn'"></app-submit-button>
                                    }@else {
                                    <app-submit-button [text]="'Verify & Proceed'" [isLoading]="isLoading"
                                          [class]="'ct_login_btn'"></app-submit-button>
                                    }
                              </div>



                              }


                              <!-- LOGIN -->

                              <!-- <div class="mb-2">
                                    @if(!otpVisible){
                                    <app-submit-button [text]="'Sign Up'" [isLoading]="isLoading"
                                          [class]="'ct_login_btn'"></app-submit-button>
                                    }@else {
                                    <app-submit-button [text]="'Verify & Proceed'" [isLoading]="isLoading"
                                          [class]="'ct_login_btn'"></app-submit-button>
                                    }
                              </div> -->

                        </form>


                        <!-- SIGNUP -->

                        <div class="signup">

                              Already have an account?

                              <a routerLink="/login">
                                    Log In
                              </a>

                        </div>


                        <!-- DIVIDER -->

                        <div class="divider">
                              Or sign up with
                        </div>


                        <!-- GOOGLE -->

                        <button type="button" class="social-google" (click)="loginWithGoogle()">

                              <span class="google-icon">
                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" class="me-2">
                                          <path opacity="0.987" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M10.3635 1.52519C11.4057 1.40876 12.0223 1.40876 13.1422 1.52519C15.1244 1.81858 16.9619 2.73483 18.389 4.14144C17.4246 5.05301 16.4729 5.97789 15.5342 6.91582C13.7363 5.39207 11.7296 5.04036 9.51391 5.86069C7.88857 6.60819 6.75678 7.81953 6.11853 9.49469C5.07554 8.7182 4.04613 7.92362 3.03078 7.11132C2.96022 7.07418 2.87963 7.06058 2.80078 7.07251C4.41366 3.96271 6.93407 2.11313 10.362 1.52376"
                                                fill="#F44336" />
                                          <path opacity="0.997" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M2.79774 7.07245C2.8792 7.06 2.95634 7.07293 3.02918 7.11127C4.04453 7.92357 5.07393 8.71815 6.11693 9.49464C5.9528 10.1474 5.84934 10.8138 5.80786 11.4856C5.84332 12.1353 5.94634 12.7731 6.11693 13.3989L2.87536 15.9792C1.46374 13.0295 1.43786 10.0605 2.79774 7.07245Z"
                                                fill="#FFC107" />
                                          <path opacity="0.999" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M18.2351 19.1044C17.2258 18.2143 16.1691 17.3793 15.0697 16.6032C16.1718 15.825 16.8407 14.7574 17.0765 13.4004H11.6758V9.64999C14.7904 9.62412 17.9035 9.65047 21.0152 9.72906C21.6056 12.9347 20.9237 15.825 18.9697 18.4001C18.7373 18.6471 18.4912 18.8821 18.2351 19.1044Z"
                                                fill="#448AFF" />
                                          <path opacity="0.993" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M6.11656 13.4004C7.29531 16.33 9.45635 17.6976 12.5997 17.503C13.4821 17.4009 14.3281 17.0926 15.0693 16.6031C16.1695 17.3813 17.2246 18.2151 18.2347 19.1044C16.6342 20.5425 14.5937 21.3959 12.4459 21.5251C11.9579 21.5642 11.4676 21.5642 10.9796 21.5251C7.32071 21.0939 4.61917 19.2453 2.875 15.9793L6.11656 13.4004Z"
                                                fill="#43A047" />
                                    </svg>
                              </span>

                              Continue with Google

                        </button>


                        <!-- FACEBOOK + APPLE -->

                        <div class="social-row">

                              <button type="button" class="social-button" (click)="loginWithFacebook()">

                                    <span class="facebook-icon">
                                          <svg width="22" height="22" viewBox="0 0 30 30" fill="none">
                                                <g clip-path="url(#clip0_222_4798_1)">
                                                      <path d="M30 15C30 6.71578 23.2842 0 15 0C6.71578 0 0 6.71578 0 15C0 22.4869 5.48531 28.6925 12.6562 29.8178V19.3359H8.84766V15H12.6562V11.6953C12.6562 7.93594 14.8957 5.85938 18.322 5.85938C19.9631 5.85938 21.6797 6.15234 21.6797 6.15234V9.84375H19.7883C17.9249 9.84375 17.3438 11 17.3438 12.1863V15H21.5039L20.8389 19.3359H17.3438V29.8178C24.5147 28.6925 30 22.487 30 15Z"
                                                            fill="#1877F2" />
                                                      <path d="M20.8389 19.3359L21.5039 15H17.3438V12.1863C17.3438 10.9999 17.9249 9.84375 19.7883 9.84375H21.6797V6.15234C21.6797 6.15234 19.9631 5.85938 18.3219 5.85938C14.8957 5.85938 12.6562 7.93594 12.6562 11.6953V15H8.84766V19.3359H12.6562V29.8178C13.4316 29.9393 14.2152 30.0002 15 30C15.7848 30.0002 16.5684 29.9393 17.3438 29.8178V19.3359H20.8389Z"
                                                            fill="white" />
                                                </g>
                                                <defs>
                                                      <clipPath id="clip0_222_4798_1">
                                                            <rect width="30" height="30" fill="white" />
                                                      </clipPath>
                                                </defs>
                                          </svg>
                                    </span>

                                    Continue with Facebook

                              </button>


                              <button type="button" class="social-button" (click)="loginWithApple()">

                                    <span class="apple-icon">
                                          <svg width="22" height="22" viewBox="0 0 37 37" fill="none">
                                                <path d="M26.2859 31.265C24.775 32.7296 23.1255 32.4983 21.5375 31.8046C19.8571 31.0954 18.3155 31.0646 16.5425 31.8046C14.3225 32.7604 13.1509 32.4829 11.825 31.265C4.30171 23.5104 5.41171 11.7012 13.9525 11.2696C16.0338 11.3775 17.483 12.4104 18.7009 12.5029C20.52 12.1329 22.2621 11.0692 24.2046 11.2079C26.5325 11.3929 28.29 12.3179 29.4463 13.9829C24.6363 16.8658 25.7771 23.2021 30.1863 24.975C29.3075 27.2875 28.1667 29.5846 26.2705 31.2804L26.2859 31.265ZM18.5467 11.1771C18.3155 7.73917 21.1059 4.9025 24.3125 4.625C24.7596 8.6025 20.705 11.5625 18.5467 11.1771Z"
                                                      fill="black" />
                                          </svg>
                                    </span>

                                    Continue with Apple

                              </button>

                        </div>


                        <!-- SECURITY -->



                  </div>

            </section>


            <!-- =====================================
         RIGHT MARKETING PANEL
    ====================================== -->

            <section class="marketing-section">


                  <!-- MARKETING CONTENT -->

                  <div class="marketing-content">

                        <h2>

                              Everything You<br />

                              Need to Build,<br />

                              Launch & Grow<br />

                              <span class="gradient-word">
                                    Online
                              </span>

                        </h2>


                        <!-- FEATURES -->

                        <div class="feature-list">


                              <div class="feature">

                                    <div class="feature-icon">
                                          &lt;/&gt;
                                    </div>

                                    <div class="feature-text">

                                          No coding or technical<br />

                                          skills required

                                    </div>

                              </div>


                              <div class="feature">

                                    <div class="feature-icon">
                                          ◎
                                    </div>

                                    <div class="feature-text">

                                          Professional websites<br />

                                          for any business

                                    </div>

                              </div>


                              <div class="feature">

                                    <div class="feature-icon">
                                          ▣
                                    </div>

                                    <div class="feature-text">

                                          Mobile-ready<br />

                                          web applications

                                    </div>

                              </div>


                              <div class="feature">

                                    <div class="feature-icon">
                                          ➤
                                    </div>

                                    <div class="feature-text">

                                          Launch in just<br />

                                          a few clicks

                                    </div>

                              </div>

                        </div>

                  </div>


                  <!-- DECORATIVE DOTS -->

                  <div class="dots"></div>


                  <!-- =================================
           BROWSER ILLUSTRATION
      ================================== -->

                  <div class="illustration">

                        <div class="browser-top">

                              <span class="dot"></span>
                              <span class="dot"></span>
                              <span class="dot"></span>

                        </div>


                        <div class="browser-body">

                              <div class="fake-image"></div>

                              <div class="fake-line"></div>

                              <div class="fake-line small"></div>

                        </div>

                  </div>


                  <!-- =================================
           MOBILE ILLUSTRATION
      ================================== -->

                  <div class="mobile-card">

                        <div class="mobile-notch"></div>

                        <div class="mobile-content">

                              <div class="mobile-image"></div>

                              <div class="fake-line"></div>

                              <div class="fake-line small"></div>

                        </div>

                  </div>


                  <!-- =================================
           TRUST BADGE
      ================================== -->

                  <div class="trust">


                        <div class="avatars">

                              <div class="avatar"> <img src="assets/img/client_3.webp" alt="User"
                                          class="rounded-circle border border-2 border-white"
                                          style="width: 42px; height: 42px; object-fit: cover; left: 0; z-index: 5;">
                              </div>

                              <div class="avatar"> <img src="assets/img/client_4.webp" alt="User"
                                          class="rounded-circle border border-2 border-white"
                                          style="width: 42px; height: 42px; object-fit: cover; left: 38px; z-index: 4;">
                              </div>

                              <div class="avatar"> <img src="assets/img/client_2.webp" alt="User"
                                          class="rounded-circle border border-2 border-white"
                                          style="width: 42px; height: 42px; object-fit: cover; left: 76px; z-index: 3;">
                              </div>

                              <div class="avatar"> <img src="assets/img/james.webp" alt="User"
                                          class="rounded-circle border border-2 border-white"
                                          style="width: 42px; height: 42px; object-fit: cover; left: 114px; z-index: 2;">
                              </div>

                        </div>


                        <div>

                              <div class="stars">

                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>

                              </div>

                              <div class="trusted-text">

                                    Trusted by 1000+ Businesses

                              </div>

                        </div>

                  </div>

            </section>

      </div>
</div>