.iti.iti--allow-dropdown {
      width: 100%;
}

.iti {
      display: block !important;
}


.iti__flag-container.open+input {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
}

.iti .search-container input:focus {
      outline: none;
}


.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
      right: auto;
      left: 0;
}

.iti__flag-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 1px;
}

.iti__selected-flag {
      z-index: 1;
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 6px 0 8px;
      border-right: var(--bs-border-width) solid var(--bs-border-color);
}

.ct_input_phone_number {
      padding: 0 55px;
}

.dropdown-menu.country-dropdown.show {
      font-size: 12px;
      width: 250px;
}

ul.iti__country-list {
      overflow: scroll;
      height: 147px;
      overflow-x: hidden;
}

.color-picker {
      top: 360.746px !important;
      left: 123.128px !important;
}

.color-picker .arrow.arrow-top-right,
.color-picker .arrow.arrow-right-top {
      bottom: -5px !important;
      left: 59px !important;
      transform: rotate(150deg) !important;
}

.ct_dragable_card_main_bg {
      background-color: #fff;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.0.15);
      padding: 20px 10px;
      border-radius: 10px;

}

.ct_img_logo_123 {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
}

.iti input#country-search-box {
      height: 30px;
}

::-webkit-scrollbar {
      width: 5px;
      height: 5px;
}

::-webkit-scrollbar-track {
      /* box-shadow: inset 0 0 2px grey; */
      background-color: #e6e6e6;
      border-radius: 10px;
}

::-webkit-scrollbar-thumb {
      background: var(--blue);
      border-radius: 10px;
}

.cursor-pointer {
      cursor: pointer;
}

.ant-message.ant-message-success {
      font-size: 18px; /* Adjust the font size as needed */
    }


    .ct_tab_gradient_bg{
      /* background-color: #f5f5f5; */
    box-shadow: 0px 8.22727px 52.6545px rgba(40, 95, 245, 0.08);
    background: linear-gradient(184.37deg, rgb(9 76 255 / 9%) 7.69%, rgb(9 76 255 / 10%) 51.48%, hsl(202.36deg 69.1% 54.31% / 22%) 95.27%);
    border-radius: 0px 0px 28px 28px;
    padding: 30px;
}



.ct_how_creative_work_list li {
  padding: 15px;
}
.ct_how_creative_work_list li + li{
  border-top: 1px dashed rgba(180, 195, 211, 0.52) !important
}

.ct_how_work_icon {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    /* background-color: red; */
    flex-shrink: 0;
    display: flex
;
    align-items: center;
    justify-content: center;
    background: linear-gradient(184.37deg, rgb(9 76 255 / 86%) 7.69%, rgb(9 76 255 / 79%) 51.48%, hsl(202.36deg 69.1% 54.31%) 95.27%)
}

.ct_how_work_icon h4{
  color: #fff;
  font-size: 20px;
}

.ct_how_creative_work_list li{
  display: flex;
  align-items: start;
  gap: 15px;

}

.ct_how_work_icon img{
  width: 40px;
}


.ct_testimonial_slider .owl-stage ,.ct_testimonial_slider .owl-stage .owl-item {
    display: flex
;
}

.ct_inner_banner_main_cnt:before ,.ct_inner_hero_bg:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 160px;
    border-radius: 100px;
    top: 18%;
    transform: rotate(-45deg);
    background: linear-gradient(90.18deg, hsl(239.03deg 91.13% 60.2% / 11%) 18.49%, hsl(289deg 100% 50% / 11%) 33.41%, hsl(0deg 100% 58% / 11%) 56.34%, hsl(44.88deg 100% 49.02% / 10%) 75.95%);
    left: 0;
    max-width: 350px;
    opacity: 0.5;
}


.ct_inner_banner_main_cnt:after ,.ct_inner_hero_bg:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 160px;
    border-radius: 100px;
    top: 18%;
    transform: rotate(-45deg);
    background: linear-gradient(90.18deg, hsl(239.03deg 91.13% 60.2% / 11%) 18.49%, hsl(289deg 100% 50% / 11%) 33.41%, hsl(0deg 100% 58% / 11%) 56.34%, hsl(44.88deg 100% 49.02% / 10%) 75.95%);
    right: 0;
    max-width: 350px;
     opacity: 0.5;
}


.ct_featured_logo img {
    height: 50px;
    object-fit: contain;
}
