@if(!loading){
<section class="ct_dash_board_main" style="display: block !important">
      <app-sidebar></app-sidebar>
      <div class="ct_dash_right_content pt-5"
            style="background: linear-gradient(90deg, rgb(250 218 188 / 44%), rgb(234 170 213 / 36%), rgb(220 229 244 / 69%)); height: auto; min-height: 100vh;">
            <div class="ct_dash_toggle_bar">
                  <i class="fa-solid fa-bars"></i>
            </div>
            <div class="container-fluid">
                  <app-chatbot (dataEmitter)="receiveData($event)"></app-chatbot>
                  <!-- chatbot -->
                  <div class="row ct_mt_70 ct_py_70 pt-0 mt-4">
                        <div class="d-flex align-items-center justify-content-between">
                              @if(isSuggested){
                              <h2 class="ct_fs_24 ct_fw_600 mb-3">Suggested projects based on your requirements</h2>
                              }@else {
                              <h2 class="ct_fs_24 ct_fw_600 mb-3">Build Projects</h2>
                              }
                              <div class="d-flex align-items-center gap-2 position-relative  mb-3">
                                    <input type="search" placeholder="Search Project"
                                          class="form-control ct_search_input w-100 pe-4" #SearchInput
                                          (input)="search($event)">
                                    <a (click)="clearSearch()" class="ct_filter_icon_new">
                                          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                viewBox="0 0 24 24" class="cursor-pointer mb-3">
                                                <g fill="none">
                                                      <path d="M19.5 4h-15l6 8.5V20h3v-7.5z" clip-rule="evenodd" />
                                                      <path stroke="#0d0d0d" stroke-linecap="square" stroke-width="2"
                                                            d="M19.5 4h-15l6 8.5V20h3v-7.5z" clip-rule="evenodd" />
                                                      <path stroke="#0d0d0d" stroke-linecap="square" stroke-width="2"
                                                            d="M22.122 14.879L20 17m0 0l-2.121 2.122M20 17l-2.12-2.12M20 17l2.122 2.122" />
                                                </g>
                                          </svg> -->
                                          <i class="fa-solid fa-magnifying-glass"></i>
                                    </a>
                              </div>
                        </div>
                        <div class=" col-xl-4 col-lg-6 mb-4">
                              <div class="ct_white_bg ct_ecommerse_web_card h-100">
                                    <div>
                                          <div class="d-flex align-items-center justify-content-between gap-2 mb-4">
                                                <div class="ct_ecommerse_web_icon_custom mb-0">
                                                      <img src="assets/img/c.png"
                                                            alt="AI app builder for mobile and web">
                                                </div>
                                                <div class="ct_bash_icon12" data-bs-toggle="modal"
                                                      data-bs-target="#calendlyModal">
                                                      <i class="bi bi-telephone"></i>
                                                </div>
                                          </div>
                                          <div
                                                class="d-flex align-items-center gap-2 justify-content-between flex-wrap mb-1">
                                                <p class="mb-0 ct_fw_500">START WITH A BLANK APP</p>
                                          </div>
                                          <div>
                                                <ul class="mb-5">
                                                      <li>Explore features</li>
                                                      <li>Ask your questions live</li>
                                                      <li>Understand workflow</li>
                                                      <li>Launch faster</li>
                                                </ul>
                                          </div>
                                          <!-- <div class="py-4">
                                                <button
                                                      class="ct_grey_btn d-flex align-items-center justify-content-center"
                                                      data-bs-toggle="modal" data-bs-target="#calendlyModal"><i
                                                            class="fa-solid fa-plus ct_fs_14"></i>
                                                </button>
                                          </div> -->
                                    </div>

                                    <button class="ct_schedule_call_btn w-100 justify-content-center mt-auto"
                                          data-bs-toggle="modal" data-bs-target="#calendlyModal">Book a demo</button>

                              </div>
                        </div>
                        @for (item of projectsData; track $index) {
                        @if(item.id !== 166){
                        <div class=" col-xl-4 col-lg-6 mb-4">
                              <div class="ct_white_bg ct_ecommerse_web_card h-100">
                                    <div>
                                          <div class="d-flex align-items-center justify-content-between gap-2 mb-4">
                                                <div class="ct_ecommerse_web_icon mb-0">
                                                      <img [src]="imageURL+ item.projectImage"
                                                            alt="AI app builder for mobile and web">
                                                </div>
                                                <div class="ct_bash_icon12" data-bs-toggle="modal"
                                                      data-bs-target="#calendlyModal">
                                                      <i class="bi bi-telephone"></i>
                                                </div>
                                          </div>
                                          <div
                                                class="d-flex align-items-center gap-2 justify-content-between flex-wrap mb-1">
                                                <p class="mb-0 ct_fw_500">BUILD AN APP LIKE</p>
                                                <p class="mb-0 ct_fs_14 ct_fw_500"><span
                                                            class="ct_fw_700 ct_dark_blue_text">Features:</span>
                                                      {{item.subFeaturesCount}}
                                                </p>
                                          </div>
                                          <p class="mb-0 ct_fw_700 mb-3">{{item.projectName}}</p>
                                          <ul class="mb-5">
                                                @for (menu of item.contain; track $index) {
                                                <li>{{menu}}</li>
                                                }
                                          </ul>
                                    </div>

                                    <button class="ct_schedule_call_btn w-100 justify-content-center mt-auto"
                                          (click)="navigateTool(item.id)">Build Project</button>

                              </div>
                        </div>
                        }
                        }
                        <div #anchor></div>
                  </div>
            </div>
      </div>
</section>

<!-- Mobile page section S -->
<section class="ct_mobile_section_main" style="display: none !important">
      <div class="ct_mobile_header_main_bg">
            <img loading="lazy" src="assets/img/cti_black_logo.svg" alt="AI app builder for mobile and web">
      </div>
      <div class="container">
            <div class="row">
                  <div class="col-md-12">

                        <div class="mt-4">
                              <h3 class="ct_fs_24 text-center ct_fw_700">Why it's worth heading to a desktop now</h3>
                              <p class="text-center">Our mobile site isn't the best place to order your app…yet.</p>

                              <div class="ct_grey_bg p-4 mt-3">
                                    <h6 class="ct_fs_16 ct_fw_700 mb-4">Go to your desktop now and Vaanya, our AI can:
                                    </h6>
                                    <ul class="ct_list_style_dics">
                                          <li>Guide you to find all the app features you need</li>
                                          <li>Help you Start designing - get a feel of what your app could look like
                                          </li>
                                          <li>Give you a guaranteed price and accurate timeline</li>
                                    </ul>
                              </div>
                              <p class="mb-0 mt-3 text-center">Want to give it a try? Grab a bigger screen and let's
                                    bring
                                    your app to
                                    life!</p>

                              <div class="mt-5">
                                    <a href="index.html" class="ct_blue_btn_fill w-100">Return to Creative AI</a>
                              </div>
                        </div>

                  </div>

            </div>

      </div>
</section>
<!-- Mobile page section E -->

}

<!-- Shedule Call Modal S -->
<div class="modal fade  modal-xl" id="ct_schedule_call_modal" tabindex="-1"
      aria-labelledby="ct_schedule_call_modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                  <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body border-0">
                        <div class="ct_schedule_card_modal_cnt">
                              <div class="row align-items-center">
                                    <div class="col-lg-7 mb-4 mb-lg-0">
                                          <div class="ct_schedule_card_cnt">
                                                <div class="d-flex align-items-center gap-3 mb-4">
                                                      <img loading="lazy" src="assets/img/flipcart.png"
                                                            alt="AI app builder for mobile and web" width="80px">
                                                      <div>
                                                            <p class="mb-0 ct_fw_500 ct_fs_16">BUILD AN APP LIKE</p>
                                                            <h4 class="ct_fs_24 ct_fw_700 mb-0">Flipkart</h4>
                                                      </div>
                                                </div>
                                                <p class="mb-3"><span
                                                            class="ct_fw_700 ct_dark_blue_text">Features:</span> 51
                                                </p>
                                                <p class="ct_fs_14">Here’s a list of the features you might need for an
                                                      app like
                                                      Amazon. These
                                                      features are just a starting point. You can always add any that
                                                      are missing or
                                                      remove any you don’t need later on.</p>

                                                <div class="ct_help_uper_cnt mt-4">
                                                      <h6
                                                            class="d-flex align-items-center gap-2 mb-0 ct_link_green ct_link_blue ct_width_fit_content pb-2 ct_fs_16">
                                                            Journeys<i
                                                                  class="bi bi-exclamation-circle ct_grey_text"></i>
                                                      </h6>

                                                      <P class="mb-0 pt-4 ct_border_bottom_1 pb-2">FEATURES</P>

                                                      <div class="mt-5">
                                                            <h6 class="ct_fs_16 ct_fw_700 mb-4">Help users sign up &
                                                                  login</h6>
                                                            <table class="table table-striped">
                                                                  <tr>
                                                                        <td>Splash Screen</td>
                                                                  </tr>
                                                                  <tr>
                                                                        <td>Landing Page</td>
                                                                  </tr>
                                                                  <tr>
                                                                        <td>Signup/Login</td>
                                                                  </tr>
                                                                  <tr>
                                                                        <td>Terms And Conditions</td>
                                                                  </tr>
                                                                  <tr>
                                                                        <td>Phone Login</td>
                                                                  </tr>
                                                                  <tr>
                                                                        <td>Phone Verification</td>
                                                                  </tr>
                                                                  <tr>
                                                                        <td>Google Login</td>
                                                                  </tr>
                                                                  <tr>
                                                                        <td>Apple Login</td>
                                                                  </tr>
                                                                  <tr>
                                                                        <td>Facebook Login</td>
                                                                  </tr>
                                                            </table>
                                                      </div>
                                                </div>

                                          </div>

                                    </div>
                                    <div class="col-lg-5 mb-4 mb-lg-0">
                                          <div class="ct_shopping_card_234">
                                                <img loading="lazy" src="assets/img/shopping_card_img_12.png"
                                                      alt="AI app builder for mobile and web">
                                          </div>
                                          <button
                                                class="ct_schedule_call_btn w-100 justify-content-center mt-5">Schedule
                                                a call
                                                <i class="bi bi-telephone"></i></button>
                                    </div>

                              </div>

                        </div>
                  </div>

            </div>
      </div>
</div>
<!-- Shedule Call Modal E -->



<!-- Refrsh page modal E -->

<div class="modal fade modal-xl" id="calendlyModal" tabindex="-1" aria-labelledby="calendlyModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title" id="calendlyModalLabel">Schedule a Call</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <div appCalendlyWidget [calendlyUrl]="'https://calendly.com/creativethoughts/30min'"
                              style="min-width:320px; height:630px;">
                        </div>
                  </div>
            </div>
      </div>
</div>




<app-subcription-page [subscriptionModalOpen]="showModal" (close)="closeModal()"></app-subcription-page>

@if(loading){
<app-bd-loader></app-bd-loader>
}