<div class="ct_header_main">
  <app-header />
</div>

<section class="ct_pt_50 ct_pb_50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        @if (blogData) {

          <div class="ct_blog_dtl_box ct_blog_sticky">
            <div class="ct_blog_dtl_img">
              <img [src]="imageUrl + blogData.banner_image" alt="assets/img/related_img_1.png" />
            </div>
            <h6>{{blogData.post_date}}</h6>
            <h4 class="text-naviblue">
              {{blogData.title}}
            </h4>
            <p>
            {{blogData.description}}
            </p>
          
            <div class="ct_blog_dlt_text_ui" [innerHTML]="blogData.text_editor">
              </div>
             
          </div>
        }
      </div>
    </div>
  </div>
</section>
<app-footer />