.ct_blog_dtl_box {
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #00000029;
border: 1px solid #FFFFFF;
}

.ct_blog_dtl_img {
    overflow: hidden;
}

.ct_blog_dtl_img img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    transition: .4s 
    
ease all;
background-color: #f2f2f2;
    border-radius: 5px;
}

.ct_blog_dtl_box h6 {
    font-size: 16px;
}

.ct_blog_dtl_box h4 {
    font-size: 25px;
    font-weight: 600;
}


.ct_blog_breadcrumb{
    display: flex;
    align-items: center;
    gap: 2px;
}
.ct_blog_breadcrumb li{
    color: #6F6C8F;
    font-size: 16px;
    font-weight: 500;
}
.ct_blog_breadcrumb li:last-child{
    color: #3D40F6;
}

.ct_fs_50{
    font-size: 50px;
}

.ct_text_clr_6F6C8F{
    color: #6F6C8F;
}


.dev-recent-blogs{
    padding:25px 30px;
box-shadow: 0px 0px 4px 0px #00000029;
border: 1px solid #fff;
}

.dev-blog-heading{
    font-size:18px;
    font-weight:700;
    color:#111;
    margin-bottom:15px;
}

.dev-blog-item{
    margin-bottom:25px;
}

.dev-blog-item:last-child{
    margin-bottom:0;
}

.dev-blog-title{
    font-size:16px;
    font-weight:400;
    line-height:1.35;
    color:#000000;
    margin-bottom:5px;
}

.dev-blog-date{
    display:block;
    font-size:16px;
    color:#6F6C8F;
    font-weight:400;
}



.dev-ai-card{
    border-radius:10px;
    overflow:hidden;
    border: 1px solid #fff;
    box-shadow: 0px 0px 4px 0px #00000029;
    
    margin-top: 40px;
}

.dev-ai-card-image{
    width:100%;
    height:260px;
}

.dev-ai-card-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    border-radius: 10px;
}

.dev-ai-card-content{
    padding:24px;
}

.dev-ai-card-title{
    font-size:22px;
    line-height:1.2;
    font-weight:700;
    color:#000;
    margin-bottom:15px;
}

.dev-ai-card-desc{
    font-size:16px;
    line-height:1.35;
    color:#76739c;
    margin-bottom:28px;
}

.dev-ai-card-btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    min-height:52px;
    padding:0 22px;
    background:#4c4cff;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    font-size:18px;
    font-weight:500;
    transition:.3s ease;
}

.dev-ai-card-btn:hover{
    background:#3737f7;
    color:#fff;
}

.ct_custom_sticky_blg{
    position: sticky;
    top: 0px;

}