<!-- Footer Section S -->
<footer>
      <div class="container">
            <div class="row">
                  <div class="col-md-6 mb-4">
                        <div class="ct_footer_logo ct_mb_34">
                              <a routerLink="/">
                                    <img src="assets/img/cti_black_logo1.png" alt="AI-powered app and web development">
                              </a>
                        </div>
                        <p class="mb-0  text-white">Technology that adapts to the way you <br> grow your
                              business
                        </p>
                        <div class="ct_footer_social_links ct_mt_34">
                              <ul>
                                    <li>
                                          <a href="https://x.com/home" target="_blank" aria-label="Creative AI on X"><i
                                                      class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                    <li>
                                          <a href="https://www.facebook.com/CTInformatics/" target="_blank"
                                                aria-label="Creative AI on Facebook"><i
                                                      class="fa-brands fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                          <a href="https://www.instagram.com/creative_ai_app?igsh=anptZjB4NGdvYXM3"
                                                target="_blank" aria-label="Creative AI on Instagram"><i
                                                      class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                          <a href="https://www.linkedin.com/company/creativethoughtsai/?viewAsMember=true"
                                                target="_blank" aria-label="Creative AI on LinkedIn"><i
                                                      class="fa-brands fa-linkedin-in"></i></a>
                                    </li>
                              </ul>

                        </div>

                        <div class="ct_footer_brand_icon">
                              <div class="ct_footer_brand_img">
                                    <img src="assets/img/achievement_1.png" alt="AI app builder for mobile and web">
                              </div>
                              <div class="ct_footer_brand_img">
                                    <img src="assets/img/achievement_2.png" alt="AI app builder for mobile and web">
                              </div>
                              <div class="ct_footer_brand_img">
                                    <img src="assets/img/achievement_3.png" alt="AI app builder for mobile and web">
                              </div>
                              <div class="ct_footer_brand_img">
                                    <img src="assets/img/achievement_4.png" alt="AI app builder for mobile and web">
                              </div>
                              <div class="ct_footer_brand_img">
                                    <img src="assets/img/achievement_5.png" alt="AI app builder for mobile and web">
                              </div>
                        </div>
                  </div>
                  <div class="col-md-6 mb-4">
                        <div class="ct_footer_links">
                              <h2 class="ct_fs_20 ct_fw_600 text-white">Reach Us</h2>
                              <ul>
                                    <li><a routerLink="/contact">Contact Us</a></li>
                              </ul>
                        </div>
                  </div>

            </div>

            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_footer_bottom_ftr">
                              <p class="mb-0 text-white  ct_fw_500 text-center ">&#64; 2025
                                    Copyrights by Creative Thoughts Informatics Services Pvt Ltd. All Rights Reserverd
                              </p>
                        </div>
                  </div>
            </div>
      </div>
</footer>
<!-- Footer Section E -->