<!-- Footer Section S -->
<footer>
      <div class="container">
            <div class="row">
                  <div class="col-md-4 mb-4">
                        <div class="ct_footer_logo ct_mb_34">
                              <a routerLink="/">
                                    <img src="assets/img/cti_black_logo1.png" alt="AI-powered app and web development">
                              </a>
                        </div>
                        <p class="mb-0  text-white">Technology that adapts to the way you <br> grow your
                              business
                        </p>
                        <div class="ct_footer_social_links ct_mt_34">
                              <ul>
                                    <li>
                                          <a href="https://x.com/home" target="_blank"><i
                                                      class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                    <li>
                                          <a href="https://www.facebook.com/CTInformatics/" target="_blank"><i
                                                      class="fa-brands fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                          <a href="https://www.instagram.com/creativethoughts.ai/?next=%2F"
                                                target="_blank"><i class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                          <a href="https://www.linkedin.com/company/creativethoughtsai/?viewAsMember=true"
                                                target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </li>
                              </ul>

                        </div>
                  </div>
                  <div class="col-md-2  mb-4">
                        <div class="ct_footer_links">
                              <h2 class="ct_fs_20 ct_fw_600 text-white">Products</h2>
                              <ul>
                                    <li><a routerLink="/creative-studio">Creative Studio</a></li>
                                    <li><a routerLink="/creative-store">Creative Store</a></li>
                                    <li><a routerLink="/creative-now">Creative Now</a></li>
                              </ul>

                        </div>
                  </div>
                  <div class="col-md-2  mb-4">
                        <div class="ct_footer_links">
                              <h2 class="ct_fs_20 ct_fw_600 text-white">Industries</h2>
                              <ul>
                                    <li><a routerLink="/retail-ecommerce">Retail & Ecommerce</a></li>
                                    <li><a routerLink="/financial-services">Financial Services</a></li>
                                    <li><a routerLink="/health-care">Healthcare</a></li>
                                    <li><a routerLink="/manufacturing">Manufacturing</a></li>
                                    <li><a routerLink="/entertainment">Entertainment</a></li>
                                    <li><a routerLink="/education">Education</a></li>
                                    <li><a routerLink="/telecom">Telecom</a></li>
                                    <li><a routerLink="/energy">Energy</a></li>
                              </ul>

                        </div>
                  </div>
                  <div class="col-md-2  mb-4">
                        <div class="ct_footer_links">
                              <h2 class="ct_fs_20 ct_fw_600 text-white">Company</h2>
                              <ul>
                                    <li><a routerLink="/our-story">About Us</a></li>
                                    <li><a routerLink="/our-projects"> Our Projects</a></li>
                                    <li><a href="/careers">Careers</a></li>
                                    <li><a routerLink="/case-studies">Case Studies </a></li>
                                    <li><a routerLink="/FAQs">FAQs</a></li>
                              </ul>

                        </div>
                  </div>
                  <div class="col-md-2  mb-4">
                        <div class="ct_footer_links">
                              <h2 class="ct_fs_20 ct_fw_600 text-white">Reach Us</h2>
                              <ul>
                                    <li><a routerLink="/blog">Blog</a></li>
                                    <!--  <li><a>Newsroom</a></li> -->
                                    <li><a routerLink="/free-demo">Contact Us</a></li>
                                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                                    <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                              </ul>

                        </div>
                  </div>

            </div>
        
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_footer_bottom_ftr">
                              <p class="mb-0 text-white  ct_fw_500 text-center ">&#64; 2023
                                    Copyrights by
                                    Creative thoughts ai. All
                                    Rights Reserved
                              </p>

                        </div>

                  </div>

            </div>
      </div>
</footer>
<!-- Footer Section E -->