<!-- Footer Section S -->
<footer>
      <div class="container">
            <div class="row">
                  <div class="col-md-4 mb-4">
                        <div class="ct_footer_logo ct_mb_34">
                              <a routerLink="/">
                                    <img src="assets/img/cti_white_logo.svg" alt="AI-powered app and web development">
                              </a>
                        </div>
                        <p class="mb-0 ct_fs_14 text-white">Technology that adapts to the way you <br> grow your
                              business
                        </p>
                        <div class="ct_footer_social_links ct_mt_34">
                              <ul>
                                    <li>
                                          <a><i class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                    <li>
                                          <a><i class="fa-brands fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                          <a><i class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                          <a><i class="fa-brands fa-linkedin-in"></i></a>
                                    </li>
                              </ul>

                        </div>
                  </div>
                  <div class="col-md-2  mb-4">
                        <div class="ct_footer_links">
                              <h4 class="ct_fs_14 ct_fw_700 text-white">PRODUCTS</h4>
                              <ul>
                                    <li><a>Creative App</a></li>
                                    <li><a>Creative Website</a></li>
                              </ul>

                        </div>
                  </div>
                  <div class="col-md-2  mb-4">
                        <div class="ct_footer_links">
                              <h4 class="ct_fs_14 ct_fw_700 text-white">RESOURCES</h4>
                              <ul>
                                    <li><a>App Creative</a></li>
                                    <li><a>Ecommerce</a></li>
                                    <li><a>Web to App</a></li>
                                    <li><a>Business Tools</a></li>
                                    <li><a>Glossary </a></li>
                                    <li><a>DevOps</a></li>
                              </ul>

                        </div>
                  </div>
                  <div class="col-md-2  mb-4">
                        <div class="ct_footer_links">
                              <h4 class="ct_fs_14 ct_fw_700 text-white">COMPANY</h4>
                              <ul>
                                    <li><a>About Us</a></li>
                                    <li><a href="careers.html">Careers</a></li>
                                    <li><a>Partners</a></li>
                                    <li><a routerLink="/FAQs">FAQs</a></li>
                                    <li><a href="case-studies.html">Case Studies </a></li>
                              </ul>

                        </div>
                  </div>
                  <div class="col-md-2  mb-4">
                        <div class="ct_footer_links">
                              <h4 class="ct_fs_14 ct_fw_700 text-white">REACH US</h4>
                              <ul>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a>Newsroom</a></li>
                                    <li><a routerLink="/free-demo">Contact Us</a></li>
                                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                                    <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                              </ul>

                        </div>
                  </div>

            </div>
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_footer_brand_icon">
                              <div class="ct_footer_brand_img">
                                    <img src="assets/img/achievement_1.png" alt="AI-powered app and web development">
                              </div>
                              <div class="ct_footer_brand_img">
                                    <img src="assets/img/achievement_2.png" alt="AI-powered app and web development">
                              </div>
                              <div class="ct_footer_brand_img">
                                    <img src="assets/img/achievement_3.png" alt="AI-powered app and web development">
                              </div>
                              <div class="ct_footer_brand_img">
                                    <img src="assets/img/achievement_4.png" alt="AI-powered app and web development">
                              </div>
                              <div class="ct_footer_brand_img">
                                    <img src="assets/img/achievement_5.png" alt="AI-powered app and web development">
                              </div>
                        </div>

                  </div>

            </div>
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_footer_bottom_ftr">
                              <p class="mb-0 text-white ct_fs_14 ct_fw_700 text-center ct_text_op_7">&#64; 2023
                                    Copyrights by
                                    Creative thoughts ai. All
                                    Rights Reserved
                              </p>

                        </div>

                  </div>

            </div>
      </div>
</footer>
<!-- Footer Section E -->