<div class="ct_hero_banner">
      <app-header />
      <!-- Inner Hero Content S -->
      <div class="ct_px_80 ct_py_70 ct_inner_banner_main_cnt">
            <div class="container-fluid">
                  <div class="row align-items-center">
                        <div class="col-lg-6 mb-4 mb-lg-0">
                              <div class="ct_hero_banner_left_cnt">
                                    <h1 class="ct_fs_44 ct_fw_700">Digital Solutions Built for <br> Growing SMBs.
                                    </h1>
                                    <h3 class="ct_fs_24 ct_fw_500">"Innovate Smart, Scale Fast, Stay Lean."</h3>
                                    <ul>
                                          <li class="justify-content-start">
                                                <i class="bi bi-check2-circle"></i>Affordable & Rapid Development: Get
                                                custom solutions without breaking the bank or waiting months.

                                          </li>
                                          <li class="justify-content-start"><i class="bi bi-check2-circle"></i>Streamlined Operations: Automate tasks
                                                to free up your team for core business activities.
                                          </li>
                                          <li class="justify-content-start"><i class="bi bi-check2-circle"></i>Enhanced Customer Engagement: Deliver
                                                modern experiences that attract and retain your clients.
                                          </li>
                                    </ul>
                                    <div class="ct_btn_group">
                                          <a routerLink="/free-demo" class="ct_blue_btn_fill">Get Your Free Quote</a>
                                          <a routerLink="/pricing" class="ct_blue_outline_btn">See SMB Success
                                                Stories</a>
                                    </div>
                                   
                              </div>

                        </div>
                        <div class="col-lg-6 mb-4 mb-lg-0">
                              <div class="ct_hero_right_main">
                                    <div class="position-relative">
                                          <img loading="lazy" src="assets/img/hero_right_img_main.png"
                                                alt="AI app builder for mobile and web" class="ct_img_w_80">
                                          <div class="ct_overlay_images">
                                                <img loading="lazy" src="assets/img/hero_right_left_btm_img.png"
                                                      alt="AI app builder for mobile and web">
                                                <img loading="lazy" src="assets/img/hero_right_right_top_img.png"
                                                      alt="AI app builder for mobile and web">

                                          </div>
                                    </div>
                                    <div class="ct_hero_img_back_shape">
                                          <img loading="lazy" src="assets/img/hero_banner_right_shape.png"
                                                alt="AI app builder for mobile and web">
                                    </div>

                              </div>
                        </div>

                  </div>

            </div>
      </div>
      <!-- Inner Hero Content E -->
</div>


<hr class="ct_break_line">
<!-- Flexible Service Section S -->
<section class="ct_flexible_srvc_bg ct_pt_50 ct_pb_50">
      <div class="container">
            <div class="row">
                  <div class="col-md-12" >
                        <h1 class="ct_fs_44 ct_fw_700 text-center">Unlocking the Potential of Intelligent <br> <span
                                    class="ct_orange_gredient_text">Mobile Platforms</span></h1>
                  </div>
            </div>
            <div class="row align-items-center pt-4">
                  <div class="col-md-5 mb-5 mb-md-0">
                        <div class="ct_flexible_serivce_cnt">
                              <h4 class="mb-2 ct_fs_26 ct_fw_700">Engineering Smart Mobile 
                                    Solutions That Resonate</h4>
                              <p class="ct_fs_16 ct_fw_400 mb-3 ct_line_h_25">Go beyond standard apps. We specialize in
                                    building intelligent mobile platforms designed to deeply connect with your users,
                                    learn from their interactions, and drive significant growth for your business.
                                    Partner with our expert team to architect your mobile future</p>
                              <a routerLink="/login" class="ct_link_arrow ct_link_blue ct_link_green ct_w_fit_content ct_fw_700">Explore Our
                                    Mobile Platform
                                    Expertise <i class="fa-solid fa-arrow-right ms-2"></i></a>
                        </div>

                  </div>
                  <div class="col-md-6 mb-5 mb-md-0 offset-md-1">
                        <div class="ct_flexible_srvc_img">
                              <img loading="lazy" src="assets/img/mobile_app_mock.png" alt="AI app builder for mobile and web">
                              <img loading="lazy" src="assets/img/right_arrow_shape.png" alt="AI app builder for mobile and web">

                        </div>
                  </div>
            </div>
            <div class="row align-items-center pt-5 ct_row_reverse_767">
                  <div class="col-md-6 mb-5 mb-md-0 ">
                        <div class="ct_flexible_srvc_img ct_flexible_srvc_img_left_shape">
                              <img loading="lazy" src="assets/img/laptop.png" alt="AI app builder for mobile and web">
                              <img loading="lazy" src="assets/img/left_arrow_shape.png" alt="AI app builder for mobile and web">

                        </div>
                  </div>
                  <div class="col-md-5 mb-5 mb-md-0 offset-md-1">
                        <div class="ct_flexible_serivce_cnt">
                              <h4 class="mb-2 ct_fs_26 ct_fw_700">Launch
                                    Powerful Mobile Web Experiences</h4>
                              <p class="ct_fs_16 ct_fw_400 mb-3 ct_line_h_25">Envision seamless mobile web solutions
                                    that captivate your audience across all devices. Our expert team transforms your
                                    concepts into high-performing realities, guiding you from initial idea to successful
                                    deployment</p>
                              <a routerLink="/login" class="ct_link_arrow ct_link_blue ct_link_green ct_w_fit_content ct_fw_700">Discover
                                    Our Mobile Web
                                    Expertise <i class="fa-solid fa-arrow-right ms-2"></i></a>
                        </div>

                  </div>

            </div>

      </div>
</section>
<!-- Flexible Service Section E -->

<hr class="ct_break_line">
<!-- How it works section S -->
<section class="ct_how_works_bg ct_mt_50">
      <div class="container">
            <div class="row">
                  <div class="col-md-12" >
                        <h1 class="ct_fs_44 ct_fw_700 text-center">Here's how it <span
                                    class="ct_orange_gredient_text">works</span></h1>
                  </div>
            </div>
            <div class="row mt-4 align-items-center">
                  <div class="col-md-6 mb-4 mb-md-0">

        <div class="ct_how_creative_work_list">
          <ul>
            <li>
              <div class="ct_how_work_icon">
                <img src="assets/img/ai-assistant.gif" alt="">
              </div>
                <div>
                  <h5 class="ct_fw_18 ct_fw_600 mb-2"> Initiate Your Project with Our AI Assistant</h5>
                  <p class="mb-0 ct_fw_400">  Tell us about your app or web development idea through our
                    intelligent AI assistant. Get instant insights and
                    preliminary guidance to kickstart your project</p>
                </div>
            </li>
             <li>
                <div class="ct_how_work_icon">
               <img src="assets/img/programmer.gif" alt="">
              </div>
                <div>
                  <h5 class="ct_fw_18 ct_fw_600 mb-2"> Discuss Your Vision with Our Development Experts</h5>
                  <p class="mb-0 ct_fw_400"> Connect directly with our experienced developers to discuss
                    your specific requirements, technical details, and project
                    goals.</p>
                </div>
            </li>
             <li>
                <div class="ct_how_work_icon">
                <img src="assets/img/artificial-intelligence.gif" alt="">
              </div>
                <div>
                  <h5 class="ct_fw_18 ct_fw_600 mb-2"> Smart AI Constructs Your Core Features</h5>
                  <p class="mb-0 ct_fw_400">   Our advanced AI algorithms intelligently assemble the
                    fundamental building blocks of your application or website,
                    ensuring efficiency and accuracy</p>
                </div>
            </li>
             <li>
                <div class="ct_how_work_icon">
                  <img src="assets/img/badge.gif" alt="">
              </div>
                <div>
                  <h5 class="ct_fw_18 ct_fw_600 mb-2"> Human Expertise Tailors and Refines Your Solution</h5>
                  <p class="mb-0 ct_fw_400">  Our skilled specialists meticulously customize and refine
                    every aspect of your platform, ensuring a perfect fit for
                    your unique needs and brand identity</p>
                </div>
            </li>
              <li>
                  <div class="ct_how_work_icon">
               <img src="assets/img/startup.gif" alt="">
              </div>
                <div>
                  <h5 class="ct_fw_18 ct_fw_600 mb-2"> Your Innovative Digital Solution is Ready for Launch</h5>
                  <p class="mb-0 ct_fw_400">Your fully developed and rigorously tested app or website is
                    ready to be deployed, empowering your business and engaging
                    your audience</p>
                </div>
            </li>
          </ul>
        </div>
       
      </div>
                  <div class="col-md-5 mb-4 mb-md-0 offset-md-1">
                        <div class="ct_how_works_img">
                              <img loading="lazy" src="assets/img/how-works_right.png" alt="AI app builder for mobile and web">
                              <img loading="lazy" src="assets/img/circle_git_123.gif" alt="AI app builder for mobile and web">

                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- How it works section E -->
<!-- free demo Section S -->
<section class="ct_py_70">
      <div class="container">
            <div class="col-md-12" >
                  <div class="ct_free_demo_bg">
                        <h3 class="ct_fs_20  text-white text-center mb-2 ct_fw_600">Struggling to Choose?
                        </h3>
                        <h2 class="ct_fs_38 text-center text-white ct_fw_700 mb-2">Discover Your Ideal Development Plan in Minutes
                        </h2>
                        <p class="ct_fs_17 mb-0 text-center text-white">Quick & Easy Assessment</p>
                        <div class="text-center mt-4">
                              <a routerLink="/free-demo" class="ct_blue_btn_fill ct_white_btn">Find My Perfect Plan</a>
                        </div>
                  </div>
            </div>

      </div>
</section>
<!-- free demo Section S -->

<!-- Flexible Service Section 2 S -->
<section class="ct_flexible_srvc_bg ct_flexible_srvc_bg2 ct_py_70 pt-0">
      <div class="container">

            <div class="row align-items-center pt-5">
                  <div class="col-md-6 mb-5 mb-md-0">
                        <div class="ct_flexible_serivce_cnt">
                              <h4 class="mb-2 ct_fs_26 ct_fw_700">Effortless App Creation. No Coding Expertise Needed
                              </h4>
                              <p class="ct_fs_16 ct_fw_400 mb-3 ct_line_h_25">Imagine creating a sophisticated app with
                                    the speed of an intuitive platform and the robust functionality of expert
                                    development – all without needing to write any code. At Creative Thoughts AI, we
                                    provide the tools and expertise to bring your app vision to life, focusing on
                                    simplicity and power.</p>
                              <a routerLink="/login" class="ct_link_green ct_link_blue ct_fs_16  ct_fw_400">Start Building Your
                                    App</a>
                        </div>

                  </div>
                  <div class="col-md-5 mb-5 mb-md-0 offset-md-1">
                        <div class="ct_flexible_srvc_img">
                              <img loading="lazy" src="assets/img/pc_mock_1.png" alt="AI app builder for mobile and web">
                        </div>
                  </div>
            </div>
            <div class="row align-items-center pt-5 ct_row_reverse_767">
                  <div class="col-md-5 mb-5 mb-md-0 ">
                        <div class="ct_flexible_srvc_img ct_flexible_srvc_img_left_shape">
                              <img loading="lazy" src="assets/img/pc_mock_2.png" alt="AI app builder for mobile and web">
                        </div>
                  </div>
                  <div class="col-md-6 mb-5 mb-md-0 offset-md-1">
                        <div class="ct_flexible_serivce_cnt">
                              <h4 class="mb-2 ct_fw_700 ct_fs_26">Supercharge Your Development with the Power of AI</h4>
                              <p class="ct_fs_16 ct_fw_400 mb-3 ct_line_h_25">Experience unprecedented speed and
                                    efficiency in your project development. Our intelligent AI analyzes your
                                    requirements and assembles core features, freeing up our experts to focus on
                                    crafting unique functionalities tailored precisely to your business needs. Benefit
                                    from transparent, fixed costs and predictable timelines, powered by AI precision.
                              </p>
                              <a routerLink="/login" class="ct_link_green ct_link_blue ct_fs_16  ct_fw_400">Unlock the AI
                                    Advantage</a>
                        </div>

                  </div>

            </div>
            <div class="row align-items-center pt-5">
                  <div class="col-md-6 mb-5 mb-md-0">
                        <div class="ct_flexible_serivce_cnt">
                              <h4 class="mb-2 ct_fs_26 ct_fw_700">Your Vision, Our Priority: Success from Day One
                              </h4>
                              <p class="ct_fs_16 ct_fw_400 mb-3 ct_line_h_25">From the moment you partner with Creative
                                    Thoughts AI, your dedicated product expert – we call them Innovation Architects – is
                                    committed to bringing your app vision to life, exactly as you imagined it. Enjoy
                                    weekly progress meetings and seamless communication through your integrated project
                                    hub, ensuring a collaborative and successful journey from concept to final product.
                              </p>
                              <a routerLink="/dedicated-customers" class="ct_link_green ct_link_blue ct_fs_16  ct_fw_400">Discover Our Commitment to Your Success</a>
                        </div>

                  </div>
                  <div class="col-md-5 mb-5 mb-md-0 offset-md-1">
                        <div class="ct_flexible_srvc_img">
                              <img loading="lazy" src="assets/img/pc_mock_3.png" alt="AI app builder for mobile and web">
                        </div>
                  </div>
            </div>

      </div>
</section>
<!-- Flexible Service 2 Section E -->

<!-- Featured Section S -->

<section class="ct_featured_logo_bg pt-4 ct_mb_50 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <!-- <p class="ct_fs_16 ct_fw_300 mb-2 text-center">As featured in</p> -->
        <h2  class="ct_fs_44 ct_fw_700 text-center"> As featured in</h2>
        <div class="owl-carousel owl-theme ct_featured_slider pt-4">
        
          <div class="item">
            <div class="ct_featured_logo">
              <img
                loading="lazy"
                src="assets/img/brand_logo_2.png"
                alt="AI-powered app and web development"
              />
            </div>
          </div>
            <div class="item">
            <div class="ct_featured_logo">
              <img
                loading="lazy"
                src="assets/img/brand_logo_1.png"
                alt="AI-powered app and web development"
              />
            </div>
          </div>
          <div class="item">
            <div class="ct_featured_logo">
              <img
                loading="lazy"
                src="assets/img/brand_logo_3.png"
                alt="AI-powered app and web development"
              />
            </div>
          </div>
          <div class="item">
            <div class="ct_featured_logo">
              <img
                loading="lazy"
                src="assets/img/brand_logo_4.png"
                alt="AI-powered app and web development"
              />
            </div>
          </div>
          <div class="item">
            <div class="ct_featured_logo">
              <img
                loading="lazy"
                src="assets/img/brand_logo_5.png"
                alt="AI-powered app and web development"
              />
            </div>
          </div>
          <div class="item">
            <div class="ct_featured_logo">
              <img
                loading="lazy"
                src="assets/img/brand_logo_6.png"
                alt="AI-powered app and web development"
              />
            </div>
          </div>
            <div class="item">
            <div class="ct_featured_logo">
              <img
                loading="lazy"
                src="assets/img/brand_logo_7.png"
                alt="AI-powered app and web development"
              />
            </div>
          </div>
           <div class="item">
            <div class="ct_featured_logo">
              <img
                loading="lazy"
                src="assets/img/brand_logo_8.png"
                alt="AI-powered app and web development"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="ct_break_line">

<!-- Featured Section E-->

<!-- Types Of Mobile App Section S -->
<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-12" >
                        <h1 class="ct_fs_44 ct_fw_700 mb-3 text-center"> Dream Big, Build Any Mobile App with
                              <br>
                              <span class="ct_orange_gredient_text">Creative Thoughts AI</span>?
                        </h1>
                        <p class="text-center ct_fs_16">Unleash your creativity! At Creative Thoughts AI, your vision
                              for any type of mobile application – fully customized and packed with features – can
                              become a reality. We provide the expertise and technology to build the app you need. Here
                              are some popular categories we specialize in:
                        </p>
                  </div>
            </div>
            <div class="row mt-5">
                  <div class="col-md-6 mb-4">
                        <div class="ct_types_app_card">
                              <div class="ct_app_types_img">
                                    <img loading="lazy" src="assets/img/app_1.png" alt="AI app builder for mobile and web">
                              </div>
                              <div class="ct_app_types_cnt">
                                    <h4 class="ct_fs_22 ct_fw_700 mb-2">Education</h4>
                                    <p class="ct_fs_14">Transform learning experiences with engaging and interactive
                                          mobile apps. From e-learning platforms to skill development tools, we build
                                          solutions that empower educators and inspire learners.</p>
                                    <div class="mt-4">
                                          <a class="ct_blue_outline_btn ct_white_outline_border w-100 text-center">Explore
                                                Education App Development</a>
                                    </div>
                              </div>
                        </div>

                  </div>
                  <div class="col-md-6 mb-4">
                        <div class="ct_types_app_card">
                              <div class="ct_app_types_img">
                                    <img loading="lazy" src="assets/img/app_2.png" alt="AI app builder for mobile and web">
                              </div>
                              <div class="ct_app_types_cnt">
                                    <h4 class="ct_fs_22 ct_fw_700 mb-2">Lifestyle</h4>
                                    <p class="ct_fs_14">Enhance daily living with innovative mobile apps for various
                                          interests. Whether it's fitness trackers, social networking platforms, or
                                          hobby-focused apps, we create solutions that connect and enrich user
                                          experiences..</p>
                                    <div class="mt-4">
                                          <a class="ct_blue_outline_btn ct_white_outline_border w-100 text-center">Discover
                                                Lifestyle App Solutions</a>
                                    </div>
                              </div>
                        </div>

                  </div>

                  <div class="col-md-6 mb-4">
                        <div class="ct_types_app_card">
                              <div class="ct_app_types_img">
                                    <img loading="lazy" src="assets/img/app_3.png" alt="AI app builder for mobile and web">
                              </div>
                              <div class="ct_app_types_cnt">
                                    <h4 class="ct_fs_22 ct_fw_700 mb-2">Healthcare</h4>
                                    <p class="ct_fs_14">Develop innovative mobile healthcare solutions that improve
                                          patient care, streamline workflows, and enhance access to medical services.
                                          From appointment scheduling to remote monitoring apps, we build impactful
                                          tools for the healthcare industry.</p>
                                    <div class="mt-4">
                                          <a class="ct_blue_outline_btn ct_white_outline_border w-100 text-center">Explore
                                                Healthcare App Development</a>
                                    </div>
                              </div>
                        </div>

                  </div>

                  <div class="col-md-6 mb-4">
                        <div class="ct_types_app_card">
                              <div class="ct_app_types_img">
                                    <img loading="lazy" src="assets/img/app_1.png" alt="AI app builder for mobile and web">
                              </div>
                              <div class="ct_app_types_cnt">
                                    <h4 class="ct_fs_22 ct_fw_700 mb-2">Entertainment</h4>
                                    <p class="ct_fs_14">Create captivating and engaging mobile entertainment apps that
                                          connect users with content, experiences, and communities. From streaming
                                          platforms to gaming companions, we build immersive digital entertainment
                                          solutions.</p>
                                    <div class="mt-4">
                                          <a class="ct_blue_outline_btn ct_white_outline_border w-100 text-center">Discover
                                                Entertainment App Solutions</a>
                                    </div>
                              </div>
                        </div>

                  </div>


            </div>
            <div class="ct_btn_group ct_py_70 pb-0 justify-content-center">
                  <a routerLink="/how-we-compare" class="ct_blue_btn_fill">Learn how we compare</a>
                  <a class="ct_link_green ct_link_blue ct_fs_16  ct_fw_400">View More industries</a>

            </div>
      </div>

</section>
<!-- Types Of Mobile App Section E -->




<hr class="ct_break_line">
<!-- Testimonial Section S -->
<section class="ct_pt_50 ct_testimonial_section_main">
      <div class="container ct_bottom_arrow_shape_1">
            <div class="row" >
                  <div class="col-md-12">
                        <h1 class="ct_fs_44 text-center ct_fw_700 mb-4">An App <span
                                    class="ct_orange_gredient_text">Platform</span> For Every Type Of Business
                        </h1>

                       <div class="owl-carousel owl-theme ct_testimonial_slider pt-4">
                  <div class="item">
                    <div class="ct_testimonial_main">
                        <div>
                              <img src="assets/img/clinet_logo-1.png" alt="">
                        <p>
 Very nice people! they become like family for me. They helped me with my website and they delivered good work. The communication is great. You always get a fast responds. I definitely recommend them. 
                      </p>
                        </div>

                      <div class="mt-auto">
                        <div class="ct_testimonial_user_img">
                        <img src="assets/img/client_2.jpg" alt="">
                      </div>
                      <div class="text-center mt-2">
                        <h5 class="ct_fs_20 ct_fw_600 mb-0">Justine Pogroske</h5>
                        <p class="mb-0">Our Happy Client</p>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                  <div class="ct_testimonial_main">
                       <div>
                         <img src="assets/img/clinet_logo-2.png" alt="">
                        <p>
 They did an amazing work on a very large and challenging project. We do appreciate the great effort and creativity their team put in creating the base for our social marketplace. CTIS is an amazing and very professional fellow. Keep up the great work folks! 
                      </p>
                       </div>

                    <div class="mt-auto">
                          <div class="ct_testimonial_user_img">
                        <img src="assets/img/client_1.png" alt="">
                      </div>
                      <div class="text-center mt-2">
                        <h5 class="ct_fs_20 ct_fw_600 mb-0">Ady Bui </h5>
                        <p class="mb-0">Our Happy Client</p>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="item">
                  <div class="ct_testimonial_main">
                       <div>
                         <img src="assets/img/clinet_logo-3.svg" alt="">
                        <p>
                        I would recommend this company for any upcoming projects and I will use them in the future. They were very much in contact during the whole process and kept me up to date with the progress of work. This was my first time using this platform and I'd say I'm pleased with the work in general. 
                      </p>
                       </div>

                     <div class="mt-auto">
                         <div class="ct_testimonial_user_img">
                        <img src="assets/img/client_3.jpg" alt="">
                      </div>
                      <div class="text-center mt-2">
                        <h5 class="ct_fs_20 ct_fw_600 mb-0">Phillipe Dastous </h5>
                        <p class="mb-0">Our Happy Client</p>
                      </div>
                     </div>
                    </div>
                  </div>
                 
                </div>

                  </div>

            </div>

      </div>
</section>
<!-- Testimonial Section E -->

<!-- Faq Section S -->
<section class="ct_grey_bg ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-12" >
                        <h1 class="ct_fs_44 text-center ct_fw_700">Find The <span
                                    class="ct_orange_gredient_text">Answers</span> Of Your Questions</h1>
                        <p class="text-center">Find answers to Frequently Asked Questions about our Creative.ai</p>
                  </div>
            </div>
           <div class="row mt-4 align-items-center">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="ct_faq_img">
          <img
            loading="lazy"
            src="assets/img/faq_xcti_new1223.png"
            alt="AI-powered app and web development"
          />
        </div>
      </div>
      <div class="col-md-7 offset-md-1 mb-4 mb-md-0">
        <div class="ct_how_works_collapse">
          <div class="accordion" id="ct_how_works_accordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="faq_one">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_one"
                  aria-expanded="true"
                  aria-controls="collapsefaq_one"
                >
                  What is the cost of developing a mobile app?
                </button>
              </h2>
              <div
                id="collapsefaq_one"
                class="accordion-collapse collapse show"
                aria-labelledby="faq_one"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-3 ct_line_h_30">
                    App development costs can vary significantly based on the
                    complexity and features required. For small businesses with
                    common needs like online sales, appointment booking, or
                    reservations, we offer cost-effective, pre-built Studio
                    Store apps that provide excellent solutions.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqtwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Two"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  How much time does it take to get your mobile app ready?
                </button>
              </h2>
              <div
                id="collapsefaq_Two"
                class="accordion-collapse collapse"
                aria-labelledby="faqtwo"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-3 ct_line_h_30">
                    Typically, a functional and robust mobile app can be ready
                    for launch within 3 to 6 months. This timeframe is generally
                    sufficient for developing a well-designed app with core
                    features and essential functionalities. It includes phases
                    like initial planning, UI/UX design, development, thorough
                    testing, and preparation for deployment. More complex apps
                    with extensive features or integrations would naturally
                    require a longer development cycle.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqthree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Three"
                  aria-expanded="false"
                  aria-controls="collapsefaq_Three"
                >
                  Why should I choose Creative Thoughts Informatics over other
                  development partners?
                </button>
              </h2>
              <div
                id="collapsefaq_Three"
                class="accordion-collapse collapse"
                aria-labelledby="faqthree"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-3 ct_line_h_30">
                    Choosing the right development partner is crucial. At
                    Creative Thoughts Informatics, we differentiate ourselves
                    through a unique blend of AI-powered efficiency, guaranteed
                    pricing, and a commitment to competitive timelines. Our use
                    of AI automates complex processes, leading to faster, more
                    cost-effective solutions without compromising quality.
                  </p>
                  <p class="ct_fs_16 mb-0 ct_line_h_30">
                    We provide complete transparency, from initial prototypes to
                    final deployment, ensuring your vision is brought to life
                    with precision and without unexpected costs. Our focus is on
                    delivering high-impact digital products tailored to your
                    global needs, making us a strategic partner for your
                    success.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqfour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_four"
                  aria-expanded="false"
                  aria-controls="collapsefaq_four"
                >
                  Do you build web apps as well as mobile apps?
                </button>
              </h2>
              <div
                id="collapsefaq_four"
                class="accordion-collapse collapse"
                aria-labelledby="faqfour"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-3 ct_line_h_30">
                    Yes! We specialize in mobile apps and responsive web apps.
                    Whether you need an iOS or Android app, a custom web
                    platform, or an all-in-one solution, our AI app builder and
                    expert developers handle it all.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="faqfive">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_five"
                  aria-expanded="false"
                  aria-controls="collapsefaq_five"
                >
                  Will I own the source code and app when it’s finished?
                </button>
              </h2>
              <div
                id="collapsefaq_five"
                class="accordion-collapse collapse"
                aria-labelledby="faqfive"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-3 ct_line_h_30">
                    Absolutely. Once your project is completed and all payments
                    are made, you fully own your app’s source code and all
                    intellectual property. We believe in building lasting
                    partnerships based on trust and transparency.
                  </p>
                </div>
              </div>

              
            </div>

              <div class="accordion-item">
              <h2 class="accordion-header" id="faqSix">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefaq_Six"
                  aria-expanded="false"
                  aria-controls="collapsefaq_Six"
                >
                  Will I own the source code and app when it’s finished?
                </button>
              </h2>
              <div
                id="collapsefaq_Six"
                class="accordion-collapse collapse"
                aria-labelledby="faqSix"
                data-bs-parent="#ct_how_works_accordion"
              >
                <div class="accordion-body">
                  <p class="ct_fs_16 mb-3 ct_line_h_30">
                    Absolutely. Once your project is completed and all payments
                    are made, you fully own your app’s source code and all
                    intellectual property. We believe in building lasting
                    partnerships based on trust and transparency.
                  </p>
                </div>
              </div>

              
            </div>
          </div>
        </div>
      </div>
    </div>

      </div>
</section>
<!-- Faq Section E -->

<!-- free demo Section S -->
<section class="ct_pt_50 ct_pb_50">
      <div class="container">
            <div class="col-md-12">
                  <div class="ct_free_demo_bg">
                        <h3 class="ct_fs_20   text-center text-white mb-2 ct_fw_600">Need help to decide?
                        </h3>
                        <h2 class="ct_fs_38 text-center ct_fw_600 text-white mb-2">Find out which plan is right for you</h2>
                        <p class="ct_fs_17 mb-0 text-center text-white">In less than 60 seconds</p>
                        <div class="text-center mt-4">
                              <a routerLink="/free-demo" class="ct_blue_btn_fill ct_white_btn">Get a free demo</a>
                        </div>
                  </div>
            </div>

      </div>
</section>
<!-- free demo Section S -->
<app-footer />